<section class="section">
	<div class="container">
		<div class="person">
			<h1 class="title">Массажистка Ксюша</h1>
			<ul class="breadcrumbs">
				<li>
					<a href="#">Интим массаж Одесса</a>
				</li>
				<li>
					<a href="#">Ксюша</a>
				</li>
			</ul>

			<div class="person__body">
				<div class="left-column">
					<div class="person__gallery">
						<div class="person__common-photo">
							<div class="swiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<a data-fancybox="person-gallery" href="img/girls/10.webp" class="person__photo">
											<img src="img/girls/10.webp" alt="Ксюша" />
										</a>
									</div>
									<div class="swiper-slide">
										<a data-fancybox="person-gallery" href="img/girls/11.webp" class="person__photo">
											<img src="img/girls/11.webp" alt="Ксюша" />
										</a>
									</div>
									<div class="swiper-slide">
										<a data-fancybox="person-gallery" href="img/girls/12.webp" class="person__photo">
											<img src="img/girls/12.webp" alt="Ксюша" />
										</a>
									</div>
									<div class="swiper-slide">
										<a data-fancybox="person-gallery" href="img/girls/13.webp" class="person__photo">
											<img src="img/girls/13.webp" alt="Ксюша" />
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="person__thumbs">
							<div class="swiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="person__thumbs-item">
											<img src="img/girls/10.webp" alt="Ксюша" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="person__thumbs-item">
											<img src="img/girls/11.webp" alt="Ксюша" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="person__thumbs-item">
											<img src="img/girls/12.webp" alt="Ксюша" />
										</div>
									</div>
									<div class="swiper-slide">
										<div class="person__thumbs-item">
											<img src="img/girls/13.webp" alt="Ксюша" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="person__about">
						<div class="text-block">
							<h2 class="title">О себе</h2>
							<p>Массаж — это один из самых приятных и полезных способов заботы о себе. Он помогает снять мышечное напряжение, улучшает циркуляцию крови, активизирует лимфоток и способствует общему расслаблению организма. Всего один сеанс может снять стресс и улучшить самочувствие. Это идеальное сочетание удовольствия и пользы для здоровья.</p>
						</div>
						<a class="btn btn--primary" href="#">Подробнее</a>
					</div>
					<div class="person__preference">
						<h2 class="title">Предпочтение</h2>
						<ul class="person__preference-list">
							<li>
								<h3>Секс</h3>
								<ul>
									<li>
										<i class="icon icon--check"></i>
										<span>Классический</span>
									</li>
									<li>
										<i class="icon icon--check"></i>
										<span>Анальный</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Групповой</span>
									</li>
									<li>
										<i class="icon icon--check"></i>
										<span>В машине</span>
									</li>
								</ul>
							</li>
							<li>
								<h3>Стриптиз</h3>
								<ul>
									<li>
										<i class="icon icon--check"></i>
										<span>Профи</span>
									</li>

									<li>
										<i class="icon icon--close"></i>
										<span>Не профи</span>
									</li>
								</ul>
							</li>
							<li>
								<h3>Фистинг</h3>
								<ul>
									<li>
										<i class="icon icon--close"></i>
										<span>Анальный</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Классический</span>
									</li>
								</ul>
							</li>
							<li>
								<h3>Золотой дождь</h3>
								<ul>
									<li>
										<i class="icon icon--close"></i>
										<span>Выдача</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Принятие</span>
									</li>
								</ul>
							</li>
							<li>
								<h3>Минет</h3>
								<ul>
									<li>
										<i class="icon icon--check"></i>
										<span>В резинке</span>
									</li>
									<li>
										<i class="icon icon--check"></i>
										<span>Без резинки</span>
									</li>
									<li>
										<i class="icon icon--check"></i>
										<span>Глубокий</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Горловой</span>
									</li>
								</ul>
							</li>
							<li>
								<h3>Массаж</h3>
								<ul>
									<li>
										<i class="icon icon--check"></i>
										<span>Классический</span>
									</li>
									<li>
										<i class="icon icon--check"></i>
										<span>Эротический</span>
									</li>
									<li>
										<i class="icon icon--check"></i>
										<span>Расслабляющий</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Профессиональный</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Тайский</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Урологический</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Ветка сакуры</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Лечебный</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>В четыре руки</span>
									</li>
								</ul>
							</li>
							<li>
								<h3>Бдсм</h3>
								<ul>
									<li>
										<i class="icon icon--check"></i>
										<span>Ролевые игры</span>
									</li>

									<li>
										<i class="icon icon--close"></i>
										<span>Бандаж</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Госпожа</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Рабыня</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Доминация</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Порка</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Фетиш</span>
									</li>
								</ul>
							</li>
							<li>
								<h3>Остальное</h3>
								<ul>
									<li>
										<i class="icon icon--check"></i>
										<span>Эскорт</span>
									</li>
									<li>
										<i class="icon icon--check"></i>
										<span>Куннилингус</span>
									</li>
									<li>
										<i class="icon icon--check"></i>
										<span>Поза 69</span>
									</li>
									<li>
										<i class="icon icon--check"></i>
										<span>Игрушки</span>
									</li>

									<li>
										<i class="icon icon--close"></i>
										<span>Страпон</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Анилингус делаю</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Услуги семейно паре</span>
									</li>
									<li>
										<i class="icon icon--close"></i>
										<span>Копрофагия выдача</span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="person__reviews">
						<h2 class="title">Отзывы</h2>
						<div class="person__reviews-list">
							<div class="person__review-item">
								<p>
									<span>Doctor Den</span>
									<span>01.03.25, 20:33</span>
								</p>
								<span>Яркая красотка с аппетитной фигуройи горячимтемпера Красотка, красотка, красотка. Красивое лицо, страстные губы, грудь топовая один восторг, ее нежные ручки нежно обнимающие и постоянно гладят. Попа великолепна, упругая. Ножки длинные и такие красивые. Сама девочка очень общительная, открытая и приятная. Время провел огонь, поговорили, выпили и позанимались сексом. Процесс шикарный 10 из 10. Я кайфанул на все 100000%ментом! Буду самой изысканной, развратной и ненасытной!</span>
							</div>
							<div class="person__review-item">
								<p>
									<span>Doctor Den</span>
									<span>01.03.25, 20:33</span>
								</p>
								<span>Яркая красотка с аппетитной фигуройи горячимтемпера Красотка, красотка, красотка. Красивое лицо, страстные губы, грудь топовая один восторг, ее нежные ручки нежно обнимающие и постоянно гладят. Попа великолепна, упругая. Ножки длинные и такие красивые. Сама девочка очень общительная, открытая и приятная. Время провел огонь, поговорили, выпили и позанимались сексом. Процесс шикарный 10 из 10. Я кайфанул на все 100000%ментом! Буду самой изысканной, развратной и ненасытной!</span>
							</div>
							<div class="person__review-item">
								<p>
									<span>Doctor Den</span>
									<span>01.03.25, 20:33</span>
								</p>
								<span>Яркая красотка с аппетитной фигуройи горячимтемпера Красотка, красотка, красотка. Красивое лицо, страстные губы, грудь топовая один восторг, ее нежные ручки нежно обнимающие и постоянно гладят. Попа великолепна, упругая. Ножки длинные и такие красивые. Сама девочка очень общительная, открытая и приятная. Время провел огонь, поговорили, выпили и позанимались сексом. Процесс шикарный 10 из 10. Я кайфанул на все 100000%ментом! Буду самой изысканной, развратной и ненасытной!</span>
							</div>
						</div>
						<div class="person__reviews-action">
							<div class="person__reviews-action-item">
								<button class="btn btn--primary">Загрузить еще</button>
							</div>
							<div class="person__reviews-action-item">
								<a href="#" class="btn btn--primary-outline">Войти и оставить отзыв</a>
							</div>
							<div class="person__reviews-action-item"></div>
						</div>
					</div>
				</div>

				<div class="right-column">
					<div class="sticky-wrapper">
						<div class="person__contacts" data-da=".left-column,992,0">
							<div class="person__phone">
								<button class="btn btn--primary">Показать телефон</button>
							</div>
							<div class="c-row">
								<a class="btn btn--curious-blue" href="https://t.me/nikname">
									<i class="icon icon--telegram"></i>
								</a>
								<a class="btn btn--emerald" href="https://wa.me/380XXXXXXXXX">
									<i class="icon icon--whatsapp"></i>
								</a>
							</div>
							<a class="btn btn--studio" href="viber://chat?number=%2B380XXXXXXXXX">
								<i class="icon icon--viber"></i>
							</a>
							<p class="person__number">Номер анкеты: 28260</p>
						</div>
						<ul class="person__info" data-da=".left-column,992,2">
							<li class="person__info-item">
								<span class="name">Город:</span>
								<span class="value" style="--color-text: var(--hot-pink)">Одесса</span>
							</li>
							<li class="person__info-item">
								<span class="name">Возраст:</span>
								<span class="value">34</span>
							</li>
							<li class="person__info-item">
								<span class="name">Грудь:</span>
								<span class="value">2</span>
							</li>
							<li class="person__info-item">
								<span class="name">Вес:</span>
								<span class="value">52</span>
							</li>
							<li class="person__info-item">
								<span class="name">Рост:</span>
								<span class="value">172</span>
							</li>
							<li class="person__info-item">
								<span class="name">Интимная стрижка:</span>
								<span class="value">Полная депиляция</span>
							</li>
							<li class="person__info-item">
								<span class="name">Цвет волос:</span>
								<span class="value">Брюнетка</span>
							</li>
							<li class="person__info-item">
								<span class="name">Телосложение:</span>
								<span class="value">Стройная</span>
							</li>
							<li class="person__info-item">
								<span class="name">Выезжаю:</span>
								<span class="value" style="--color-text: var(--hot-pink)">Квартиры, Гостиницы, Сауны, Офисы </span>
							</li>
							<li class="person__info-item">
								<span class="name">Район:</span>
								<span class="value" style="--color-text: var(--hot-pink)">Центр</span>
							</li>
							<li class="person__info-item">
								<span class="name">Метро:</span>
								<span class="value" style="--color-text: var(--hot-pink)">Белорусская</span>
							</li>
							<li class="person__info-item">
								<span class="name">Отвечаю на:</span>
								<span class="value">
									<span style="--color-text: var(--hot-pink)">Звонки</span>
									<span style="--color-text: var(--curious-blue)">Telegram,</span> <span style="--color-text: var(--emerald)">Whatsapp,</span>
									<span style="--color-text: var(--studio)">Viber</span>
								</span>
							</li>
							<li class="person__info-item">
								<span class="name">Время работы:</span>
								<span class="value">Круглосуточно</span>
							</li>
							<li class="person__info-item">
								<span class="name">Дата последней активности:</span>
								<span class="value">02.04.2025</span>
							</li>
						</ul>
						<div class="person__tags" data-da=".left-column,992,3">
							<div class="tags__list">
								<a class="tags__item" href="#" style="--color-tag-bg: var(--finn)">Индивидуалка</a>
								<a class="tags__item" href="#">Секс классический</a>
								<a class="tags__item" href="#">Фетиш</a>
								<a class="tags__item" href="#">МБР</a>
								<a class="tags__item" href="#" style="--color-tag-bg: var(--finn)">VIP</a>
								<a class="tags__item" href="#">Анальный секс</a>
								<a class="tags__item" href="#">Есть подруга</a>
								<a class="tags__item" href="#">Лечебный массаж</a>
								<a class="tags__item" href="#">Натуральная грудь</a>
								<a class="tags__item" href="#">МЖМ</a>
							</div>
						</div>
						<div class="person__prices" data-da=".left-column,992,5">
							<h2 class="title">Тариф</h2>
							<div class="person__prices-wrapper">
								<div class="item">
									<div class="bg">
										<img src="img/day-bg.jpg" alt="" />
									</div>
									<div class="prices">
										<div class="col">
											<div class="title">1 Час</div>
											<p>У меня <span>4000грн</span></p>
											<p>У тебя <span>4000грн</span></p>
										</div>
										<div class="col">
											<div class="title">2 Часa</div>
											<p>У меня <span>4000грн</span></p>
											<p>У тебя <span>4000грн</span></p>
										</div>
									</div>
									<div class="title title--center">Экспресс</div>
									<div class="prices">
										<div class="col">
											<p>У меня <span>4000грн</span></p>
										</div>
										<div class="col">
											<p>У тебя <span>4000грн</span></p>
										</div>
									</div>
								</div>
								<div class="item item--dark">
									<div class="bg">
										<img src="img/night-bg.jpg" alt="" />
									</div>
									<div class="prices">
										<div class="col">
											<div class="title">1 Час</div>
											<p>У меня <span>4000грн</span></p>
											<p>У тебя <span>4000грн</span></p>
										</div>
										<div class="col">
											<div class="title">2 Часa</div>
											<p>У меня <span>4000грн</span></p>
											<p>У тебя <span>4000грн</span></p>
										</div>
									</div>
									<div class="title title--center">Экспресс</div>
									<div class="prices">
										<div class="col">
											<p>У меня <span>4000грн</span></p>
										</div>
										<div class="col">
											<p>У тебя <span>4000грн</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="advantages" data-da="main,992,3">
							<h2 class="title">MissOdessa — это:</h2>

							<ul class="advantages__list">
								<li>
									<p>✅ Надёжно</p>
									<span> Все анкеты проходят ручную модерацию — никаких фейков и подстав.</span>
								</li>
								<li>
									<p>✅ Удобно</p>
									<span> Фильтры по району, ценам и внешности — выбирайте легко и быстро.</span>
								</li>
								<li>
									<p>✅ Быстро</p>
									<span>Девушки рядом, свободные и готовые встретиться уже сегодня.</span>
								</li>
								<li>
									<p>✅ Конфиденциально</p>
									<span> Никаких регистраций и лишних данных — безопасность на первом месте.</span>
								</li>
								<li>
									<p>✅ Круглосуточно</p>
									<span> Доступ к анкетам и номерам 24/7, даже в праздники и ночью.</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
