<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space - Login page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex h-full flex-col font-inter">
		<header class="border-b border-neutral-black-5">
	<div class="container">
		<div class="flex items-center justify-center gap-4 py-5 lg:py-10">
			<a href="../../index.html">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
		</div>
	</div>
</header>

		<main class="flex-grow">
			<div class="container flex h-full flex-col py-13 lg:py-10">
				<div class="mx-auto w-full max-w-110">
					<div class="text-center">
						<h1 class="text-sm2x font-semibold leading-125 tracking-tight text-primary-black lg:text-base2x">Login</h1>
						<p class="mt-2 text-sm leading-150 text-neutral-black-70 lg:text-base">Welcome back! Please enter your details.</p>
					</div>

					<div class="mt-8">
						<a href="#" class="flex h-12 w-full items-center justify-center gap-2 rounded-xl border border-neutral-black-5 px-5 py-3.5 transition-all duration-300 hover:bg-neutral-black-1">
							<div class="h-5 w-5">
								<img decoding="async" src="../../img/google.png" srcset="../../img/google2x.png 2x" title="" alt="google logo" loading="lazy" class="h-full w-full object-contain" />
							</div>
							<div class="font-medium leading-150 text-primary-black">Continue with Google</div>
						</a>

						<div class="relative mt-6 flex flex-col items-center">
							<div class="absolute left-0 right-0 top-1/2 z-1 h-one -translate-y-1/2 bg-neutral-black-5"></div>
							<p class="relative z-10 flex w-max justify-center bg-white px-4 text-sm font-semibold">or</p>
						</div>
					</div>

					<div class="mt-6">
						<label class="flex flex-col gap-2">
							<span class="text-sm font-semibold leading-150 tracking-tight text-primary-black">Email</span>
							<input type="email" class="h-12 w-full rounded-xl border border-primary-green-gray bg-primary-green-gray px-3.5 py-3 text-primary-black transition-all duration-300 placeholder:text-neutral-black-50 focus:border-secondary focus:bg-white focus:shadow-input" placeholder="anreychernov@gmail.com" />
						</label>
						<label class="mt-5 flex flex-col gap-2">
							<span class="text-sm font-semibold leading-150 tracking-tight text-primary-black">Password</span>
							<div class="relative flex w-full flex-grow">
								<input type="password" class="h-12 w-full rounded-xl border border-primary-green-gray bg-primary-green-gray py-3 pl-3.5 pr-13 text-primary-black transition-all duration-300 placeholder:text-neutral-black-50 focus:border-secondary focus:bg-white focus:shadow-input" />
								<button class="absolute right-3 top-1/2 z-1 -translate-y-1/2">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.0001 18.9999C11.1581 18.9999 10.3151 18.8219 9.49609 18.5049" stroke="#82858B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
										<path d="M20.882 12.468C18.99 15.967 15.495 19 12 19" stroke="#82858B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
										<path d="M19.0791 8.92102C19.7701 9.73002 20.3841 10.612 20.8821 11.533C21.0391 11.824 21.0391 12.177 20.8821 12.468" stroke="#82858B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
										<path d="M5 19L19 5" stroke="#82858B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
										<path d="M9.77309 14.227C8.54309 12.997 8.54309 11.002 9.77309 9.77199C11.0031 8.54199 12.9981 8.54199 14.2281 9.77199" stroke="#82858B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
										<path d="M17.0442 6.956C15.4972 5.759 13.7482 5 12.0002 5C8.50524 5 5.01024 8.033 3.11824 11.533C2.96124 11.824 2.96124 12.177 3.11824 12.468C4.06424 14.217 5.41024 15.849 6.95624 17.045" stroke="#82858B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
									</svg>
								</button>
							</div>
						</label>
						<button class="mt-12 flex h-12 w-full items-center justify-center rounded-xl bg-primary px-3.5 py-3 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover">Continue with Email</button>
					</div>

					<div class="mt-6">
						<div class="flex justify-center gap-2 text-sm text-primary-black">
							<p class="">Don’t have an account?</p>
							<a href="#" class="text-secondary transition-all duration-300 hover:text-secondary-30">Sign up</a>
						</div>
						<div class="mt-1 flex justify-center gap-2 text-sm text-primary-black">
							<p class="">Forgot password?</p>
							<a href="#" class="text-secondary transition-all duration-300 hover:text-secondary-30">Change password</a>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script src="../../js/app.js"></script>

	</body>
</html>
