<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space - Verification message page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full font-inter">
		<header class="border-b border-neutral-black-5">
	<div class="container">
		<div class="flex items-center justify-center gap-4 py-5 lg:py-10">
			<a href="../../index.html">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
		</div>
	</div>
</header>

		<main class="flex-grow">
			<div class="container flex flex-col h-full py-13 lg:py-10">
				<div class="w-full mx-auto max-w-110">
					<div class="flex flex-col items-center justify-center gap-6">
						<div class="h-39 w-39">
							<img decoding="async" src="../../img/auth-verification2.png" srcset="../../img/auth-verification2-2x.png 2x" title="" alt="" loading="lazy" class="object-contain w-full h-full" />
						</div>
						<div class="text-center">
							<h1 class="font-semibold tracking-tight text-sm2x leading-125 text-primary-black lg:text-base2x">Check your Email</h1>
							<p class="mt-2 text-sm leading-150 text-neutral-black-70 lg:text-base">Please check your email address <span class="font-semibold">anreychernov@gmail.com</span> to get instructions on how to create your password.</p>
						</div>
						
					</div>
				</div>
			</div>
		</main>
		<script src="../../js/app.js"></script>

	</body>
</html>
