@mixin text-main($font-size, $font-weight, $font-color) {
    font-family: $font-primary;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $font-color;

}

@mixin text-italic($font-size, $font-weight, $font-color) {
    font-family: $font-secondary;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $font-color;

}

@mixin text-footer($font-size, $font-weight, $font-color) {
    font-family: $font-footer;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $font-color;

}




@mixin btn1 ($font-size, $font-weight, $font-color, $font-padding, $b-radius) {
    
    @include text-main($font-size, $font-weight, $font-color);

    text-decoration: none;
    text-transform: uppercase;

    padding: $font-padding;

    border-radius: $b-radius;
        
    transition: all .2s ease-in;
}

@mixin readmore-btn ()  {
    @include btn1 (15px, 600, $text-color-01, 15px 30px, 10px);

        display: inline-block;
        background-color: $btn-color-01;
        box-shadow: 0 10px $btn-border-color-01;
        transition: box-shadow .2s ease-in;

        &:hover {
            box-shadow: 0 10px $btn-color-02;
        }

}

@mixin btnblock ($padding) {
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__link {
            display: block;
            @include btn1 (13px, 600, $text-color-02, $padding, 50px);

            &:hover {

                color: $text-color-01;
                background-color: $btn-color-01;
                box-shadow: 4px 4px 16px rgba(1,2,2,.35);

            }

        }

    }
