// =========== MAIN ===========
@import "../../../node_modules/normalize.css/normalize";
@import "vars";
@import "fonts";
@import "mixins";


*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

// ===========  Container =========== 

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

// ===========  BURGER =========== 
.burger {
    display: block;
    width: 30px;
    height: 5px;
    background-color: $white;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        display: block;
        top: -10px;
        left: 0;
        width: 30px;
        height: 5px;
        background-color: $white;
        transition: transform 0.2s ease-in, top .2s linear .2s;
      }

      &::before {
        position: absolute;
        content: '';
        display: block;
        top: 10px;
        left: 0;
        width: 30px;
        height: 5px;
        background-color: $white;
        transition: transform 0.2s ease-in, top .2s linear .2s;
      }

      &.burger-active {
        background-color: transparent;
      }

      &.burger-active::after {
        transform: rotate(45deg);
        top: 0;
        transition: top .2s linear, transform 0.2s ease-in .2s;
      } 

      &.burger-active::before {
        transform: rotate(-45deg);
        top: 0;
        transition: top .2s linear, transform 0.2s ease-in .2s;
      }

  }

  // ===========  HEADER BLOCK =========== 

.header {
    width: 100%;
    height: 150px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 50px 80px;
    
    }
}

 // ===========  NAVIGATION =========== 

 .nav {
     display: flex;
     flex-wrap: wrap;
     font-weight: 600;
     font-size: 17px;

     &__link {
        margin-left: 36px;
        font-family: $font-primary;
    
        color: $white;
        text-decoration: none;
        opacity: .75;
    
        transition: opacity .1s linear;
    }

    &__link:first-child {
        margin-left: 0;
    }

    &__link:hover {
        opacity: 1;
    }
 }

// =========== INTRO BLOCK =========== 
.intro {
    width: 100%;
    height: 950px;
    
    background: url("../img/header_bg.jpg") center no-repeat;
    background-size: cover;
   
        &__inner {
            width: 100%;
            max-width: 1355px;
            margin: 0 auto;
            padding-top: 290px;
            position: relative;
        }

        &__img {
            position: absolute;
            top: 168px;
            right: 0;
        }

        &__btn {
            margin-top: 70px;

            .ourstory {
                padding-left: 50px;
            }
            .readmore {
                padding-left: 20px;
            }
        }
}



.main {
    width: 100%;

    &__text1 {
        @include text-italic(42px, 400, $white);
        padding-bottom: 20px;
    }

    &__slogan {
        @include text-main(64px, 600, $white);
    }

    &__text2 {
        @include text-main(23px, 400, $white);
        padding-top: 40px;
    }

}


// =========== BUTTONS =========== 

.btn__intro {
    
    @include btn1 (16px, 600, $white, 22px 45px, 50px);
    
    background-color: $color1;
    box-shadow: 4px 4px 16px rgba(1,2,2,.35);
   
    &:hover {
        background-color: $color2;
    }
  
           
    
}


// =========== OUR COMPANY BLOCK =========== 

.company {
    width: 100%;
    height: 660px;

    background: $white url(../img/world_map.png) center no-repeat;
    background-size: cover;
    overflow: hidden;

    &__inner {
        display: flex;
        flex-wrap: wrap;

    }

    &__about {
        width: 50%;

        &-img {
            padding-top: 70px;
            text-align: right;
        }
    }

    &__text1 {
        @include text-italic (32px, 400, $black);
        padding-top: 100px;
    }
    &__text2 {
        @include text-main (14px, 400, $black);
        line-height: 25px;
        
        padding-top: 30px;
    }
    &__slogan {
        @include text-main (50px, 600, $black);
        padding-top: 25px;
        padding-bottom: 30px;
    }

    &__btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-link {
            display: block;
            @include btn1 (13px, 600, $black, 15px 30px, 50px);

            &:hover {

                color: $white;
                background-color: $color1;
                box-shadow: 4px 4px 16px rgba(1,2,2,.35);

            }

        }

    }

    &__btn2 {

        &-block {
            padding-top: 60px;
            padding-left: 15px;
        }

        &-link {
            display: inline-block;
            @include btn1 (15px, 600, $white, 15px 30px, 10px);
            background-color: $color1;
            box-shadow: 0 10px $color1_1;

            transition: box-shadow .2s ease-in;

            &:hover {
                box-shadow: 0 10px $color2;
            }

        }
        


    }

    

    
}