// =========== variables ===========

// =========== FONT ===========
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Palatino Italic', sans-serif;


// =========== COLOR ===========
$color1: #f42267;
$color1_1: #ff5990;
$color2: #753390;
$white: #fff;
$black: #484848;
