// =========== variables ===========

// =========== FONT ===========
$FontPrimary: 'Montserrat', sans-serif;
$FontSecondary: 'Palatino Italic', sans-serf;


// =========== COLOR ===========
$Color1: #f42267;
$Color2: #753390;
