// =========== variables ===========

// =========== FONT ===========
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Palatino Italic', sans-serif;
$font-footer: 'Poppins', sans-serif;


// =========== COLOR ===========
$btn-color-01: #f42267;
$btn-color-02: #753390;
$btn-color-03: #a57ee9;
$btn-border-color-01: #ff5990;
$btn-border-color-02: #a57ee9;
$text-color-01: #fff;
$text-color-02: #484848;
$text-color-03: #000;
$color-achievement-bg1: #4b2d7f;
$color-achievement-bg2: #40286a;
$color-works-block-bg: #f1f1f1;

$bg-color-ach-block-01: #4b2d7f;
$bg-color-ach-block-02: #40286a;
$bg-color-works-block: #f1f1f1;
$bg-color-cli-block: #4b2d7f;
$bg-color-social-block: #4b2d7f;
$bg-color-footer: #f6f6f6;


