.page {
	display: flex;
	flex-direction: column;
	gap: 80px;

	&:last-child {
		padding-bottom: 80px;
	}

	.breadcrumbs {
		padding: 0;

		&__list {
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
		}
	}

	&__header {
		.section-title {
			font-size: 60px;
			font-weight: 800;
			color: var(--c-gray-1);
			margin: 0 auto 16px;

			@media (width <= 991px) {
				font-size: 32px;
			}
		}

		.section-desc {
			color: var(--c-gray-4);
			margin: 0 auto 36px;
		}
	}

	&__tags {
		display: flex;
		gap: 16px;

		.s-niche-nav {
			flex: 1;
			margin-bottom: 0;

			&__list {
				justify-content: start;
				max-width: unset;
			}

			&__btn {
				min-height: 50px;
			}

			@media (width <= 767px) {
				overflow: auto;

				&__list {
					margin: 0;
					padding: 0;
					gap: 8px;
				}

				&__btn {
					font-size: 16px;
					padding-inline: 20px;
				}
			}
		}

		@media (width <= 991px) {
			flex-wrap: wrap;
		}
	}

	&__tags-search {
		flex: 0 0 300px;

		@media (width <= 991px) {
			flex: 0 0 100%;
			order: -1;
		}
	}

	&__article {
		.page__header {
			padding-block: 16px 166px;
			background-color: var(--c-gray-6);

			.blog__item-tags {
				margin-top: 80px;
			}

			.section-title {
				margin-top: 16px;
				text-align: left;
				max-width: unset;
				margin: 0;
			}

			@media (width <=991px) {
				padding-bottom: 100px;

				.blog__item-tags {
					justify-content: center;
					margin-top: 25px;
				}

				.section-title {
					margin-top: 25px;
					text-align: center;
				}
			}
		}

		.article {
			h2 {
				margin-bottom: 24px;

				&:has(+ h3) {
					margin-bottom: 16px;
				}

				+ h3 {
					margin-top: 0;
					margin-bottom: 24px;
				}
			}

			h3 {
				margin-block: 32px 24px;
			}

			figure {
				display: block;
				border-radius: 24px;
				aspect-ratio: 851 / 395;
				overflow: clip;
				padding: 0;
				margin: 0;

				img {
					aspect-ratio: 851 / 395;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				+ p {
					margin-top: 24px;
				}

				@media (width <=767px) {
					img {
						aspect-ratio: 288 / 165;
					}
				}
			}
		}

		.s-article {
			margin-bottom: 0;
		}
	}

	@media (width <=991px) {
		gap: 32px;
	}
}
