<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space - Portfolio page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full font-inter">
		<header class="lg:border-b lg:border-neutral-black-5">
	<div class="container">
		<div class="relative flex items-center justify-between py-3 lg:py-7">
			<a href="../../index.html" class="flex-shrink-0">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
			<div class="absolute left-0 right-0 hidden py-3 -translate-y-1/2 top-1/2 lg:block lg:py-7 -z-1">
				<div class="relative mx-auto max-w-125 xl:max-w-225">
					<div class="absolute left-0 right-0 top-1/2 -z-1 h-0.5 -translate-y-1/2 bg-neutral-black-3"></div>
					<ul class="flex items-center justify-between">
						<li class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3 shadow-step">1</li>
						<li class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3 shadow-step">2</li>
						<li class="flex items-center justify-center w-10 h-10 font-medium bg-white border-2 rounded-full border-secondary shadow-step">3</li>
						<li class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3 shadow-step">
							<span class="icon icon--rocket h-5.5 w-5.5"></span>
						</li>
					</ul>
				</div>
			</div>
			<button class="flex">
				<span class="icon icon--close"></span>
			</button>
		</div>
		<div class="w-full h-1 rounded bg-neutral-black-5 lg:hidden" style="--step: 3; --steps-total: 3">
			<div class="h-1 w-[calc((100/var(--steps-total))*var(--step)*1%)] rounded bg-primary-100"></div>
		</div>
	</div>
</header>

		<main class="flex-grow py-4 lg:py-12">
			<div class="container">
				<div class="flex">
					<div class="flex-grow">
						<div class="mx-auto max-w-225">
							<div class="flex gap-10">
								<div class="flex-shrink-0 w-full lg:w-110">
									<div class="pb-4 border-b border-b-neutral-black-3 md:pb-3">
										<p class="text-base font-medium leading-150 text-neutral-black-70 lg:text-lg">Step 3 / 3</p>
										<h1 class="mt-1.5 text-sm2x font-semibold leading-125 tracking-tight lg:text-base2x">Images</h1>
										<p class="text-sm lg:hidden">Here you can find more information. <button class="underline text-secondary underline-offset-4">Learn more</button></p>
									</div>
									<div class="flex flex-col gap-2 mt-7 md:mt-9">
										<div class="text-sm font-semibold tracking-tight leading-150 text-primary-black">Upload image</div>
										<div class="relative cursor-pointer">
											<input type="file" class="hidden" id="fileUpload" />
											<label for="fileUpload" class="absolute inset-0 z-1"></label>
											<div class="relative flex flex-col items-center w-full px-8 py-6 rounded-3xl bg-primary/10 lg:py-14">
												<div class="absolute inset-0 w-full h-full icon icon--dashed-r24 -z-0 text-primary"></div>
												<span class="icon icon--media-upload h-12.5 w-12.5"></span>
												<p class="mt-6 text-lg font-medium lg:text-xl lg:mt-9">Drag and Drop</p>
												<p class="mt-2 text-sm opacity-50 lg:mt-3">or</p>
												<button class="mt-3 lg:mt-4 flex h-12 w-full flex-shrink-0 items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover">
													<span>Choose an image</span>
												</button>
											</div>
										</div>
										<div class="flex items-center justify-between text-xs text-neutral-black-70">
											<p>Supported formats: PNG, JPEG</p>
											<p>Max size: 5mb</p>
										</div>
									</div>
									<div class="flex gap-2 mt-12">
										<button class="flex h-12 w-fit items-center justify-center gap-2 rounded-xl border border-neutral-black-5 px-5 py-3.5 text-sm transition-all duration-300 hover:bg-neutral-black-1">
											<span>Skip the step</span>
										</button>
										<button class="flex h-12 flex-shrink-0 items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover md:w-fit">
											<span>Save&Continue</span>
											<span class="icon icon--arrow-right"></span>
										</button>
									</div>
								</div>
								<div class="flex-grow hidden lg:block">
									<div class="p-8 border rounded-3xl border-neutral-black-5">
										<div class="flex h-7.5 w-fit items-center gap-1 rounded-3xl bg-secondary/10 px-2 py-1 text-sm text-secondary">
											<span class="w-5 h-5 icon icon--question-group"></span>
											<span>Quick Help</span>
										</div>

										<div class="flex flex-col gap-5 mt-6">
											<div class="pb-5 border-b border-b-neutral-black-3">
												<button class="flex items-center w-full gap-2">
													<span class="text-lg font-medium">Name of Request</span>
													<span class="ml-auto icon icon--chevron-down"></span>
												</button>
												<div class="pt-4 text-sm leading-160">
													<ul class="flex flex-col gap-4">
														<li class="flex gap-2">
															<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
															<p>The name of the request will be used to display the request in lists and in search.</p>
														</li>
														<li class="flex gap-2">
															<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
															<p>Choose a name that clearly identifies the purpose of the request for yourself.</p>
														</li>
														<li class="flex gap-2">
															<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
															<p><span class="inline-block font-semibold">Important:&nbsp;</span>Do not include detailed descriptions or additional information here.</p>
														</li>
														<li class="flex gap-2">
															<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
															<p>There will be a separate field provided for the detailed description and other information related to your request.</p>
														</li>
													</ul>
												</div>
											</div>
											<div class="">
												<button class="flex items-center w-full gap-2">
													<span class="text-lg font-medium">Asset type</span>
													<span class="ml-auto icon icon--chevron-down"></span>
												</button>
												<div class="pt-4 text-sm leading-160">
													<ul class="flex flex-col gap-4">
														<li class="flex gap-2">
															<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
															<p>This step allows you to connect an asset from your portfolio by selecting it from the drop-down menu.</p>
														</li>
														<li class="flex gap-2">
															<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
															<p><span class="inline-block font-semibold">Optional but Recommended:&nbsp;</span> While this step is optional, it is highly recommended to select an asset. This will help the expert gain more details about the asset from the system.</p>
														</li>
														<li class="flex gap-2">
															<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
															<p><span class="inline-block font-semibold">Single Selection:&nbsp;</span>You can select only one asset from the list.</p>
														</li>
														<li class="flex gap-2">
															<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
															<p>Choosing an asset ensures that the expert has all the relevant information needed to provide the best possible assistance.</p>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script src="../../js/app.js"></script>

	</body>
</html>
