<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space - Portfolio page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full font-inter">
		<header class="border-b border-neutral-black-5">
	<div class="container">
		<div class="flex items-center justify-between py-3 lg:py-7">
			<button id="burgerMenu" class="flex items-center justify-center flex-shrink-0 w-10 h-10 rounded-6lx bg-neutral-black-3 text-primary-black lg:hidden">
				<span class="icon icon--burger"></span>
			</button>
			<a href="../../index.html" class="flex-shrink-0 hidden lg:block">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
			<div class="flex items-center lg:gap-2.5 gap-2">
				<a href="#" class="flex h-10 w-full items-center justify-center rounded-xl bg-primary px-4 py-2.5 font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover lg:hidden"><span>Upgrade plan</span></a>
				<button class="items-center justify-center flex-shrink-0 hidden transition-all duration-300 lg:flex lg:w-12 lg:h-12 rounded-6lx bg-neutral-black-3 text-primary-black lg:hover:bg-neutral-black-5">
					<span class="icon icon--search"></span>
				</button>
				<button class="flex items-center justify-center flex-shrink-0 w-10 h-10 transition-all duration-300 lg:w-12 lg:h-12 rounded-6lx lg:bg-neutral-black-3 text-primary-black lg:hover:bg-neutral-black-5">
					<span class="icon icon--notification"></span>
				</button>
				<div class="relative items-center flex-shrink-0 hidden gap-3 cursor-pointer lg:flex group">
					<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-6lx bg-neutral-black-3 text-primary-black">
						<span>A</span>
					</div>
					<div class="">
						<div class="flex items-center gap-1.5">
							<div>Andrii</div>
							<span class="transition-all duration-300 transform icon icon--chevron-down group-hover:rotate-x-180"></span>
						</div>
					</div>
					<div class="pt-4 mt-8 opacity-0 lg:pointer-events-none lg:absolute lg:right-0 lg:top-0 lg:z-50 lg:transition-all lg:duration-300 lg:group-hover:pointer-events-auto lg:group-hover:translate-y-4 lg:group-hover:opacity-100">
						<div class="bg-white w-68 rounded-3xl shadow-header-menu">
							<div class="px-6 pt-6 pb-5 text-lg font-bold border-b border-b-neutral-black-5 text-primary-black">Andrii Chernov</div>
							<ul class="flex flex-col px-3 pt-5 pb-6">
								<li>
									<a href="#" class="flex items-center gap-5 px-3 py-3 transition-all duration-300 rounded-xl text-primary-black hover:bg-neutral-black-3">
										<span class="icon icon--user"></span>
										<span class="text-sm font-medium">Profile Details</span>
									</a>
								</li>
								<li>
									<a href="#" class="flex items-center gap-5 px-3 py-3 transition-all duration-300 rounded-xl text-primary-black hover:bg-neutral-black-3">
										<span class="icon icon--checklist-money"></span>
										<span class="text-sm font-medium">My plan</span>
									</a>
								</li>
								<li>
									<a href="#" class="flex items-center gap-5 px-3 py-3 transition-all duration-300 rounded-xl text-primary-black hover:bg-neutral-black-3">
										<span class="icon icon--exit"></span>
										<span class="text-sm font-medium">Log Out</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

		<main class="flex-grow py-4 lg:py-12">
			<div class="container">
				<div class="flex gap-13">
					<aside class="hidden w-fit max-w-50 lg:block">
	<a href="#" class="flex h-10 w-full items-center justify-center gap-2 rounded-xl bg-primary px-4 py-2.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover">
		<span class="w-5 h-5 icon icon--arrow-nav"></span>
		<span>Upgrade plan</span>
	</a>

	<ul class="flex flex-col gap-2 mt-10">
		<li>
			<a href="#" class="flex items-center gap-4.5 rounded-xl px-4 py-2.5 text-neutral-black-70 transition-all duration-300 hover:bg-neutral-black-3">
				<span class="icon icon--dashboard"></span>
				<span class="leading-150">Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#" class="flex items-center gap-4.5 rounded-xl px-4 py-2.5 font-medium text-primary-black transition-all duration-300 hover:bg-neutral-black-3">
				<span class="icon icon--portfolio"></span>
				<span class="leading-150">Portfolio</span>
			</a>
		</li>
		<li>
			<a href="#" class="flex items-center gap-4.5 rounded-xl px-4 py-2.5 text-neutral-black-70 transition-all duration-300 hover:bg-neutral-black-3">
				<span class="icon icon--collections"></span>
				<span class="leading-150">Collections</span>
			</a>
		</li>
		<li>
			<a href="#" class="flex items-center gap-4.5 rounded-xl px-4 py-2.5 text-neutral-black-70 transition-all duration-300 hover:bg-neutral-black-3">
				<span class="icon icon--identification"></span>
				<span class="leading-150">Identification</span>
			</a>
		</li>
		<li>
			<a href="#" class="flex items-center gap-4.5 rounded-xl px-4 py-2.5 text-neutral-black-70 transition-all duration-300 hover:bg-neutral-black-3">
				<span class="icon icon--requests"></span>
				<span class="leading-150">Requests</span>
			</a>
		</li>
	</ul>
</aside>

					<div class="flex-grow">
						<div class="mx-auto max-w-225">
							<!-- breascrumbs -->
							<ul class="flex flex-wrap gap-2">
								<li class="flex items-center gap-2">
									<a href="#" class="text-sm transition-all duration-300 hover:text-secondary">Portfolio</a>
									<span class="icon icon--chevron-right"></span>
								</li>
								<li class="flex items-center">
									<a href="#" class="text-sm transition-all duration-300 hover:text-secondary">Asset details</a>
									<span class="icon icon--chevron-right"></span>
								</li>
								<li class="flex items-center">
									<a href="#" class="text-sm transition-all duration-300 hover:text-secondary">Evaluations</a>
									<span class="icon icon--chevron-right"></span>
								</li>
								<li class="flex items-center">
									<p href="#" class="text-sm text-shadow-mid">1960s Fender Stratocaster Guitar</p>
								</li>
							</ul>
							<!-- ./breascrumbs -->

							<div class="relative mt-4">
								<div class="relative pr-18.5 lg:pr-45">
									<h1 class="font-bold break-all text-14 leading-120 text-purple lg:text-7xl">$110.00</h1>
									<h2 class="mt-1.5 text-xl font-medium lg:mt-1 lg:text-2xl lg:-tracking-0.125">1960s Fender Stratocaster Guitar</h2>
									<div class="absolute right-0 top-0 h-30 w-14.5 lg:h-45.5 lg:w-21">
										<img decoding="async" class="object-cover w-full h-full" src="../../img/wizard-asset-complete.webp" title="" alt="" loading="lazy" />
									</div>
								</div>
								<p class="mt-4 text-sm leading-150 lg:pr-45 lg:text-base">In this tab, you can view all the answers and, if the information is updated, change them. The more accurately and correctly will your answers, the more accurate the evaluation of your asset will be.</p>
							</div>

							<div class="mt-8 lg:mt-12">
								<ul class="flex flex-wrap gap-2 lg:gap-11 lg:border-b lg:border-b-neutral-black-3/80 lg:pb-3">
									<li>
										<button class="group relative h-7.5 rounded-3xl border border-primary bg-primary px-2.5 py-1 text-sm leading-150 transition-all duration-300 text-shadow-mid lg:h-auto lg:border-0 lg:bg-transparent lg:px-2 lg:py-0 lg:text-base">
											<span>Main Questions</span>
											<span class="pointer-events-none absolute -bottom-3 left-0 right-0 hidden h-0.5 rounded-tl-sm rounded-tr-sm bg-primary-100 opacity-100 transition-all duration-300 lg:block"></span>
										</button>
									</li>

									<li>
										<button class="group relative h-7.5 rounded-3xl border border-neutral-black-5 px-2.5 py-1 text-sm leading-150 transition-all duration-300 lg:h-auto lg:border-0 lg:bg-transparent lg:px-2 lg:py-0 lg:text-base lg:hover:text-shadow-mid">
											<span class="text-neutral-black-70">Metals and Gemstones</span>
											<span class="pointer-events-none absolute -bottom-3 left-0 right-0 hidden h-0.5 rounded-tl-sm rounded-tr-sm bg-primary-100 opacity-0 transition-all duration-300 group-hover:opacity-100 lg:block"></span>
										</button>
									</li>
								</ul>
							</div>

							<div class="pt-9">
								<h2 class="font-semibold tracking-tight text-sm2x leading-125 lg:text-base2x">Reviewing of answers</h2>
								<div class="flex flex-col gap-5 mt-6">
									<div class="p-6 rounded-3xl bg-primary-green-gray">
										<div class="flex flex-col justify-between gap-6 md:flex-row">
											<div>
												<div class="text-lg font-semibold">Level of technical perfection</div>
												<div class="mt-2 leading-150 text-neutral-black-80">Moderate <span class="text-purple">(Known)</span></div>
											</div>

											<div class="">
												<button class="flex h-12 w-full items-center justify-center gap-2 rounded-xl border border-neutral-black-5 bg-white px-5 py-3.5 text-sm transition-all duration-300 md:h-auto md:w-fit md:border-0 md:bg-transparent md:px-0 md:py-0 md:active:scale-95">
													<span class="w-5 h-5 icon icon--pen-edit md:h-6 md:w-6"></span>
													<span class="font-medium md:hidden">Edit</span>
												</button>
											</div>
										</div>
									</div>

									<div class="relative p-6 rounded-3xl bg-primary-green-gray">
										<button class="absolute hidden right-6 top-6 lg:flex">
											<span class="icon icon--close"></span>
										</button>

										<ul class="gap-6 pb-8 border-b border-b-neutral-black-5 sm:columns-2">
											<li class="mb-8 break-inside-avoid-column lg:pr-6">
												<p class="text-lg font-semibold leading-133">What is the age of the coin?</p>
												<p class="mt-2 text-neutral-black-80">Under 2000 years</p>

												<ul class="flex flex-col gap-4 mt-5">
													<li>
														<label>
															<input type="radio" class="hidden peer" name="name22" />
															<div class="flex gap-3 group">
																<div>
																	<div class="relative">
																		<div class="flex items-center justify-center flex-shrink-0 w-5 h-5 transition-all duration-300 border-2 rounded-full border-neutral-black-20 group-peer-checked:border-primary-100"></div>
																		<div class="absolute left-1/2 top-1/2 h-2.5 w-2.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary-100 opacity-0 transition-all duration-300 group-peer-checked:opacity-100"></div>
																	</div>
																</div>
																<div class="-mt-0.5">
																	<h4 class="text-sm transition-all duration-300 leading-150 group-peer-checked:text-shadow-mid lg:text-base">Under 50 years</h4>
																</div>
															</div>
														</label>
													</li>
													<li>
														<label>
															<input type="radio" class="hidden peer" name="name22" />
															<div class="flex gap-3 group">
																<div>
																	<div class="relative">
																		<div class="flex items-center justify-center flex-shrink-0 w-5 h-5 transition-all duration-300 border-2 rounded-full border-neutral-black-20 group-peer-checked:border-primary-100"></div>
																		<div class="absolute left-1/2 top-1/2 h-2.5 w-2.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary-100 opacity-0 transition-all duration-300 group-peer-checked:opacity-100"></div>
																	</div>
																</div>
																<div class="-mt-0.5">
																	<h4 class="text-sm transition-all duration-300 leading-150 group-peer-checked:text-shadow-mid lg:text-base">Under 100 years</h4>
																</div>
															</div>
														</label>
													</li>
													<li>
														<label>
															<input type="radio" class="hidden peer" name="name22" />
															<div class="flex gap-3 group">
																<div>
																	<div class="relative">
																		<div class="flex items-center justify-center flex-shrink-0 w-5 h-5 transition-all duration-300 border-2 rounded-full border-neutral-black-20 group-peer-checked:border-primary-100"></div>
																		<div class="absolute left-1/2 top-1/2 h-2.5 w-2.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary-100 opacity-0 transition-all duration-300 group-peer-checked:opacity-100"></div>
																	</div>
																</div>
																<div class="-mt-0.5">
																	<h4 class="text-sm transition-all duration-300 leading-150 group-peer-checked:text-shadow-mid lg:text-base">Under 300 years</h4>
																</div>
															</div>
														</label>
													</li>
													<li>
														<label>
															<input type="radio" class="hidden peer" name="name22" />
															<div class="flex gap-3 group">
																<div>
																	<div class="relative">
																		<div class="flex items-center justify-center flex-shrink-0 w-5 h-5 transition-all duration-300 border-2 rounded-full border-neutral-black-20 group-peer-checked:border-primary-100"></div>
																		<div class="absolute left-1/2 top-1/2 h-2.5 w-2.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary-100 opacity-0 transition-all duration-300 group-peer-checked:opacity-100"></div>
																	</div>
																</div>
																<div class="-mt-0.5">
																	<h4 class="text-sm transition-all duration-300 leading-150 group-peer-checked:text-shadow-mid lg:text-base">Under 1000 years</h4>
																</div>
															</div>
														</label>
													</li>
													<li>
														<label>
															<input type="radio" class="hidden peer" name="name22" checked />
															<div class="flex gap-3 group">
																<div>
																	<div class="relative">
																		<div class="flex items-center justify-center flex-shrink-0 w-5 h-5 transition-all duration-300 border-2 rounded-full border-neutral-black-20 group-peer-checked:border-primary-100"></div>
																		<div class="absolute left-1/2 top-1/2 h-2.5 w-2.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary-100 opacity-0 transition-all duration-300 group-peer-checked:opacity-100"></div>
																	</div>
																</div>
																<div class="-mt-0.5">
																	<h4 class="text-sm transition-all duration-300 leading-150 group-peer-checked:text-shadow-mid lg:text-base">Under 2000 years</h4>
																</div>
															</div>
														</label>
													</li>
													<li>
														<label>
															<input type="radio" class="hidden peer" name="name22" />
															<div class="flex gap-3 group">
																<div>
																	<div class="relative">
																		<div class="flex items-center justify-center flex-shrink-0 w-5 h-5 transition-all duration-300 border-2 rounded-full border-neutral-black-20 group-peer-checked:border-primary-100"></div>
																		<div class="absolute left-1/2 top-1/2 h-2.5 w-2.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary-100 opacity-0 transition-all duration-300 group-peer-checked:opacity-100"></div>
																	</div>
																</div>
																<div class="-mt-0.5">
																	<h4 class="text-sm transition-all duration-300 leading-150 group-peer-checked:text-shadow-mid lg:text-base">More then 2000 years</h4>
																</div>
															</div>
														</label>
													</li>
												</ul>
											</li>

											<li class="break-inside-avoid-column lg:pr-6">
												<p class="font-medium leading-150">Information authenticity</p>
												<p class="mt-2 text-neutral-black-80">Not presented or proved</p>
												<ul class="flex flex-col gap-4 mt-5">
													<li>
														<label>
															<input type="radio" class="hidden peer" name="name33"  />
															<div class="flex gap-3 group">
																<div>
																	<div class="relative">
																		<div class="flex items-center justify-center flex-shrink-0 w-5 h-5 transition-all duration-300 border-2 rounded-full border-neutral-black-20 group-peer-checked:border-primary-100"></div>
																		<div class="absolute left-1/2 top-1/2 h-2.5 w-2.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary-100 opacity-0 transition-all duration-300 group-peer-checked:opacity-100"></div>
																	</div>
																</div>
																<div class="-mt-0.5">
																	<h4 class="text-sm transition-all duration-300 leading-150 group-peer-checked:text-shadow-mid lg:text-base">Known</h4>
																</div>
															</div>
														</label>
													</li>
													<li>
														<label>
															<input type="radio" class="hidden peer" name="name33" checked />
															<div class="flex gap-3 group">
																<div>
																	<div class="relative">
																		<div class="flex items-center justify-center flex-shrink-0 w-5 h-5 transition-all duration-300 border-2 rounded-full border-neutral-black-20 group-peer-checked:border-primary-100"></div>
																		<div class="absolute left-1/2 top-1/2 h-2.5 w-2.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary-100 opacity-0 transition-all duration-300 group-peer-checked:opacity-100"></div>
																	</div>
																</div>
																<div class="-mt-0.5">
																	<h4 class="text-sm transition-all duration-300 leading-150 group-peer-checked:text-shadow-mid lg:text-base">Not presented or proved</h4>
																</div>
															</div>
														</label>
													</li>
													<li>
														<label>
															<input type="radio" class="hidden peer" name="name33" />
															<div class="flex gap-3 group">
																<div>
																	<div class="relative">
																		<div class="flex items-center justify-center flex-shrink-0 w-5 h-5 transition-all duration-300 border-2 rounded-full border-neutral-black-20 group-peer-checked:border-primary-100"></div>
																		<div class="absolute left-1/2 top-1/2 h-2.5 w-2.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary-100 opacity-0 transition-all duration-300 group-peer-checked:opacity-100"></div>
																	</div>
																</div>
																<div class="-mt-0.5">
																	<h4 class="text-sm transition-all duration-300 leading-150 group-peer-checked:text-shadow-mid lg:text-base">Partially proved</h4>
																</div>
															</div>
														</label>
													</li>
												</ul>
											</li>
										</ul>

										<div class="flex flex-col gap-2 mt-5 lg:mt-8">
											<button class="flex h-12 w-full items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover md:order-none">
												<span class="w-5 h-5 icon icon--pen-edit"></span>
												<span class="whitespace-nowrap">Save changes</span>
											</button>
											<button class="flex h-12 w-full items-center justify-center gap-2 rounded-xl border border-neutral-black-5 bg-white px-5 py-3.5 text-sm transition-all duration-300 lg:hidden">
												<span class="font-medium">Cancel</span>
											</button>
										</div>
									</div>

									<div class="p-6 rounded-3xl bg-primary-green-gray">
										<div class="flex flex-col justify-between gap-6 md:flex-row">
											<div>
												<div class="text-lg font-semibold">Country of residence</div>
												<div class="flex items-center gap-2 mt-2 leading-150">
													<div class="h-5.5 w-5.5 overflow-clip rounded-full">
														<img decoding="async" src="../../img/svg/flags/us.svg" title="" alt="" loading="lazy" />
													</div>
													<div>United States</div>
												</div>
											</div>

											<div class="">
												<button class="flex h-12 w-full items-center justify-center gap-2 rounded-xl border border-neutral-black-5 bg-white px-5 py-3.5 text-sm transition-all duration-300 md:h-auto md:w-fit md:border-0 md:bg-transparent md:px-0 md:py-0 md:active:scale-95">
													<span class="w-5 h-5 icon icon--pen-edit md:h-6 md:w-6"></span>
													<span class="font-medium md:hidden">Edit</span>
												</button>
											</div>
										</div>
									</div>

									<div class="relative p-6 rounded-3xl bg-primary-green-gray">
										<button class="absolute hidden right-6 top-6 lg:flex">
											<span class="icon icon--close"></span>
										</button>

										<div class="flex flex-col justify-between gap-6 md:flex-row">
											<div>
												<div class="text-lg font-semibold">Country of residence</div>
												<div class="flex items-center gap-2 mt-2 leading-150">
													<div class="h-5.5 w-5.5 overflow-clip rounded-full">
														<img decoding="async" src="../../img/svg/flags/us.svg" title="" alt="" loading="lazy" />
													</div>
													<div>United States</div>
												</div>
											</div>
										</div>

										<div class="relative h-12 py-2 pl-2 pr-12 mt-5 transition-all duration-300 bg-white border group rounded-xl border-green-black-5 focus-within:border-secondary focus-within:shadow-input max-w-110">
											<div class="absolute flex -translate-y-1/2 left-2 top-1/2 text-neutral-black-50">
												<span class="w-5 h-5 icon icon--search"></span>
											</div>

											<input type="text" class="absolute left-0 w-full h-10 p-0 pl-8 pr-12 bg-transparent border-0 top-1 z-1 placeholder:text-neutral-black-50" placeholder="or use search..." />
											
											<div class="absolute flex -translate-y-1/2 right-2 top-1/2">
												<span class="icon icon--chevron-down"></span>
											</div>

											<div class="absolute right-0 z-50 w-full transition-all duration-300 opacity-0 pointer-events-none top-full group-focus-within:pointer-events-auto group-focus-within:translate-y-2 group-focus-within:opacity-100">
												<div class="w-full rounded-xl bg-white py-2.5 pr-1.5 shadow-header-menu">
													<div class="overflow-auto max-h-40 scrollbar-thin">
														<ul class="flex flex-col pl-3 pr-1.5">
															<li>
																<a href="#" class="flex items-center gap-5 px-3 py-3 transition-all duration-300 rounded-xl text-primary-black hover:bg-neutral-black-3">
																	<div class="h-5.5 w-5.5 overflow-clip rounded-full">
																		<img decoding="async" src="../../img/svg/flags/us.svg" title="" alt="" loading="lazy" />
																	</div>
																	<div>United States</div>
																</a>
															</li>
															<li>
																<a href="#" class="flex items-center gap-5 px-3 py-3 transition-all duration-300 rounded-xl text-primary-black hover:bg-neutral-black-3">
																	<div class="h-5.5 w-5.5 overflow-clip rounded-full">
																		<img decoding="async" src="../../img/svg/flags/bg.svg" title="" alt="" loading="lazy" />
																	</div>
																	<div>Bulgaria</div>
																</a>
															</li>
															<li>
																<a href="#" class="flex items-center gap-5 px-3 py-3 transition-all duration-300 rounded-xl text-primary-black hover:bg-neutral-black-3">
																	<div class="h-5.5 w-5.5 overflow-clip rounded-full">
																		<img decoding="async" src="../../img/svg/flags/th.svg" title="" alt="" loading="lazy" />
																	</div>
																	<div>Thailand</div>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>

										<div class="flex flex-col gap-2 mt-5 lg:mt-8">
											<button class="flex h-12 w-full items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover md:order-none">
												<span class="w-5 h-5 icon icon--pen-edit"></span>
												<span class="whitespace-nowrap">Save changes</span>
											</button>
											<button class="flex h-12 w-full items-center justify-center gap-2 rounded-xl border border-neutral-black-5 bg-white px-5 py-3.5 text-sm transition-all duration-300 lg:hidden">
												<span class="font-medium">Cancel</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<div id="menuMobile" class="fixed top-0 bottom-0 left-0 z-50 w-full px-8 py-4 transition-all duration-300 bg-white -translate-x-p110 shadow-header-menu sd:w-90 lg:-translate-x-p110">
	<div class="flex flex-col items-start">
		<button id="closeMenuMobile" class="flex items-center justify-center">
			<span class="icon icon--chevron-left"></span>
		</button>
		<div class="mt-8 h-[calc(var(--app-height)-5.5rem)] w-full flex-grow overflow-auto">
			<div class="flex items-center gap-5">
				<div class="flex items-center justify-center flex-shrink-0 rounded-full h-13 w-13 bg-neutral-black-3">
					<span class="icon icon--user"></span>
				</div>
				<div class="text-2xl font-semibold">Andrii Chernov</div>
			</div>
			<div class="flex flex-wrap items-center gap-3 mt-5">
				<a href="#" class="flex h-9 items-center gap-1 rounded-6.5lx border border-neutral-black-5 px-3 py-2 transition-all duration-300 hover:bg-neutral-black-3">
					<span class="w-5 h-5 icon icon--user"></span>
					<span class="text-sm font-medium">Profile Details</span>
				</a>
				<a href="#" class="flex h-9 items-center gap-1 rounded-6.5lx border border-neutral-black-5 px-3 py-2 transition-all duration-300 hover:bg-neutral-black-3">
					<span class="w-5 h-5 icon icon--checklist-money"></span>
					<span class="text-sm font-medium">My Plan</span>
				</a>
			</div>

			<a href="#" class="mt-9 flex h-12 w-full items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover">
				<span class="w-5 h-5 icon icon--arrow-nav"></span>
				<span>Upgrade plan</span>
			</a>

			<ul class="mt-9">
				<li class="pb-3 mb-3 border-b border-b-neutral-black-3">
					<a href="#" class="flex items-center gap-5 py-2.5 font-medium">
						<span class="icon icon--dashboard"></span>
						<span class="leading-150">Dashboard</span>
						<span class="ml-auto icon icon--chevron-right"></span>
					</a>
				</li>
				<li class="pb-3 mb-3 border-b border-b-neutral-black-3">
					<a href="#" class="flex items-center gap-5 py-2.5">
						<span class="icon icon--portfolio"></span>
						<span class="leading-150">Portfolio</span>
						<span class="ml-auto icon icon--chevron-right"></span>
					</a>
				</li>
				
				<li class="pb-3 mb-3 border-b border-b-neutral-black-3">
					<a href="#" class="flex items-center gap-5 py-2.5">
						<span class="icon icon--collections"></span>
						<span class="leading-150">Collections</span>
						<span class="ml-auto icon icon--chevron-right"></span>
					</a>
				</li>
				<li class="pb-3 mb-3 border-b border-b-neutral-black-3">
					<a href="#" class="flex items-center gap-5 py-2.5">
						<span class="icon icon--identification"></span>
						<span class="leading-150">Identification</span>
						<span class="ml-auto icon icon--chevron-right"></span>
					</a>
				</li>
				<li class="pb-3 mb-3">
					<a href="#" class="flex items-center gap-5 py-2.5">
						<span class="icon icon--requests"></span>
				<span class="leading-150">Requests</span>
						<span class="ml-auto icon icon--chevron-right"></span>
					</a>
				</li>
			</ul>

			<a href="#" class="flex items-center justify-center h-12 gap-1 px-3 py-2 transition-all duration-300 border rounded-xl border-neutral-black-5 hover:bg-neutral-black-3">
				<span class="text-sm font-medium">Sign Out</span>
			</a>
		</div>
	</div>
	<div class="z-30 invisible hidden overflow-clip bg-neutral-black-1/50 backdrop-blur-sm"></div>
</div>

 <script src="../../js/app.js"></script>

	</body>
</html>
