<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space - Portfolio page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full font-inter">
		<header class="border-b border-neutral-black-5">
	<div class="container">
		<div class="flex items-center justify-between py-3 lg:py-7">
			<button id="burgerMenu" class="flex items-center justify-center flex-shrink-0 w-10 h-10 rounded-6lx bg-neutral-black-3 text-primary-black lg:hidden">
				<span class="icon icon--burger"></span>
			</button>
			<a href="../../index.html" class="flex-shrink-0 hidden lg:block">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
			<div class="flex items-center lg:gap-2.5 gap-2">
				<a href="#" class="flex h-10 w-full items-center justify-center rounded-xl bg-primary px-4 py-2.5 font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover lg:hidden"><span>Upgrade plan</span></a>
				<button class="items-center justify-center flex-shrink-0 hidden transition-all duration-300 lg:flex lg:w-12 lg:h-12 rounded-6lx bg-neutral-black-3 text-primary-black lg:hover:bg-neutral-black-5">
					<span class="icon icon--search"></span>
				</button>
				<button class="flex items-center justify-center flex-shrink-0 w-10 h-10 transition-all duration-300 lg:w-12 lg:h-12 rounded-6lx lg:bg-neutral-black-3 text-primary-black lg:hover:bg-neutral-black-5">
					<span class="icon icon--notification"></span>
				</button>
				<div class="relative items-center flex-shrink-0 hidden gap-3 cursor-pointer lg:flex group">
					<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-6lx bg-neutral-black-3 text-primary-black">
						<span>A</span>
					</div>
					<div class="">
						<div class="flex items-center gap-1.5">
							<div>Andrii</div>
							<span class="transition-all duration-300 transform icon icon--chevron-down group-hover:rotate-x-180"></span>
						</div>
					</div>
					<div class="pt-4 mt-8 opacity-0 lg:pointer-events-none lg:absolute lg:right-0 lg:top-0 lg:z-50 lg:transition-all lg:duration-300 lg:group-hover:pointer-events-auto lg:group-hover:translate-y-4 lg:group-hover:opacity-100">
						<div class="bg-white w-68 rounded-3xl shadow-header-menu">
							<div class="px-6 pt-6 pb-5 text-lg font-bold border-b border-b-neutral-black-5 text-primary-black">Andrii Chernov</div>
							<ul class="flex flex-col px-3 pt-5 pb-6">
								<li>
									<a href="#" class="flex items-center gap-5 px-3 py-3 transition-all duration-300 rounded-xl text-primary-black hover:bg-neutral-black-3">
										<span class="icon icon--user"></span>
										<span class="text-sm font-medium">Profile Details</span>
									</a>
								</li>
								<li>
									<a href="#" class="flex items-center gap-5 px-3 py-3 transition-all duration-300 rounded-xl text-primary-black hover:bg-neutral-black-3">
										<span class="icon icon--checklist-money"></span>
										<span class="text-sm font-medium">My plan</span>
									</a>
								</li>
								<li>
									<a href="#" class="flex items-center gap-5 px-3 py-3 transition-all duration-300 rounded-xl text-primary-black hover:bg-neutral-black-3">
										<span class="icon icon--exit"></span>
										<span class="text-sm font-medium">Log Out</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

		<main class="flex-grow py-4 lg:py-12">
			<div class="container">
				<div class="flex gap-13">
					<aside class="hidden w-fit max-w-50 lg:block">
	<a href="#" class="flex h-10 w-full items-center justify-center gap-2 rounded-xl bg-primary px-4 py-2.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover">
		<span class="w-5 h-5 icon icon--arrow-nav"></span>
		<span>Upgrade plan</span>
	</a>

	<ul class="flex flex-col gap-2 mt-10">
		<li>
			<a href="#" class="flex items-center gap-4.5 rounded-xl px-4 py-2.5 text-neutral-black-70 transition-all duration-300 hover:bg-neutral-black-3">
				<span class="icon icon--dashboard"></span>
				<span class="leading-150">Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#" class="flex items-center gap-4.5 rounded-xl px-4 py-2.5 font-medium text-primary-black transition-all duration-300 hover:bg-neutral-black-3">
				<span class="icon icon--portfolio"></span>
				<span class="leading-150">Portfolio</span>
			</a>
		</li>
		<li>
			<a href="#" class="flex items-center gap-4.5 rounded-xl px-4 py-2.5 text-neutral-black-70 transition-all duration-300 hover:bg-neutral-black-3">
				<span class="icon icon--collections"></span>
				<span class="leading-150">Collections</span>
			</a>
		</li>
		<li>
			<a href="#" class="flex items-center gap-4.5 rounded-xl px-4 py-2.5 text-neutral-black-70 transition-all duration-300 hover:bg-neutral-black-3">
				<span class="icon icon--identification"></span>
				<span class="leading-150">Identification</span>
			</a>
		</li>
		<li>
			<a href="#" class="flex items-center gap-4.5 rounded-xl px-4 py-2.5 text-neutral-black-70 transition-all duration-300 hover:bg-neutral-black-3">
				<span class="icon icon--requests"></span>
				<span class="leading-150">Requests</span>
			</a>
		</li>
	</ul>
</aside>

					<div class="flex-grow">
						<div class="mx-auto max-w-225">
							<!-- breascrumbs -->
							<ul class="flex flex-wrap gap-2">
								<li class="flex items-center gap-2">
									<a href="#" class="text-sm transition-all duration-300 hover:text-secondary">Portfolio</a>
									<span class="icon icon--chevron-right"></span>
								</li>
								<li class="flex items-center">
									<a href="#" class="text-sm transition-all duration-300 hover:text-secondary">Asset details</a>
									<span class="icon icon--chevron-right"></span>
								</li>
								<li class="flex items-center">
									<a href="#" class="text-sm transition-all duration-300 hover:text-secondary">Evaluations</a>
									<span class="icon icon--chevron-right"></span>
								</li>
								<li class="flex items-center">
									<p href="#" class="text-sm text-shadow-mid">1960s Fender Stratocaster Guitar</p>
								</li>
							</ul>
							<!-- ./breascrumbs -->

							<div class="pb-4 mt-4 border-b border-b-neutral-black-3 lg:pb-0 lg:border-b-0">
								<h1 class="font-semibold tracking-tight text-sm2x leading-125 text-primary-black lg:text-base2x">Golden Book</h1>
							</div>

							<div class="mt-6">
								<div class="pb-9 md:relative md:pb-14 md:pl-12">
									<div class="relative pr-8 md:static md:pr-0">
										<div class="flex flex-col gap-2 md:flex-row md:items-center md:justify-between">
											<div class="flex items-center gap-3">
												<span class="icon icon--checkmark"></span>
												<span class="text-lg font-medium">Expert completed</span>
											</div>
											<div class="text-sm text-neutral-black-70">April 28,2024 - 12:46 PM</div>
										</div>
										<p class="mt-2 md:max-w-125 text-neutral-black-70">The expert has successfully analyzed the submitted request.</p>
										<div class="absolute top-0 bottom-0 right-0 md:left-0 md:right-auto">
											<div class="relative z-2 h-7 w-3.5 rounded-full bg-white">
												<div class="absolute left-1/2 top-1/2 h-3.5 w-3.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-success-50"></div>
											</div>
											<div class="absolute top-0 bottom-0 -translate-x-1/2 left-1/2 w-one bg-neutral-black-5"></div>
										</div>
									</div>
									<div class="flex flex-col gap-5 p-4 mt-4 border-l-4 rounded-lg md:max-w-144 border-l-success-50 bg-success-50/5 md:p-6">
										<button class="flex items-center gap-3">
											<span class="transition-all duration-300 icon icon--plus"></span>
											<span class="text-neutral-black-70">Open result</span>
										</button>
									</div>
								</div>
								<div class="pb-9 md:relative md:pb-14 md:pl-12">
									<div class="relative pr-8 md:static md:pr-0">
										<div class="flex flex-col gap-2 md:flex-row md:items-center md:justify-between">
											<div class="flex items-center gap-3">
												<span class="icon icon--search-chekmark-square"></span>
												<span class="text-lg font-medium">Expert analysis</span>
											</div>
											<div class="text-sm text-neutral-black-70">April 28,2024 - 12:46 PM</div>
										</div>
										<p class="mt-2 md:max-w-125 text-neutral-black-70">An expert has started working on your request. The analysis will take a few days, and you will be notified about any updates.</p>
										<div class="absolute top-0 bottom-0 right-0 md:left-0 md:right-auto">
											<div class="relative z-2 h-7 w-3.5 rounded-full bg-white">
												<div class="absolute left-1/2 top-1/2 h-3.5 w-3.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-purple"></div>
											</div>
											<div class="absolute top-0 bottom-0 -translate-x-1/2 left-1/2 w-one bg-neutral-black-5"></div>
										</div>
									</div>
								</div>
								
								<div class="md:relative md:pl-12">
									<div class="relative pr-8 md:static md:pr-0">
										<div class="flex flex-col gap-2 md:flex-row md:items-center md:justify-between">
											<div class="flex items-center gap-3">
												<span class="icon icon--loading-waiting"></span>
												<span class="text-lg font-medium">Expert review</span>
											</div>
											<div class="text-sm text-neutral-black-70">April 28,2024 - 12:46 PM</div>
										</div>
										<p class="mt-2 md:max-w-125 text-neutral-black-70">Request Submitted: Your identification request has been successfully submitted. Experts will be notified about the new submission and the status will change to “Expert Analysis” when they start working on it.</p>
										<div class="absolute top-0 bottom-0 right-0 md:left-0 md:right-auto">
											<div class="relative z-2 h-7 w-3.5 rounded-full bg-white">
												<div class="absolute left-1/2 top-1/2 h-3.5 w-3.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-secondary"></div>
											</div>
											<div class="absolute top-0 bottom-0 -translate-x-1/2 left-1/2 w-one bg-neutral-black-5 md:hidden"></div>
										</div>
									</div>
									<div class="flex flex-col gap-5 p-4 mt-4 border-l-4 rounded-lg md:max-w-144 border-l-secondary bg-secondary/5 md:p-6">
										<button class="flex items-center gap-3">
											<span class="transition-all duration-300 icon icon--plus"></span>
											<span class="text-neutral-black-70">Open result</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<div id="menuMobile" class="fixed top-0 bottom-0 left-0 z-50 w-full px-8 py-4 transition-all duration-300 bg-white -translate-x-p110 shadow-header-menu sd:w-90 lg:-translate-x-p110">
	<div class="flex flex-col items-start">
		<button id="closeMenuMobile" class="flex items-center justify-center">
			<span class="icon icon--chevron-left"></span>
		</button>
		<div class="mt-8 h-[calc(var(--app-height)-5.5rem)] w-full flex-grow overflow-auto">
			<div class="flex items-center gap-5">
				<div class="flex items-center justify-center flex-shrink-0 rounded-full h-13 w-13 bg-neutral-black-3">
					<span class="icon icon--user"></span>
				</div>
				<div class="text-2xl font-semibold">Andrii Chernov</div>
			</div>
			<div class="flex flex-wrap items-center gap-3 mt-5">
				<a href="#" class="flex h-9 items-center gap-1 rounded-6.5lx border border-neutral-black-5 px-3 py-2 transition-all duration-300 hover:bg-neutral-black-3">
					<span class="w-5 h-5 icon icon--user"></span>
					<span class="text-sm font-medium">Profile Details</span>
				</a>
				<a href="#" class="flex h-9 items-center gap-1 rounded-6.5lx border border-neutral-black-5 px-3 py-2 transition-all duration-300 hover:bg-neutral-black-3">
					<span class="w-5 h-5 icon icon--checklist-money"></span>
					<span class="text-sm font-medium">My Plan</span>
				</a>
			</div>

			<a href="#" class="mt-9 flex h-12 w-full items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover">
				<span class="w-5 h-5 icon icon--arrow-nav"></span>
				<span>Upgrade plan</span>
			</a>

			<ul class="mt-9">
				<li class="pb-3 mb-3 border-b border-b-neutral-black-3">
					<a href="#" class="flex items-center gap-5 py-2.5 font-medium">
						<span class="icon icon--dashboard"></span>
						<span class="leading-150">Dashboard</span>
						<span class="ml-auto icon icon--chevron-right"></span>
					</a>
				</li>
				<li class="pb-3 mb-3 border-b border-b-neutral-black-3">
					<a href="#" class="flex items-center gap-5 py-2.5">
						<span class="icon icon--portfolio"></span>
						<span class="leading-150">Portfolio</span>
						<span class="ml-auto icon icon--chevron-right"></span>
					</a>
				</li>
				
				<li class="pb-3 mb-3 border-b border-b-neutral-black-3">
					<a href="#" class="flex items-center gap-5 py-2.5">
						<span class="icon icon--collections"></span>
						<span class="leading-150">Collections</span>
						<span class="ml-auto icon icon--chevron-right"></span>
					</a>
				</li>
				<li class="pb-3 mb-3 border-b border-b-neutral-black-3">
					<a href="#" class="flex items-center gap-5 py-2.5">
						<span class="icon icon--identification"></span>
						<span class="leading-150">Identification</span>
						<span class="ml-auto icon icon--chevron-right"></span>
					</a>
				</li>
				<li class="pb-3 mb-3">
					<a href="#" class="flex items-center gap-5 py-2.5">
						<span class="icon icon--requests"></span>
				<span class="leading-150">Requests</span>
						<span class="ml-auto icon icon--chevron-right"></span>
					</a>
				</li>
			</ul>

			<a href="#" class="flex items-center justify-center h-12 gap-1 px-3 py-2 transition-all duration-300 border rounded-xl border-neutral-black-5 hover:bg-neutral-black-3">
				<span class="text-sm font-medium">Sign Out</span>
			</a>
		</div>
	</div>
	<div class="z-30 invisible hidden overflow-clip bg-neutral-black-1/50 backdrop-blur-sm"></div>
</div>

 <script src="../../js/app.js"></script>

	</body>
</html>
