<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space - Portfolio page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex h-full flex-col font-inter">
		<header class="border-b border-neutral-black-5">
	<div class="container">
		<div class="flex items-center justify-between py-3 lg:py-7">
			
			<a href="../../index.html" class="flex-shrink-0">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
			<div class="flex items-center">
				<a href="#" class="flex h-12 items-center justify-center gap-2 rounded-xl px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300  md:w-fit"><span class="whitespace-nowrap">Log in</span></a>
				<a href="#" class="flex h-12 items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover md:w-fit">
					<span class="whitespace-nowrap">Create account</span>
				</a>
			</div>
		</div>
	</div>
</header>

		<main class="flex flex-grow flex-col">
			<div class="container">
				<div class="mx-auto max-w-225 py-4 lg:py-12">
					<div class="relative">
						<div class="relative pr-18.5 lg:pr-45">
							<h1 class="break-all text-14 font-bold leading-120 text-purple lg:text-7xl">$110.00</h1>
							<h2 class="mt-1.5 text-xl font-medium lg:mt-1 lg:text-2xl lg:-tracking-0.125">1960s Fender Stratocaster Guitar</h2>
							<div class="absolute right-0 top-0 h-30 w-14.5 lg:h-45.5 lg:w-21">
								<img decoding="async" class="h-full w-full object-cover" src="../../img/wizard-asset-complete.webp" title="" alt="" loading="lazy" />
							</div>
						</div>
						<p class="mt-4 text-sm leading-150 lg:pr-45 lg:text-base">In this tab, you can view all the answers and, if the information is updated, change them. The more accurately and correctly will your answers, the more accurate the evaluation of your asset will be.</p>
					</div>

					<div class="mt-8 lg:mt-12">
						<ul class="flex flex-wrap gap-11 border-b border-b-neutral-black-3/80 pb-3">
							<li>
								<button class="group relative px-2 text-sm leading-150 transition-all duration-300 lg:h-auto lg:text-base lg:hover:text-shadow-mid">
									<span class="text-neutral-black-70">Overview</span>
									<span class="pointer-events-none absolute -bottom-3 left-0 right-0 h-0.5 rounded-tl-sm rounded-tr-sm bg-primary-100 opacity-0 transition-all duration-300 group-hover:opacity-100 lg:block"></span>
								</button>
							</li>
							<li>
								<button class="group relative px-2 py-0 text-sm leading-150 transition-all duration-300 text-shadow-mid lg:text-base">
									<span>Gallery</span>
									<span class="pointer-events-none absolute -bottom-3 left-0 right-0 h-0.5 rounded-tl-sm rounded-tr-sm bg-primary-100 opacity-100 transition-all duration-300"></span>
								</button>
							</li>
						</ul>
					</div>

					<div class="mt-8 lg:mt-9">
						<h2 class="text-2xl font-semibold leading-125 tracking-tight text-primary-black">Gallery</h2>

						<div class="mt-4.5 grid gap-3.75 xs:grid-cols-2 md:grid-cols-3 lg:mt-8 lg:gap-6">
							<div class="relative">
								<div class="group relative aspect-[1.37] w-full overflow-clip rounded-xl bg-loading bg-contain bg-center bg-no-repeat xs:aspect-auto xs:h-51">
									<img decoding="async" class="h-full w-full object-cover object-top" src="../../img/portfolio/img-01.webp" title="" alt="" loading="lazy" />
									<a href="#" class="pointer-events-none absolute inset-0 z-1 flex items-center justify-center bg-black/40 opacity-0 transition-all duration-200 group-hover:pointer-events-auto group-hover:opacity-100">
										<span class="icon icon--search text-white"></span>
									</a>
								</div>

								<div class="relative mt-3 flex items-center justify-between gap-1">
									<div class="line-clamp-1 text-sm font-medium leading-none">IMG_9249.JPG</div>
								</div>
							</div>
							<div class="relative">
								<div class="group relative aspect-[1.37] w-full overflow-clip rounded-xl bg-loading bg-contain bg-center bg-no-repeat xs:aspect-auto xs:h-51">
									<img decoding="async" class="h-full w-full object-cover object-top" src="../../img/portfolio/img-02.webp" title="" alt="" loading="lazy" />
									<a href="#" class="pointer-events-none absolute inset-0 z-1 flex items-center justify-center bg-black/40 opacity-0 transition-all duration-200 group-hover:pointer-events-auto group-hover:opacity-100">
										<span class="icon icon--search text-white"></span>
									</a>
								</div>

								<div class="relative mt-3 flex items-center justify-between gap-1">
									<div class="line-clamp-1 text-sm font-medium leading-none">IMG_9249.JPG</div>
								</div>
							</div>
							<div class="relative">
								<div class="group relative aspect-[1.37] w-full overflow-clip rounded-xl bg-loading bg-contain bg-center bg-no-repeat xs:aspect-auto xs:h-51">
									<img decoding="async" class="h-full w-full object-cover object-top" src="../../img/portfolio/img-03.webp" title="" alt="" loading="lazy" />
									<a href="#" class="pointer-events-none absolute inset-0 z-1 flex items-center justify-center bg-black/40 opacity-0 transition-all duration-200 group-hover:pointer-events-auto group-hover:opacity-100">
										<span class="icon icon--search text-white"></span>
									</a>
								</div>

								<div class="relative mt-3 flex items-center justify-between gap-1">
									<div class="line-clamp-1 text-sm font-medium leading-none">IMG_9249.JPG</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flex-grow bg-primary-100">
				<div class="container">
					<div class="mx-auto max-w-180 pb-15 pt-12 lg:pb-22">
						<div class="flex flex-col items-center text-primary">
							<div class="h-45.5 w-21">
								<img decoding="async" class="h-full w-full object-cover" src="../../img/wizard-asset-complete.webp" title="" alt="" loading="lazy" />
							</div>
							<h2 class="mt-6 max-w-125 text-center text-10 font-black uppercase -tracking-[3px] lg:text-5xl">Collect like never before!</h2>
							<p class="mt-3 text-center leading-160">The Artexpert is a unique platform that helps collectors, inheritance recipients, and art investors organize collectibles portfolios in a few days without complicated software, tech overwhelm, or lack of knowledge so they can collect with confidence.</p>
							<div class="mt-10">
								<a href="#" class="flex h-12 items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover md:w-fit">
									<span class="whitespace-nowrap">Create Free Account Now</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script src="../../js/app.js"></script>

	</body>
</html>
