<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space - Portfolio page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full overflow-clip font-inter">
		<main class="flex-grow py-4 lg:py-12"></main>
		
		<!-- quick help modal -->
<div class="fixed inset-0 z-50 p-4">
	<div class="absolute inset-0 bg-primary-black/60"></div>

	<div class="flex items-center justify-center w-full h-full">
		<div class="relative z-20 w-110 rounded-3xl border border-neutral-black-5 bg-white py-1.5 pr-2.5 shadow-lg">
			<div class="max-h-[calc(var(--app-height)-2rem)] overflow-auto py-2.5 pl-4 pr-1.5 scrollbar-thin">
				<div class="flex items-center">
					<div class="flex h-7.5 w-fit items-center gap-1 rounded-3xl bg-secondary/10 px-2 py-1 text-sm text-secondary">
						<span class="w-5 h-5 icon icon--question-group"></span>
						<span>Quick Help</span>
					</div>
					<button class="flex ml-auto">
						<span class="icon icon--close"></span>
					</button>
				</div>

				<div class="flex flex-col gap-5 mt-6">
					<div class="pb-5 border-b border-b-neutral-black-3">
						<button class="flex items-center w-full gap-2">
							<span class="text-lg font-medium">Name of Request</span>
							<span class="ml-auto icon icon--chevron-down"></span>
						</button>
						<div class="pt-4 text-sm leading-150">
							<ul class="flex flex-col gap-4">
								<li class="flex gap-2">
									<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
									<p>The name of the request will be used to display the request in lists and in search.</p>
								</li>
								<li class="flex gap-2">
									<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
									<p>Choose a name that clearly identifies the purpose of the request for yourself.</p>
								</li>
								<li class="flex gap-2">
									<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
									<p><span class="inline-block font-semibold">Important:&nbsp;</span>Do not include detailed descriptions or additional information here.</p>
								</li>
								<li class="flex gap-2">
									<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
									<p>There will be a separate field provided for the detailed description and other information related to your request.</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="">
						<button class="flex items-center w-full gap-2">
							<span class="text-lg font-medium">Asset type</span>
							<span class="ml-auto icon icon--chevron-down"></span>
						</button>
						<div class="pt-4 text-sm leading-150">
							<ul class="flex flex-col gap-4">
								<li class="flex gap-2">
									<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
									<p>This step allows you to connect an asset from your portfolio by selecting it from the drop-down menu.</p>
								</li>
								<li class="flex gap-2">
									<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
									<p><span class="inline-block font-semibold">Optional but Recommended:&nbsp;</span> While this step is optional, it is highly recommended to select an asset. This will help the expert gain more details about the asset from the system.</p>
								</li>
								<li class="flex gap-2">
									<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
									<p><span class="inline-block font-semibold">Single Selection:&nbsp;</span>You can select only one asset from the list.</p>
								</li>
								<li class="flex gap-2">
									<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
									<p>Choosing an asset ensures that the expert has all the relevant information needed to provide the best possible assistance.</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ./quick help modal -->
 
		<script src="../../js/app.js"></script>

	</body>
</html>
