<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space - Subscriptions page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full font-inter">
		<header class="">
	<div class="container ">
		<div class="flex items-center justify-between gap-4 py-7.5 lg:py-3">
			<a href="../../index.html" class="flex-shrink-0">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
			<button class="flex">
				<span class="icon icon--close"></span>
			</button>
		</div>
	</div>
</header>

		<main class="flex-grow py-4 lg:py-12">
			<div class="container">
				<div class="mx-auto max-w-282.5">
					<div class="mx-auto mt-3.5 max-w-125 text-center lg:mt-6">
						<h2 class="text-14 font-black uppercase leading-none -tracking-[.1875rem] lg:text-5xl">Simple pricing for all your needs</h2>
					</div>
					<div class="mt-16 lg:mt-20">
						<div class="flex flex-col gap-7.5">
							<div class="grid gap-7.5 lg:grid-cols-3">
								<div class="p-6 rounded-3xl bg-primary-green-gray">
									<h4 class="text-lg font-medium">Starter Plan</h4>
									<h2 class="mt-3 text-5xl font-bold -tracking-[.125rem]">$6/month</h2>
									<a href="#" class="mt-8 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-neutral-black-5 px-5 py-3.5 font-semibold text-primary-100 transition-all duration-300 hover:bg-neutral-black-10">
										<span class="whitespace-nowrap">Upgrade</span>
									</a>
									<p class="mt-5 text-lg font-medium text-neutral-black-50">Enhanced tools for deeper insights.</p>
									<ul class="flex flex-col gap-2 mt-4">
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">up to 20 asssets</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">3 Moments per asset</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">10 Images per asset</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">3 evaluations per asset</span>
											</div>
										</li>
									</ul>
								</div>

								<div class="p-6 text-white rounded-3xl bg-primary-100">
									<h4 class="text-lg font-medium">Premium Plan</h4>
									<h2 class="mt-3 text-5xl font-bold -tracking-[.125rem]">$15/month</h2>
									<a href="#" class="mt-8 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover">
										<span class="whitespace-nowrap">Upgrade</span>
									</a>
									<p class="mt-5 text-lg font-medium text-neutral-black-50">Maximize your collection’s value with expert features.</p>
									<ul class="flex flex-col gap-2 mt-4">
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">up to 300 asssets</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">10 Moments per asset</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">50 Images per asset</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">10 evaluations per asset</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">25 of documents</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">20 marketplace tracking</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">10 active identifications</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium"># of price update per day</span>
											</div>
										</li>
									</ul>
								</div>

								<div class="p-6 rounded-3xl bg-primary-green-gray">
									<h4 class="text-lg font-medium">Unlimited Plan</h4>
									<h2 class="mt-3 text-5xl font-bold -tracking-[.125rem]">$50/month</h2>
									<a href="#" class="mt-8 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-neutral-black-5 px-5 py-3.5 font-semibold text-primary-100 transition-all duration-300 hover:bg-neutral-black-10">
										<span class="whitespace-nowrap">Upgrade</span>
									</a>
									<p class="mt-5 text-lg font-medium text-neutral-black-50">All-access pass to unlimited evaluations and expert support.</p>
									<ul class="flex flex-col gap-2 mt-4">
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">Unlimited of assets</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">Unlimited of moments per asset</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">100 images per asset</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">Unlimited of evaluations per asset</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">50 of documents</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">Unlimited of marketplace trackers</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium">20 of active identifications</span>
											</div>
										</li>
										<li>
											<div class="flex gap-3">
												<span class="icon icon--check"></span>
												<span class="font-medium"># of price update per day</span>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="hidden" id="morePlans">
								<div class="flex flex-col gap-7.5">
									<div class="grid gap-7.5 lg:grid-cols-3">
										<div class="p-6 rounded-3xl bg-primary-green-gray">
											<h4 class="text-lg font-medium">Starter Plan</h4>
											<h2 class="mt-3 text-5xl font-bold -tracking-[.125rem]">$12/month</h2>
											<a href="#" class="mt-8 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-neutral-black-5 px-5 py-3.5 font-semibold text-primary-100 transition-all duration-300 hover:bg-neutral-black-10">
												<span class="whitespace-nowrap">Upgrade</span>
											</a>
											<p class="mt-5 text-lg font-medium text-neutral-black-50">Enhanced tools for deeper insights.</p>
											<ul class="flex flex-col gap-2 mt-4">
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">up to 20 asssets</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">3 Moments per asset</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">10 Images per asset</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">3 evaluations per asset</span>
													</div>
												</li>
											</ul>
										</div>

										<div class="p-6 rounded-3xl bg-primary-green-gray">
											<h4 class="text-lg font-medium">Premium Plan</h4>
											<h2 class="mt-3 text-5xl font-bold -tracking-[.125rem]">$30/month</h2>
											<a href="#" class="mt-8 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-neutral-black-5 px-5 py-3.5 font-semibold text-primary-100 transition-all duration-300 hover:bg-neutral-black-10">
												<span class="whitespace-nowrap">Upgrade</span>
											</a>
											<p class="mt-5 text-lg font-medium text-neutral-black-50">Maximize your collection’s value with expert features.</p>
											<ul class="flex flex-col gap-2 mt-4">
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">up to 300 asssets</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">10 Moments per asset</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">50 Images per asset</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">10 evaluations per asset</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">25 of documents</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">20 marketplace tracking</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">10 active identifications</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium"># of price update per day</span>
													</div>
												</li>
											</ul>
										</div>

										<div class="p-6 text-white rounded-3xl bg-secondary-dark-blue">
											<h4 class="text-lg font-medium">Unlimited Plan</h4>
											<h2 class="mt-3 text-5xl font-bold -tracking-[.125rem]">$50/month</h2>
											<div href="#" class="mt-8 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-secondary px-5 py-3.5 font-semibold text-white transition-all duration-300">
												<span class="whitespace-nowrap">Coming Soon</span>
											</div>
											<p class="mt-5 text-lg font-medium text-neutral-black-50">All-access pass to unlimited evaluations and expert support.</p>
											<ul class="flex flex-col gap-2 mt-4">
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">Unlimited of assets</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">Unlimited of moments per asset</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">100 images per asset</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">Unlimited of evaluations per asset</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">50 of documents</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">Unlimited of marketplace trackers</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium">20 of active identifications</span>
													</div>
												</li>
												<li>
													<div class="flex gap-3">
														<span class="icon icon--check"></span>
														<span class="font-medium"># of price update per day</span>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="flex justify-center mt-10" id="showMorePlansBtn">
							<button class="flex pb-2 font-medium transition-all duration-300 border-b w-fit border-b-primary-black active:text-shadow-mid">Open all the plans</button>
						</div>
					</div>

					<!-- compare plans -->
					<div class="mt-16 lg:mt-31">
						<h2 class="text-center text-4xl font-bold uppercase leading-none -tracking-[1px]">Compare plans & features</h2>

						<!-- compare table desktop -->
						<div class="hidden sm:block">
							<div class="pb-3 mt-8 overflow-x-auto scrollbar-thin">
								<div class="min-w-max overflow-clip">
									<!-- compare table head -->
									<div class="flex gap-3.5">
										<div class="sticky left-0 z-2 w-52.5 flex-shrink-0 bg-white pb-14"></div>
										<div class="flex-shrink-0 px-8 pt-6 w-54 pb-14">
											<div class="text-center">
												<h4 class="text-2xl font-semibold">Free</h4>
												<p class="mt-2 text-neutral-black-70">$0/month</p>

												<a href="#" class="mt-6 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-neutral-black-5 px-5 py-3.5 text-sm font-medium text-primary-100/40 transition-all duration-300 hover:bg-neutral-black-10">
													<span class="whitespace-nowrap">On Free plan</span>
												</a>
											</div>
										</div>
										<div class="flex-shrink-0 px-8 pt-6 w-54 pb-14">
											<div class="text-center">
												<h4 class="text-2xl font-semibold">Starter</h4>
												<p class="mt-2 text-neutral-black-70">$6/month</p>

												<a href="#" class="mt-6 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-neutral-black-5 px-5 py-3.5 text-sm font-medium text-primary-100 transition-all duration-300 hover:bg-neutral-black-10">
													<span class="whitespace-nowrap">Upgrade</span>
												</a>
											</div>
										</div>
										<div class="flex-shrink-0 px-8 pt-6 w-54 rounded-tl-xl rounded-tr-xl bg-primary-green-gray pb-14">
											<div class="text-center">
												<h4 class="text-2xl font-semibold">Premium</h4>
												<p class="mt-2 text-neutral-black-70">$15/month</p>

												<a href="#" class="mt-6 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-medium text-primary-100 transition-all duration-300 hover:bg-primary-hover">
													<span class="whitespace-nowrap">Upgrade</span>
												</a>
											</div>
										</div>
										<div class="flex-shrink-0 px-8 pt-6 w-54 pb-14">
											<div class="text-center">
												<h4 class="text-2xl font-semibold">Unlimited</h4>
												<p class="mt-2 text-neutral-black-70">$60/month</p>

												<a href="#" class="mt-6 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-neutral-black-5 px-5 py-3.5 text-sm font-medium text-primary-100 transition-all duration-300 hover:bg-neutral-black-10">
													<span class="whitespace-nowrap">Upgrade</span>
												</a>
											</div>
										</div>
									</div>
									<!-- ./compare table head -->

									<!-- compare row -->
									<div class="flex gap-3.5">
										<div class="sticky left-0 z-2 w-52.5 flex-shrink-0 bg-white pb-12">
											<p class="font-medium">Collection Size</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="font-bold">3</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-xl font-bold text-primary-100">10</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54 bg-primary-green-gray">
											<div class="text-2xl font-bold text-purple">50</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-semibold text-primary-100">Unlimited</div>
										</div>
									</div>
									<!-- ./compare row -->
									<!-- compare row -->
									<div class="flex gap-3.5">
										<div class="sticky left-0 z-2 w-52.5 flex-shrink-0 bg-white pb-12">
											<p class="font-medium">Active Identifications</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-medium">
												<span class="inline-block text-center">
													Low priority
													<span class="group/tooltip relative z-1 -mt-0.5 inline-block">
														<span class="w-4 h-4 icon icon--info"></span>
														<span class="pointer-events-none absolute bottom-[calc(100%+.5rem)] left-1/2 w-56 -translate-x-1/2 rounded-xl bg-white px-3 py-2.5 text-xs opacity-0 shadow-header-menu transition-all duration-300 group-hover/tooltip:opacity-100">
															<span class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</span>
															<span class="icon icon--triangle-down absolute -bottom-3.75 left-1/2 z-1 h-4 w-4 -translate-x-1/2 text-white"></span>
														</span>
													</span>
												</span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-medium text-center">
												<span class="inline-block text-center">
													Mid priority
													<span class="group/tooltip relative z-1 -mt-0.5 inline-block">
														<span class="w-4 h-4 icon icon--info"></span>
														<span class="pointer-events-none absolute bottom-[calc(100%+.5rem)] left-1/2 w-56 -translate-x-1/2 rounded-xl bg-white px-3 py-2.5 text-xs opacity-0 shadow-header-menu transition-all duration-300 group-hover/tooltip:opacity-100">
															<span class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</span>
															<span class="icon icon--triangle-down absolute -bottom-3.75 left-1/2 z-1 h-4 w-4 -translate-x-1/2 text-white"></span>
														</span>
													</span>
												</span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54 bg-primary-green-gray">
											<div class="text-sm font-medium">
												<span class="inline-block text-center text-purple">
													High priority
													<span class="group/tooltip relative z-1 -mt-0.5 inline-block">
														<span class="w-4 h-4 icon icon--info"></span>
														<span class="pointer-events-none absolute bottom-[calc(100%+.5rem)] left-1/2 w-56 -translate-x-1/2 rounded-xl bg-white px-3 py-2.5 text-xs opacity-0 shadow-header-menu transition-all duration-300 group-hover/tooltip:opacity-100">
															<span class="text-primary-black">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</span>
															<span class="icon icon--triangle-down absolute -bottom-3.75 left-1/2 z-1 h-4 w-4 -translate-x-1/2 text-white"></span>
														</span>
													</span>
												</span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-semibold">
												<span class="inline-block text-center text-primary-100"> Top Priority </span>
											</div>
										</div>
									</div>
									<!-- ./compare row -->
									<!-- compare row -->
									<div class="flex gap-3.5">
										<div class="sticky left-0 z-2 w-52.5 flex-shrink-0 bg-white pb-12">
											<p class="font-medium">Asset Content</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-medium">
												<span class="text-sm font-medium">Limited*</span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-medium">
												<span class="icon icon--check"></span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54 bg-primary-green-gray">
											<div class="text-sm font-medium">
												<span class="icon icon--check text-purple"></span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-semibold text-primary-100">Unlimited</div>
										</div>
									</div>
									<!-- ./compare row -->
									<!-- compare row -->
									<div class="flex gap-3.5">
										<div class="sticky left-0 z-2 w-52.5 flex-shrink-0 bg-white pb-12">
											<p class="font-medium">Asset Content</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-medium">Limited*</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-medium">
												<span class="icon icon--check"></span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54 bg-primary-green-gray">
											<div class="text-sm font-medium">
												<span class="icon icon--check text-purple"></span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-semibold text-primary-100">Unlimited</div>
										</div>
									</div>
									<!-- ./compare row -->
									<!-- compare row -->
									<div class="flex gap-3.5">
										<div class="sticky left-0 z-2 w-52.5 flex-shrink-0 bg-white pb-12">
											<p class="font-medium">Ai Evaluations</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="font-medium">
												<span class="text-sm font-medium">
													<span class="inline-block -translate-y-1">&#8212;</span>
												</span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-medium">
												<span class="icon icon--check"></span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54 bg-primary-green-gray">
											<div class="text-sm font-medium">
												<span class="icon icon--check text-purple"></span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 pb-12 w-54">
											<div class="text-sm font-semibold text-primary-100">Unlimited</div>
										</div>
									</div>
									<!-- ./compare row -->
									<!-- compare row -->
									<div class="flex gap-3.5">
										<div class="sticky left-0 z-2 w-52.5 flex-shrink-0 bg-white">
											<p class="font-medium">Marketplace Trackers</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 w-54">
											<div class="font-medium">
												<span class="text-sm font-medium">
													<span class="inline-block -translate-y-1">&#8212;</span>
												</span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 w-54">
											<div class="text-sm font-medium">
												<span class="icon icon--check"></span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 w-54 rounded-bl-xl rounded-br-xl bg-primary-green-gray">
											<div class="text-sm font-medium">
												<span class="icon icon--check text-purple"></span>
											</div>
										</div>
										<div class="flex justify-center flex-shrink-0 px-8 w-54">
											<div class="text-sm font-semibold text-primary-100">Unlimited</div>
										</div>
									</div>
									<!-- ./compare row -->
								</div>
							</div>

							<div class="text-sm italic font-light mt-11 text-neutral-black-70">*Limited — Built for larger organizations who want to scale with confidence, ffuilt for larger organizations who want to scale with confidenceBuilt for larger organizations who want to scale with confidence</div>
						</div>
						<!-- compare table desktop -->

						<!-- compare table mobile -->
						<div class="flex flex-col gap-12 mt-8 sm:hidden">
							<!-- free -->
							<div class="flex flex-col gap-10">
								<div>
									<h4 class="text-2xl font-semibold leading-none">Free</h4>
									<p class="mt-2 leading-none text-neutral-black-70">$0/month</p>

									<a href="#" class="mt-6 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-neutral-black-5 px-5 py-3.5 text-sm font-medium text-primary-100/40 transition-all duration-300 hover:bg-neutral-black-10">
										<span class="whitespace-nowrap">On Free plan</span>
									</a>
								</div>
								<div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Collection Size</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="flex items-center justify-center flex-1 px-2 pb-8 rounded-tl-xl rounded-tr-xl bg-primary-green-gray">
											<span class="font-bold">3</span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Active Identifications</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">
											<div class="absolute top-0 left-0 right-0 transition-all duration-300 opacity-0 bottom-8 bg-neutral-black-5 group-hover:opacity-100"></div>
											<span class="relative inline-block text-sm font-medium text-center z-1">
												Low <br />priority
												<span class="icon icon--info absolute -right-2 -top-0.5 h-4 w-4"></span>
											</span>
											<span class="pointer-events-none absolute right-[calc(100%-0.625rem)] w-40 rounded-xl bg-white px-3 py-2.5 text-xs opacity-0 shadow-header-menu transition-all duration-300 group-hover:opacity-100 lw:w-56">
												<span class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</span>
												<span class="icon icon--triangle-down absolute -right-3.75 top-1/2 z-1 h-4 w-4 -translate-y-1/2 -rotate-90 text-white"></span>
											</span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Collection Size</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">
											<div class="absolute top-0 left-0 right-0 transition-all duration-300 opacity-0 bottom-8 bg-neutral-black-5 group-hover:opacity-100"></div>
											<span class="relative inline-block text-sm font-medium text-center">
												Limited
												<span class="icon icon--info absolute -right-4.5 -top-0.5 h-4 w-4"></span>
											</span>
											<span class="pointer-events-none absolute right-[calc(100%-0.625rem)] w-40 rounded-xl bg-white px-3 py-2.5 text-xs opacity-0 shadow-header-menu transition-all duration-300 group-hover:opacity-100 lw:w-56">
												<span class="">Built for larger organizations who want to scale with confidence, ffuilt for larger organizations who want to scale with confidenceBuilt for larger organizations who want to scale with confidence</span>
												<span class="icon icon--triangle-down absolute -right-3.75 top-1/2 z-1 h-4 w-4 -translate-y-1/2 -rotate-90 text-white"></span>
											</span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Ai Evaluations</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">&#8212;</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Marketplace Trackers</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group rounded-bl-xl rounded-br-xl bg-primary-green-gray">&#8212;</div>
									</div>
								</div>
							</div>
							<!-- ./free -->
							
							<!-- starter -->
							<div class="flex flex-col gap-10">
								<div>
									<h4 class="text-2xl font-semibold leading-none">Starter</h4>
									<p class="mt-2 leading-none text-neutral-black-70">$6/month</p>

									<a href="#" class="mt-6 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-medium transition-all duration-300 hover:bg-primary-hover">
										<span class="whitespace-nowrap">Upgrade</span>
									</a>
								</div>
								<div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Collection Size</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="flex items-center justify-center flex-1 px-2 pb-8 rounded-tl-xl rounded-tr-xl bg-primary-green-gray">
											<span class="font-bold text-primary-100">10</span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Active Identifications</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">
											<div class="absolute top-0 left-0 right-0 transition-all duration-300 opacity-0 bottom-8 bg-neutral-black-5 group-hover:opacity-100"></div>
											<span class="relative inline-block text-sm font-medium text-center z-1">
												Mid <br />priority
												<span class="icon icon--info absolute -right-2 -top-0.5 h-4 w-4"></span>
											</span>
											<span class="pointer-events-none absolute right-[calc(100%-0.625rem)] w-40 rounded-xl bg-white px-3 py-2.5 text-xs opacity-0 shadow-header-menu transition-all duration-300 group-hover:opacity-100 lw:w-56">
												<span class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</span>
												<span class="icon icon--triangle-down absolute -right-3.75 top-1/2 z-1 h-4 w-4 -translate-y-1/2 -rotate-90 text-white"></span>
											</span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Collection Size</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">
											<span class="icon icon--check"></span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Ai Evaluations</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">
											<span class="icon icon--check"></span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Marketplace Trackers</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group rounded-bl-xl rounded-br-xl bg-primary-green-gray">
											<span class="icon icon--check"></span>
										</div>
									</div>
								</div>
							</div>
							<!-- ./starter -->

							<!-- premium -->
							<div class="flex flex-col gap-10">
								<div>
									<h4 class="text-2xl font-semibold leading-none">Premium Plan</h4>
									<p class="mt-2 leading-none text-neutral-black-70">$15/month</p>

									<a href="#" class="mt-6 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-medium transition-all duration-300 hover:bg-primary-hover">
										<span class="whitespace-nowrap">Upgrade</span>
									</a>
								</div>
								<div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Collection Size</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="flex items-center justify-center flex-1 px-2 pb-8 rounded-tl-xl rounded-tr-xl bg-primary-green-gray">
											<span class="font-bold text-purple">50</span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Active Identifications</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">
											<div class="absolute top-0 left-0 right-0 transition-all duration-300 opacity-0 bottom-8 bg-neutral-black-5 group-hover:opacity-100"></div>
											<span class="relative inline-block text-sm font-medium text-center z-1 text-purple">
												Mid <br />priority
												<span class="icon icon--info absolute -right-2 -top-0.5 h-4 w-4"></span>
											</span>
											<span class="pointer-events-none absolute right-[calc(100%-0.625rem)] w-40 rounded-xl bg-white px-3 py-2.5 text-xs opacity-0 shadow-header-menu transition-all duration-300 group-hover:opacity-100 lw:w-56">
												<span class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</span>
												<span class="icon icon--triangle-down absolute -right-3.75 top-1/2 z-1 h-4 w-4 -translate-y-1/2 -rotate-90 text-white"></span>
											</span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Collection Size</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">
											<span class="icon icon--check text-purple"></span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Ai Evaluations</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">
											<span class="icon icon--check text-purple"></span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Marketplace Trackers</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group rounded-bl-xl rounded-br-xl bg-primary-green-gray">
											<span class="icon icon--check text-purple"></span>
										</div>
									</div>
								</div>
							</div>
							<!-- ./premium -->

							<!-- unlimited -->
							<div class="flex flex-col gap-10">
								<div>
									<h4 class="text-2xl font-semibold leading-none">Premium Plan</h4>
									<p class="mt-2 leading-none text-neutral-black-70">$60/month</p>

									<a href="#" class="mt-6 flex h-14 w-full items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-medium transition-all duration-300 hover:bg-primary-hover">
										<span class="whitespace-nowrap">Upgrade</span>
									</a>
								</div>
								<div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Collection Size</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="flex items-center justify-center flex-1 px-2 pb-8 rounded-tl-xl rounded-tr-xl bg-primary-green-gray">
											<span class="text-sm font-bold text-primary-100">Unlimited</span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Active Identifications</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">
											<span class="text-sm font-bold text-primary-100">Top priority</span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Collection Size</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">
											<span class="text-sm font-bold text-primary-100">Unlimited</span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Ai Evaluations</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group bg-primary-green-gray">
											<span class="text-sm font-bold text-primary-100">Unlimited</span>
										</div>
									</div>
									<div class="flex gap-5">
										<div class="flex-1 pb-8 lw:w-50 lw:flex-none">
											<p class="font-medium">Marketplace Trackers</p>
											<p class="mt-2 text-sm text-neutral-black-70">Built for larger organizations who want to scale with confidence.</p>
										</div>
										<div class="relative flex items-center justify-center flex-1 px-2 pb-8 group rounded-bl-xl rounded-br-xl bg-primary-green-gray">
											<span class="text-sm font-bold text-primary-100">Unlimited</span>
										</div>
									</div>
								</div>
							</div>
							<!-- ./unlimited -->

							
						</div>
						<!-- ./compare table mobile -->
					</div>

					<!-- ./compare plans -->
				</div>
			</div>
		</main>
		<script src="../../js/app.js"></script>

	</body>
</html>
