<section class="section">
	<div class="container">
		<h2 class="title">Девушки дня</h2>
		<ul class="breadcrumbs">
			<li>
				<a href="#">Головна</a>
			</li>
		</ul>

		<div class="gday">
			<!-- <button class="btn btn-prev">
				<i class="icon icon--chevron-left"></i>
			</button>
			<button class="btn btn-next">
				<i class="icon icon--chevron-right"></i>
			</button> -->
			<div class="gday__list">
				<div class="gday__item">
					<div class="gday__photo">
						<img src="img/girls/01.webp" alt="Кристина" />
					</div>

					<div class="gday__info">
						<div class="gday__name">Кристина</div>
						<div class="gday__network gday__network--online">
							<span>сейчас в сети</span>
							<span></span>
						</div>
					</div>
					<a href="#" class="btn btn--primary">Подробнее</a>
				</div>
				<div class="gday__item">
					<div class="gday__photo">
						<img src="img/girls/02.webp" alt="Анна" />
					</div>

					<div class="gday__info">
						<div class="gday__name">Анна</div>
						<div class="gday__network gday__network--offline">
							<span>сейчас не сети</span>
							<span></span>
						</div>
					</div>
					<a href="#" class="btn btn--primary">Подробнее</a>
				</div>
				<div class="gday__item">
					<div class="gday__photo">
						<img src="img/girls/03.webp" alt="Кристина" />
					</div>

					<div class="gday__info">
						<div class="gday__name">Кристина</div>
						<div class="gday__network gday__network--online">
							<span>сейчас в сети</span>
							<span></span>
						</div>
					</div>
					<div class="gday__vip">vip</div>
					<a href="#" class="btn btn--primary">Подробнее</a>
				</div>
				<div class="gday__item">
					<div class="gday__photo">
						<img src="img/girls/04.webp" alt="Анна" />
					</div>

					<div class="gday__info">
						<div class="gday__name">Анна</div>
						<div class="gday__network gday__network--online">
							<span>сейчас в сети</span>
							<span></span>
						</div>
					</div>
					<a href="#" class="btn btn--primary">Подробнее</a>
				</div>
				<div class="gday__item">
					<div class="gday__photo">
						<img src="img/girls/05.webp" alt="Кристина" />
					</div>

					<div class="gday__info">
						<div class="gday__name">Кристина</div>
						<div class="gday__network gday__network--online">
							<span>сейчас в сети</span>
							<span></span>
						</div>
					</div>
					<a href="#" class="btn btn--primary">Подробнее</a>
				</div>
				<div class="gday__item">
					<div class="gday__photo">
						<img src="img/girls/06.webp" alt="Анна" />
					</div>

					<div class="gday__info">
						<div class="gday__name">Анна</div>
						<div class="gday__network gday__network--online">
							<span>сейчас в сети</span>
							<span></span>
						</div>
					</div>
					<a href="#" class="btn btn--primary">Подробнее</a>
				</div>
				<div class="gday__item">
					<div class="gday__photo">
						<img src="img/girls/07.webp" alt="Кристина" />
					</div>

					<div class="gday__info">
						<div class="gday__name">Кристина</div>
						<div class="gday__network gday__network--online">
							<span>сейчас в сети</span>
							<span></span>
						</div>
					</div>
					<div class="gday__vip">vip</div>
					<a href="#" class="btn btn--primary">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
</section>
