.article {
	&__info {
		display: flex;
		flex-flow: wrap;
		gap: 30px;
		margin-top: 40px;
	}

	&__info-item {
		flex: 1;

		min-width: 130px;

		p {
			margin: 0;

			&:nth-of-type(1) {
				position: relative;
				font-weight: 500;
				font-size: 16px;
				line-height: 150%;
				color: var(--c-gray-3);

				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: -4px;
					width: 18px;
					height: 4px;
					background-color: var(--c-main);
				}
			}

			&:nth-of-type(2) {
				margin-top: 20px;
				font-weight: 700;
				font-size: 18px;
				line-height: 150%;
			}

			@media (width <= 991px) {
				&:nth-of-type(1),
				&:nth-of-type(2) {
					font-size: 14px;
				}
			}
		}
	}

	&__image-hero {
		margin-top: -176px;

		@media (width <= 991px) {
			margin-top: -96px;
		}
	}

	&__image-top {
		border-radius: 32px;
		overflow: clip;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 1146 / 589;

			@media (width <= 576px) {
				aspect-ratio: 288 / 244;
			}
		}
	}

	&__image-top-description {
		margin-top: 8px;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		color: #c8cbcf;
	}

	&__card-img-left {
		position: relative;
		overflow: hidden;
		border-radius: 20px;
		padding: 48px;
		background-color: #f4f4f4;
		margin: 72px 0;

		.section-title {
			text-align: left;
			font-weight: 700;
			font-size: 30px;
			line-height: 150%;
		}

		.section-desc {
			font-weight: 600;
			text-align: left;
			color: var(--c-gray-1);
		}

		.s-differents__card-bg-1 {
			left: auto;
			right: 0;

			@media (width <= 767px) {
				top: auto;
				bottom: 0;
			}
		}

		@media (width <= 991px) {
			padding: 24px 16px;
			.section-title {
				font-size: 26px;
			}
		}

		@media (width <= 767px) {
			.sButton {
				margin-inline: auto;
			}
		}
	}

	&__card-img-left-body {
		max-width: 78%;
		position: relative;
		z-index: 1;

		@media (width <= 991px) {
			max-width: 80%;
		}

		@media (width <= 767px) {
			max-width: 100%;
		}
	}

	&__card-backquotes {
		position: relative;
		padding: 48px;
		border-radius: 20px;
		background-color: var(--c-main);
		margin-top: 68px;
		color: var(--c-white);

		svg {
			position: absolute;
			left: -9px;
			top: -47px;
			width: 100px;
			height: auto;
			pointer-events: none;

			@media (width <= 991px) {
				width: 57px;
				left: 16px;
				top: -25px;
			}
		}

		p {
			font-style: italic;
			font-weight: 600;
			font-size: 20px;
			line-height: 164%;

			@media (width <= 991px) {
				font-size: 16px;
				line-height: 150%;
			}
		}

		.author {
			display: flex;
			flex-flow: column;
			margin-top: 30px;

			span {
				&:nth-of-type(1) {
					font-weight: 700;
					font-size: 18px;
					line-height: 164%;
				}

				&:nth-of-type(2) {
					font-weight: 400;
				}

				@media (width <= 991px) {
					&:nth-of-type(1),
					&:nth-of-type(2) {
						font-size: 16px;
						line-height: 150%;
					}
				}
			}
		}

		@media (width <= 991px) {
			padding: 24px 16px;
			margin-top: 52px;
		}
	}

	&__block {
		&--m72 {
			margin-block: 72px;

			@media (width <= 991px) {
				margin-block: 56px;
			}

			ul {
				margin: 12px 0;
				> li {
					ul {
						border-left: 1px solid var(--c-main);
						padding-left: 44px;

						@media (width <= 991px) {
							padding-left: 24px;
						}
					}
				}
			}
		}

		&--bordered {
			border: 1px solid #ff9f46;
			border-radius: 24px;
			padding: 24px;

			img {
				border-radius: 8px;
			}

			p {
				&:has(img) {
					font-size: 16px;
					line-height: 131%;
					text-align: center;
					color: #686868;

					img {
						margin-bottom: 16px;
					}
				}
			}

			@media (width <= 991px) {
				padding: 24px 16px;
			}
		}

		@media (width <= 767px) {
			ol,
			ul {
				&.article__ul-borderless {
					padding: 16px 24px 16px 32px;
				}
			}
		}
	}

	&__block-author {
		display: flex;
		flex-flow: column;
		border-top: 1px solid #c8cbcf;
		padding: 48px 48px 48px 152px;
		position: relative;

		.author-photo {
			position: absolute;
			top: 48px;
			left: 48px;
			flex-shrink: 0;
			width: 76px;
			height: 76px;
			border-radius: 50%;
			overflow: clip;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.caption {
			margin-bottom: 4px;
			color: rgba(51, 51, 51, 0.5);
		}

		.author-socials {
			display: flex;
			margin-left: auto;
			gap: 8px;
			flex-flow: wrap;

			a {
				flex-shrink: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 35px;
				height: 35px;
				background-color: var(--c-gray-6);
				border-radius: 8px;
				transition: background-color 0.2s ease-out;

				@include hover-supported {
					background-color: var(--c-gray-5);
				}
			}
		}

		.author-name {
			display: flex;
			align-items: center;
			gap: 8px;
			flex-flow: wrap;
			font-size: 18px;
			line-height: 155%;
			color: rgba(51, 51, 51, 0.5);

			span {
				font-weight: 700;
				font-size: 26px;
				line-height: 130%;
				color: var(--c-gray-1);
			}
		}

		.author-title {
			display: flex;
			gap: 16px;
		}

		.author-desr {
			margin-top: 24px;
		}

		@media (width <= 576px) {
			padding: 24px 16px ;

			.caption {
				margin-bottom: 0;
			}

			.author-photo {
				position: static;
				margin-block: 25px;
				width: 46px;
				height: 46px;
			}

			.author-name {
				font-size: 16px;
				line-height: 130%;

				span {
					font-size: 24px;
					line-height: 130%;
				}
			}

			.author-desr {
				margin-top: 15px;
			}

			.author-socials {
				position: absolute;
				top: 72px;
				right: 16px;

				a {
					width: 46px;
					height: 46px;
				}
			}
		}
	}
}
