<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space - Portfolio page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full font-inter">
		<header class="border-b border-neutral-black-5">
	<div class="container">
		<div class="flex items-center justify-center gap-4 py-5 lg:py-10">
			<a href="../../index.html">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
		</div>
	</div>
</header>

		<main class="flex-grow py-4 lg:py-12">
			<div class="container">
				<ul class="flex flex-col gap-6">
					<li class="pb-6 border-b border-b-neutral-black-5">
						<h2 class="mb-4 text-xl font-bold">Pagination</h2>
						<!-- pagination -->
						<div class="flex justify-center gap-4">
							<a href="#" class="flex items-center justify-center w-10 h-10 text-sm transition-all duration-200 border rounded-lg border-neutral-black-5 hover:bg-primary">
								<span class="icon icon--chevron-left"></span>
							</a>
							<a href="#" class="flex items-center justify-center w-10 h-10 text-sm transition-all duration-200 border rounded-lg border-neutral-black-5 hover:bg-primary">
								<span>1</span>
							</a>
							<a href="#" class="flex items-center justify-center w-10 h-10 text-sm transition-all duration-200 border rounded-lg border-neutral-black-5 hover:bg-primary">
								<span>2</span>
							</a>
							<a href="#" class="flex items-center justify-center w-10 h-10 text-sm transition-all duration-200 border rounded-lg border-neutral-black-5 bg-primary text-shadow-mid">
								<span>3</span>
							</a>
							<a href="#" class="flex items-center justify-center w-10 h-10 text-sm transition-all duration-200 border rounded-lg border-neutral-black-5 hover:bg-primary">
								<span>4</span>
							</a>
							<a href="#" class="flex items-center justify-center w-10 h-10 text-sm transition-all duration-200 border rounded-lg border-neutral-black-5 hover:bg-primary">
								<span>5</span>
							</a>

							<span>...</span>
							<a href="#" class="flex items-center justify-center w-10 h-10 text-sm transition-all duration-200 border rounded-lg border-neutral-black-5 hover:bg-primary">
								<span>999</span>
							</a>
							<a href="#" class="flex items-center justify-center w-10 h-10 text-sm transition-all duration-200 border rounded-lg border-neutral-black-5 hover:bg-primary">
								<span class="icon icon--chevron-right"></span>
							</a>
						</div>
						<!-- pagination -->
					</li>
				</ul>
			</div>
		</main>
	</body>
</html>
