<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space → Manual Assessment page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full font-inter">
		<header class="lg:border-b lg:border-neutral-black-5">
	<div class="container">
		<div class="relative flex items-center justify-between py-3 lg:py-7">
			<a href="../../index.html" class="flex-shrink-0">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
			<div class="absolute left-0 right-0 hidden py-3 -translate-y-1/2 top-1/2 -z-1 lg:block lg:py-7">
				<div class="relative mx-auto max-w-125 xl:max-w-225">
					<ul class="flex items-center justify-center">
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium bg-white border-2 rounded-full border-secondary text-secondary">
								<span class="icon icon--flag"></span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-1/2 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>1</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>2</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>3</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>4</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>5</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>

						<li class="">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span class="icon icon--rocket h-5.5 w-5.5"></span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<button class="flex">
				<span class="icon icon--close"></span>
			</button>
		</div>
		<div class="w-full h-1 rounded bg-neutral-black-5 lg:hidden overflow-clip" style="--step: 1; --steps-total: 11">
			<div class="h-1 w-[calc((100/var(--steps-total))*var(--step)*1%)] rounded bg-primary-100"></div>
		</div>
	</div>
</header>

		<main class="flex-grow py-9 lg:py-12">
			<div class="container">
				<div class="mx-auto max-w-225">
					<div class="flex gap-10">
						<div class="flex-shrink-0 w-full lg:w-110">
							<div class="pb-4 border-b border-b-neutral-black-3 md:pb-3">
								<p class="text-base font-medium leading-150 text-neutral-black-70 lg:text-lg">Step 3 / 5</p>
								<h1 class="mt-1.5 text-sm2x font-semibold leading-125 tracking-tight lg:text-base2x">Upload Images or Photos</h1>
								<p class="text-sm lg:hidden">Here you can find more information. <button class="underline text-secondary underline-offset-4">Learn more</button></p>
							</div>
							<div class="flex flex-col gap-2 mt-7 md:mt-9">
								<div class="text-sm font-semibold tracking-tight leading-150 text-primary-black lg:hidden">Upload image</div>
								<div class="relative cursor-pointer">
									<input type="file" class="hidden" id="fileUpload" />
									<label for="fileUpload" class="absolute inset-0 z-1"></label>
									<div class="relative flex flex-col items-center w-full px-8 py-6 rounded-3xl bg-primary/10 lg:py-14">
										<div class="absolute inset-0 w-full h-full icon icon--dashed-r24 -z-0 text-primary"></div>
										<span class="icon icon--media-upload h-12.5 w-12.5"></span>
										<p class="mt-6 text-lg font-medium lg:mt-9 lg:text-xl">Drag and Drop</p>
										<p class="mt-2 text-sm opacity-50 lg:mt-3">or</p>
										<button class="mt-3 flex h-12 w-full flex-shrink-0 items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover lg:mt-4">
											<span>Choose an image</span>
										</button>
									</div>
								</div>
								<div class="flex items-center justify-between text-xs text-neutral-black-70 lg:hidden">
									<p>Supported formats: PNG, JPEG</p>
									<p>Max size: 5mb</p>
								</div>
							</div>
							<div class="flex flex-col gap-2 mt-12 lw:flex-row">
								<button class="flex h-12 items-center justify-center gap-2 rounded-xl border border-neutral-black-5 px-5 py-3.5 text-sm transition-all duration-300 hover:bg-neutral-black-1 lw:w-fit">
									<span>Skip the step</span>
								</button>
								<button class="-order-1 flex h-12 flex-shrink-0 items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover lw:order-none lw:w-fit">
									<span>Save&amp;Continue</span>
									<span class="icon icon--arrow-right"></span>
								</button>
							</div>
						</div>
						<div class="flex-grow hidden lg:block">
							<div class="p-8 border rounded-3xl border-neutral-black-5">
								<div class="flex h-7.5 w-fit items-center gap-1 rounded-3xl bg-secondary/10 px-2 py-1 text-sm text-secondary">
									<span class="w-5 h-5 icon icon--question-group"></span>
									<span>Quick Help</span>
								</div>

								<div class="flex flex-col gap-5 mt-6">
									<div class="">
										<button class="flex items-center w-full gap-2">
											<span class="text-lg font-medium">Upload Images</span>
											<span class="ml-auto icon icon--chevron-down"></span>
										</button>
										<div class="pt-4 text-sm leading-160">
											<ul class="flex flex-col gap-4">
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p>You can add up to 5 photos to your identification request.</p>
												</li>
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p><span class="inline-block font-semibold">File Size:&nbsp;</span>Each image can be up to a maximum of 5MB.</p>
												</li>
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p><span class="inline-block font-semibold">Supported Formats:&nbsp;</span>You can upload images in the following formats: JPEG, PNG, BMP, GIF.</p>
												</li>
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p><span class="inline-block font-semibold">Automatic Saving:&nbsp;</span>Once you upload an image, it will be automatically saved and linked to your identification request.</p>
												</li>
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p><span class="inline-block font-semibold">Delete Option:&nbsp;</span>You can delete any image after uploading if necessary.</p>
												</li>
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p><span class="inline-block font-semibold">Important Details:&nbsp;</span>Ensure the images show important details such as marks or any other context that can aid the expert in better understanding your request.</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script src="../../js/app.js"></script>

	</body>
</html>
