<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space → Manual Assessment page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full font-inter">
		<header class="lg:border-b lg:border-neutral-black-5">
	<div class="container">
		<div class="relative flex items-center justify-between py-3 lg:py-7">
			<a href="../../index.html" class="flex-shrink-0">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
			<div class="absolute left-0 right-0 hidden py-3 -translate-y-1/2 top-1/2 -z-1 lg:block lg:py-7">
				<div class="relative mx-auto max-w-125 xl:max-w-225">
					<ul class="flex items-center justify-center">
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium bg-white border-2 rounded-full border-secondary text-secondary">
								<span class="icon icon--flag"></span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-1/2 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>1</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>2</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>3</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>4</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>5</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>

						<li class="">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span class="icon icon--rocket h-5.5 w-5.5"></span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<button class="flex">
				<span class="icon icon--close"></span>
			</button>
		</div>
		<div class="w-full h-1 rounded bg-neutral-black-5 lg:hidden overflow-clip" style="--step: 1; --steps-total: 11">
			<div class="h-1 w-[calc((100/var(--steps-total))*var(--step)*1%)] rounded bg-primary-100"></div>
		</div>
	</div>
</header>

		<main class="flex-grow py-9 lg:py-12">
			<div class="container">
				<div class="mx-auto max-w-225">
					<div class="flex gap-10">
						<div class="flex-shrink-0 w-full lg:w-110">
							<div class="pb-4 border-b border-b-neutral-black-3 md:pb-3">
								<p class="text-base font-medium leading-150 text-neutral-black-70 lg:text-lg">Step 4 / 5</p>
								<h1 class="mt-1.5 text-sm2x font-semibold leading-125 tracking-tight lg:text-base2x">Additional Information</h1>
								<p class="text-sm lg:hidden">Here you can find more information. <button class="underline text-secondary underline-offset-4">Learn more</button></p>
							</div>
							<div class="flex flex-col gap-5 mt-7 md:mt-9">
								<label class="flex flex-col gap-2">
									<span class="text-sm font-semibold tracking-tight leading-150 text-primary-black">Detailed Description</span>
									<textarea type="text" class="h-55 w-full resize-none rounded-xl border border-primary-green-gray bg-primary-green-gray px-3.5 py-3 text-sm font-medium leading-150 text-primary-black transition-all duration-300 scrollbar-thin placeholder:text-sm placeholder:text-neutral-black-50 focus:border-secondary focus:bg-white focus:shadow-input lg:h-24" placeholder="Providing a detailed description significantly increases the chances of a fast and accurate identification. "></textarea>
								</label>
							</div>
							<div class="flex flex-col gap-5 mt-7 md:mt-9">
								<label class="flex flex-col gap-2">
									<span class="text-sm font-semibold tracking-tight leading-150 text-primary-black">Detailed Description</span>
									<textarea type="text" class="h-55 w-full resize-none rounded-xl border border-primary-green-gray bg-primary-green-gray px-3.5 py-3 text-sm font-medium leading-150 text-primary-black transition-all duration-300 scrollbar-thin placeholder:text-sm placeholder:text-neutral-black-50 focus:border-secondary focus:bg-white focus:shadow-input" placeholder="Providing a detailed description significantly increases the chances of a fast and accurate identification. ">I have a Greek vase that appears to be very old. It features intricate black-figure designs depicting mythological scenes and geometric patterns. The vase is made of clay and has a patina that suggests significant age. It stands about 12 inches tall and has some wear, particularly around the base and rim. There are no visible maker’s marks or inscriptions. I inherited it from my grandparents, who collected antiques. I would like to know more about its origin, age, and potential value.</textarea>
								</label>
								
							</div>
							<div class="flex gap-2 mt-5 text-xs font-medium text-error-60">
								<span class="w-4 h-4 icon icon--disabled"></span>
								<span>Error: This step is required...</span>
							</div>

							<div class="flex flex-col gap-2 mt-12 lw:flex-row">
								<button class="flex h-12 flex-shrink-0 items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover lw:order-none lw:w-fit">
									<span class="icon icon--floppy-save-edit"></span>
									<span>Save&amp;Continue</span>
								</button>
							</div>
						</div>
						<div class="flex-grow hidden lg:block">
							<div class="p-8 border rounded-3xl border-neutral-black-5">
								<div class="flex h-7.5 w-fit items-center gap-1 rounded-3xl bg-secondary/10 px-2 py-1 text-sm text-secondary">
									<span class="w-5 h-5 icon icon--question-group"></span>
									<span>Quick Help</span>
								</div>

								<div class="flex flex-col gap-5 mt-6">
									<div class="">
										<button class="flex items-center w-full gap-2">
											<span class="text-lg font-medium">Description</span>
											<span class="ml-auto icon icon--chevron-down"></span>
										</button>
										<div class="pt-4 text-sm leading-160">
											<ul class="flex flex-col gap-4">
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p><span class="inline-block font-semibold">Importance of Detail:&nbsp;</span>Providing a detailed description significantly increases the chances of a fast and accurate identification. Be as specific and thorough as possible.</p>
												</li>
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p><span class="inline-block font-semibold">Language Requirement:&nbsp;</span>Only descriptions written in English are supported at this moment. Descriptions in other languages will be ignored or rejected.</p>
												</li>
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p>No Additional Information: If you have nothing to add, simply write “None” in the description field.</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script src="../../js/app.js"></script>

	</body>
</html>
