<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space → Manual Assessment page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full font-inter">
		<header class="lg:border-b lg:border-neutral-black-5">
	<div class="container">
		<div class="relative flex items-center justify-between py-3 lg:py-7">
			<a href="../../index.html" class="flex-shrink-0">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
			<div class="absolute left-0 right-0 hidden py-3 -translate-y-1/2 top-1/2 -z-1 lg:block lg:py-7">
				<div class="relative mx-auto max-w-125 xl:max-w-225">
					<ul class="flex items-center justify-center">
						
						<li class="relative pr-20 xl:pr-21.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium bg-white border-2 rounded-full border-secondary">
								<span>1</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-20 xl:pr-21.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>2</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-20 xl:pr-21.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>3</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-20 xl:pr-21.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-secondary-blue-gray bg-secondary-blue-gray text-secondary">
								<span class="hidden">4</span>
								<span class="w-5 h-5 icon icon--check"></span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-20 xl:pr-21.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-secondary-blue-gray bg-secondary-blue-gray text-secondary">
								<span class="hidden">5</span>
								<span class="w-5 h-5 icon icon--check"></span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>

						<li class="">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span class="icon icon--rocket h-5.5 w-5.5"></span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<button class="flex">
				<span class="icon icon--close"></span>
			</button>
		</div>
		<div class="w-full h-1 rounded bg-neutral-black-5 lg:hidden overflow-clip" style="--step: 1; --steps-total: 11">
			<div class="h-1 w-[calc((100/var(--steps-total))*var(--step)*1%)] rounded bg-primary-100"></div>
		</div>
	</div>
</header>

		<main class="flex-grow py-9 lg:py-12">
			<div class="container">
				<div class="mx-auto max-w-225">
					<div class="flex gap-10">
						<div class="flex-shrink-0 w-full lg:w-110">
							<div class="pb-4 border-b border-b-neutral-black-3 md:pb-3">
								<h1 class="mt-1.5 text-sm2x font-semibold leading-125 tracking-tight lg:text-base2x">Review and Submit</h1>
								<p class="text-sm lg:hidden">Here you can find more information. <button class="underline text-secondary underline-offset-4">Learn more</button></p>
							</div>
							<div class="flex flex-col gap-8 mt-7 md:mt-9">
								<div class="flex flex-col gap-3">
									<div class="flex items-center gap-3">
										<span class="icon icon--user-profile-settings"></span>
										<h3 class="font-medium">Title/Name:</h3>
									</div>
									<div class="text-neutral-black-70">United Arab Coin United Arab Coin United Arab</div>
								</div>
								<div class="flex flex-col gap-3">
									<div class="flex justify-between gap-4">
										<div class="flex items-center gap-3">
											<span class="icon icon--links-circle"></span>
											<h3 class="font-medium">Linked Asset</h3>
										</div>
										<div>
											<button class="flex h-10 w-fit items-center justify-center rounded-lg border border-neutral-black-5 px-3.5 py-2.5 text-sm font-medium transition-all duration-300 hover:bg-neutral-black-1">
												<span>Edit</span>
											</button>
										</div>
									</div>
									<div class="text-neutral-black-70">United Arab Coin United Arab</div>
								</div>
								<div class="flex flex-col gap-3">
									<div class="flex justify-between gap-4">
										<div class="flex items-center gap-3">
											<span class="icon icon--text-edit-pen"></span>
											<h3 class="font-medium">Description</h3>
										</div>
										<div>
											<button class="flex h-10 w-fit items-center justify-center rounded-lg border border-neutral-black-5 px-3.5 py-2.5 text-sm font-medium transition-all duration-300 hover:bg-neutral-black-1">
												<span>Edit</span>
											</button>
										</div>
									</div>
									<div>
										<div class="line-clamp-3 text-neutral-black-70 text-description">
											Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
											exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
										</div>
										<button class="flex items-center text-secondary btn-show-more">
											<span class="transition-all duration-300 transform icon icon--chevron-down"></span>
											<span class="btn-show-more-text">View more</span>
										</button>
									</div>
								</div>
								<div class="flex flex-col gap-3">
									<div class="flex items-center gap-3">
										<span class="icon icon--image-picture-download"></span>
										<h3 class="font-medium">Uploaded Images</h3>
									</div>
									<div class="mt-2 grid grid-cols-4 gap-2.5 sm:grid-cols-5">
										<div class="aspect-[1.17] w-full overflow-clip rounded-lg bg-loading bg-contain bg-center bg-no-repeat">
											<img decoding="async" class="object-cover w-full h-full" src="../../img/assets/image-01.webp" title="" alt="" loading="lazy" />
										</div>
										<div class="aspect-[1.17] w-full overflow-clip rounded-lg bg-loading bg-contain bg-center bg-no-repeat">
											<img decoding="async" class="object-cover w-full h-full" src="../../img/assets/image-01.webp" title="" alt="" loading="lazy" />
										</div>
										<div class="aspect-[1.17] w-full overflow-clip rounded-lg bg-loading bg-contain bg-center bg-no-repeat">
											<img decoding="async" class="object-cover w-full h-full" src="../../img/assets/image-01.webp" title="" alt="" loading="lazy" />
										</div>
										<div class="aspect-[1.17] w-full overflow-clip rounded-lg bg-loading bg-contain bg-center bg-no-repeat">
											<img decoding="async" class="object-cover w-full h-full" src="../../img/assets/image-01.webp" title="" alt="" loading="lazy" />
										</div>
										<div class="aspect-[1.17] w-full overflow-clip rounded-lg bg-loading bg-contain bg-center bg-no-repeat">
											<img decoding="async" class="object-cover w-full h-full" src="../../img/assets/image-01.webp" title="" alt="" loading="lazy" />
										</div>
									</div>
								</div>

								<div class="flex flex-col gap-3">
									<div class="flex items-center gap-3">
										<span class="icon icon--document-attachment"></span>
										<h3 class="font-medium">Uploaded Documents</h3>
									</div>
									<ul class="flex flex-col gap-2">
										<li class="flex gap-2">
											<span class="h-1 w-1 flex-shrink-0 translate-y-2.5 rounded-full bg-primary-black"></span>
											<p class="break-all text-neutral-black-70">Comprehensive_Analysis_of_Environmental_Impact_Assessment_Methodologies_2024.docx</p>
										</li>
										<li class="flex gap-2">
											<span class="h-1 w-1 flex-shrink-0 translate-y-2.5 rounded-full bg-primary-black"></span>
											<p class="break-all text-neutral-black-70">Detailed_Review_of_Financial_Performance_and_Projections_Report_2023.xlsx</p>
										</li>
										<li class="flex gap-2">
											<span class="h-1 w-1 flex-shrink-0 translate-y-2.5 rounded-full bg-primary-black"></span>
											<p class="break-all text-neutral-black-70">Advanced_Research_on_Genetic_Modifications_in_Agricultural_Crops.pdf</p>
										</li>
									</ul>
								</div>
							</div>

							<div class="mt-8">
								<label>
									<input type="checkbox" class="hidden peer" name="name11" checked />
									<div class="flex gap-2 group">
										<div class="flex items-center justify-center flex-shrink-0 w-4 h-4 transition-all duration-300 border rounded border-neutral-black-20 group-peer-checked:border-secondary group-peer-checked:bg-secondary">
											<span class="w-3 h-3 text-white transition-all duration-300 opacity-0 icon icon--check group-peer-checked:opacity-100"></span>
										</div>
										<div class="-mt-0.5">
											<h4 class="text-sm transition-all duration-300 leading-150">I agree to the additional terms and conditions for identification requests.</h4>
										</div>
									</div>
								</label>
							</div>

							<div class="flex flex-col gap-2 mt-5 lw:flex-row">
								<button class="flex h-12 items-center justify-center gap-2 rounded-xl border border-neutral-black-5 px-5 py-3.5 text-sm transition-all duration-300 hover:bg-neutral-black-1 lw:w-fit">
									<span>Leave as a draft</span>
								</button>
								<button class="-order-1 flex h-12 flex-shrink-0 items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover lw:order-none lw:w-fit">
									<span class="icon icon--rocket"></span>
									<span>Submit a request</span>
								</button>
							</div>
						</div>

						<div class="flex-grow hidden lg:block">
							<div class="p-8 border rounded-3xl border-neutral-black-5">
								<div class="flex h-7.5 w-fit items-center gap-1 rounded-3xl bg-secondary/10 px-2 py-1 text-sm text-secondary">
									<span class="w-5 h-5 icon icon--question-group"></span>
									<span>Quick Help</span>
								</div>

								<div class="flex flex-col gap-5 mt-7">
									<div class="text-sm leading-160">
										<ul class="flex flex-col gap-4">
											<li class="flex gap-2">
												<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
												<p><span class="inline-block font-semibold">Review Information:&nbsp;</span>In this final step, you will see all the information you provided in the previous steps. Please review it carefully to ensure everything is accurate and complete.</p>
											</li>
											<li class="flex gap-2">
												<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
												<p><span class="inline-block font-semibold">Submit or Save as Draft:&nbsp;</span>You have the option to either Submit Request or Save as Draft.</p>
											</li>
											<li class="flex gap-2">
												<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
												<p><span class="inline-block font-semibold">Submit Request:&nbsp;</span>Clicking this button will finalize your request and send it to the expert for identification.</p>
											</li>
											<li class="flex gap-2">
												<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
												<p><span class="inline-block font-semibold">Save as Draft:&nbsp;</span>This option allows you to save your progress and return to complete the request later.</p>
											</li>
											<li class="flex gap-2">
												<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
												<p><span class="inline-block font-semibold">Request Status:&nbsp;</span>After submitting, the status of your request will change, and the expert will be notified.</p>
											</li>
											<li class="flex gap-2">
												<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
												<p><span class="inline-block font-semibold">Single Active Request:&nbsp;</span>You can only have one active identification request at a time. Once the expert has completed your current request, you will be able to submit another one.</p>
											</li>
											<li class="flex gap-2">
												<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
												<p>By carefully reviewing your information and ensuring it is accurate, you help facilitate a smooth and efficient identification process.</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script src="../../js/app.js"></script>

		<script>
			// show more action
			const textDescription = document.getElementById("textDescription");
			const textDescriptionShowMoreBtn = document.getElementById("textDescriptionShowMoreBtn");
			const textDescriptionShowMoreBtnText = document.getElementById("textDescriptionShowMoreBtnText");

			if (textDescriptionShowMoreBtn) {
				let state = 0;
				textDescriptionShowMoreBtn.addEventListener("click", function () {
					textDescription.classList.toggle("line-clamp-3");

					if (state === 0) {
						state = 1;
						textDescriptionShowMoreBtnText.textContent = "View less";
						this.querySelector(".icon").classList.add("rotate-x-180");
					} else {
						state = 0;
						textDescriptionShowMoreBtnText.textContent = "View more";
						this.querySelector(".icon").classList.remove("rotate-x-180");
					}
				});
			}
		</script>
	</body>
</html>
