@font-face {
	src: url("../fonts/SFProDisplay-Medium.woff2"), url("../fonts/SFProDisplay-Medium.woff");
	font-family: "SF Pro Display";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/SFProDisplay-Regular.woff2"), url("../fonts/SFProDisplay-Regular.woff");
	font-family: "SF Pro Display";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/SFProDisplay-Bold.woff2"), url("../fonts/SFProDisplay-Bold.woff");
	font-family: "SF Pro Display";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/SFProDisplay-Semibold.woff2"), url("../fonts/SFProDisplay-Semibold.woff");
	font-family: "SF Pro Display";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}


