@font-face {
	src: url("../fonts/Roboto-Medium.woff2"), url("../fonts/Roboto-Medium.woff");
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Roboto-Regular.woff2"), url("../fonts/Roboto-Regular.woff");
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Roboto-Bold.woff2"), url("../fonts/Roboto-Bold.woff");
	font-family: "Roboto";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/GoogleSans-Bold.woff2"), url("../fonts/GoogleSans-Bold.woff");
	font-family: "Google Sans";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/GoogleSans-Medium.woff2"), url("../fonts/GoogleSans-Medium.woff");
	font-family: "Google Sans";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/GoogleSans-Regular.woff2"), url("../fonts/GoogleSans-Regular.woff");
	font-family: "Google Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
