.nav-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	font-family: var(--secondary);
	will-change: transform;
	transform: translateZ(0);
	box-shadow: 0 0 4px 0 #00003642;
	background-color: #fff;
	padding: rem(12) 0;

	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(16);
		li {
			// flex-grow: 1;
			// display: flex;
			// justify-content: center;
			a {
				display: flex;
				flex-flow: column;
				align-items: center;
				justify-content: start;
				width: fit-content;
				text-align: center;
				font-size: rem(12);
				font-weight: 500;
				gap: rem(4);
			}

			&.active {
				color: var(--watercourse);
			}
		}
	}

	&.fix {
		@media (min-width: em(1024)) {
			padding-right: rem(16);
		}
	}
}
