.px-1 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.px-2 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.px-3 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.px-4 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.px-5 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.px-6 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.px-7 {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}

.px-8 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.px-9 {
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
}

.px-10 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

@font-face {
	src: url("../fonts/Inter-Bold.woff2"), url("../fonts/Inter-Bold.woff");
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
	src: url("../fonts/Inter-Medium.woff2"), url("../fonts/Inter-Medium.woff");
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
	src: url("../fonts/Poppins-Medium.woff2"), url("../fonts/Poppins-Medium.woff");
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
	src: url("../fonts/Poppins-Regular.woff2"), url("../fonts/Poppins-Regular.woff");
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
	src: url("../fonts/Poppins-SemiBold.woff2"), url("../fonts/Poppins-SemiBold.woff");
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.container {
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 1210px;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	-webkit-tap-highlight-color: transparent;
}

hr,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

hr {
	border: none;
	height: 1px;
}

input,
button,
textarea {
	margin: 0;
	outline: none;
	border: none;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: inherit;
	font-size: 16px;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	position: relative;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
	color: #fff;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	cursor: pointer;
}

a::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: #fff;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

a:hover::before {
	width: 100%;
}

.body-wrapper {
	overflow: hidden;
}

.lock {
	overflow: hidden;
}

.block__title a {
	color: #FF446F;
}

.block__title a::before {
	background-color: #FF446F;
}

.block__title--standard {
	font-weight: 600;
}

.block__title--hero {
	font-weight: 600;
	font-size: 60px;
	line-height: 140%;
}

.block__title--white {
	color: #fff;
}

.block__title--center {
	text-align: center;
}

.block__title--content {
	font-weight: 600;
	font-size: 40px;
	line-height: 140%;
}

.block__title--text {
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 18px;
	line-height: 178%;
}

.block__title--hidden {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	font-size: 0;
	opacity: 0;
	visibility: hidden;
}

.block__subtitle {
	font-weight: 600;
	font-size: 18px;
	line-height: 162%;
}

.block__subtitle--white {
	color: #fff;
}

.block__subtitle--center {
	text-align: center;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.row > * {
	margin-right: 15px;
	margin-left: 15px;
	width: 100%;
	max-width: 100%;
}

.col {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 0%;
	flex: 1 0 0%;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.preloader-content {
	position: relative;
	width: 100px;
	height: 100px;
}

.preloader-content span {
	position: absolute;
	margin: 0;
	border: 0;
	border-radius: 50%;
	width: 40%;
	height: 40%;
	-webkit-animation: spin 2s ease infinite;
	animation: spin 2s ease infinite;
}

.preloader-content span:first-child {
	background: #0474db;
	-webkit-animation-delay: -1.5s;
	animation-delay: -1.5s;
}

.preloader-content span:last-child {
	background: #ff39b9;
}

.preloader-content span:nth-child(2) {
	background: #ff5ef9;
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}

.preloader-content span:nth-child(3) {
	background: #0d4579;
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

@-webkit-keyframes spin {
	0%, 100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	25% {
		-webkit-transform: translate(160%);
		transform: translate(160%);
	}

	50% {
		-webkit-transform: translate(160%, 160%);
		transform: translate(160%, 160%);
	}

	75% {
		-webkit-transform: translate(0, 160%);
		transform: translate(0, 160%);
	}
}

@keyframes spin {
	0%, 100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	25% {
		-webkit-transform: translate(160%);
		transform: translate(160%);
	}

	50% {
		-webkit-transform: translate(160%, 160%);
		transform: translate(160%, 160%);
	}

	75% {
		-webkit-transform: translate(0, 160%);
		transform: translate(0, 160%);
	}
}

.header {
	padding: 33px 0 125px;
	background-image: url("../img/header-background.png");
	background-position: left center;
	background-size: cover;
	background-repeat: no-repeat;
}

.header__top {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 7px;
}

.header__logo::before {
	content: none;
}

.header__logo span {
	font-weight: 700;
	font-size: 25px;
	text-transform: uppercase;
}

.header__menu {
	padding: 0 10px;
}

.header__menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 50px;
}

.header__menu-item-link {
	font-weight: 500;
	color: #fff;
}

.header__language {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__language .select {
	margin-left: 10px;
}

.header__bottom {
	margin: 60px auto 0;
	max-width: 800px;
}

.header__bottom .search {
	margin-top: 50px;
}

.header__burger {
	display: none;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	border-radius: 10px;
	width: 32px;
	height: 32px;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 18H18' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 12H18' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6H18' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	-webkit-backdrop-filter: blur(35px);
	backdrop-filter: blur(35px);
}

.header--profile {
	padding: 33px 0;
}

.block {
	display: block;
	padding: 20px 0;
}

.block .container {
	max-width: 1080px;
}

.block__row {
	-ms-flex-flow: wrap;
	flex-flow: wrap;
}

.block__col {
	margin-bottom: 15px;
	padding: 20px 10px;
	text-align: center;
	background-color: #fff;
}

.block__profile .container {
	max-width: 1010px;
}

.block__content {
	padding: 75px 0;
}

.block__content .container {
	max-width: 810px;
}

.block__text {
	padding: 50px 0;
}

.block__text p {
	font-size: 16px;
	line-height: 162%;
}

.block__text p:not(:last-child) {
	margin-bottom: 16px;
}

.block__text-content:not(:last-child) {
	margin-bottom: 40px;
}

.block__steps {
	padding-top: 64px;
}

.block__step {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.block__step .step-title {
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 18px;
	line-height: 178%;
}

.block__step .step-text {
	font-size: 16px;
	line-height: 162%;
}

.block__step:not(:last-child) {
	position: relative;
	margin-bottom: 40px;
}

.block__step:not(:last-child)::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -20px;
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
}

.block__step-image {
	max-width: 330px;
	max-height: 263px;
}

.block__step-image picture,
.block__step-image img {
	width: 100%;
	height: 100%;
}

.block__step-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	max-width: 347px;
}

.block__links {
	padding: 50px 0;
}

.block__links-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.block__links-list > * {
	margin-right: 15px;
	margin-left: 15px;
}

.block__links-item {
	border: 1px solid #e5e5e5;
	border-radius: 12px;
	width: 100%;
	min-height: 193px;
	-webkit-transition: border 0.2s ease-out;
	-o-transition: border 0.2s ease-out;
	transition: border 0.2s ease-out;
}

.block__links-item:hover {
	border: 1px solid #ff446f;
}

.block__links-item:hover .block__links-item-link svg,
.block__links-item:hover .block__links-item-link img {
	-webkit-transform: scale(1.1) rotateY(360deg);
	transform: scale(1.1) rotateY(360deg);
}

.block__links-item:not(:last-child) {
	margin-bottom: 20px;
}

.block__links-item-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: #000;
}

.block__links-item-link svg,
.block__links-item-link img {
	margin-bottom: 15px;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: -webkit-transform 0.5s ease-out;
	-o-transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.block__links-item-title {
	font-weight: 500;
}

.block__progress {
	padding: 50px 0;
}

.block__progress .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.block__progress .progress-block {
	position: relative;
	width: 282px;
	height: 282px;
	font-weight: 500;
}

.block__progress .progress-block svg {
	width: 100%;
	height: 100%;
}

.block__progress .progress-block span {
	color: #ff446f;
}

.block__progress .progress-text {
	position: absolute;
	left: 50%;
	top: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.block__progress .progress-bar {
	stroke-dasharray: 870;
	stroke-dashoffset: 870;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: 2s stroke-dashoffset;
	-o-transition: 2s stroke-dashoffset;
	transition: 2s stroke-dashoffset;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.block__download {
	padding: 50px 0;
}

.block__download .container {
	max-width: 1210px;
}

.block__download-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	margin-right: -10px;
	margin-left: -10px;
}

.block__download-list > * {
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.block__download-item {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	width: calc(33.33333% - 20px);
	height: 380px;
}

.block__download-item picture,
.block__download-item img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.block__download-item .btn-download {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: calc(100% - 20px);
	max-width: unset;
}

.block__contact {
	padding: 68px 0;
}

.block__contact .container {
	max-width: 562px;
}

.block__contact .block__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 178%;
}

.block__contact-form {
	margin: 41px auto 0;
	max-width: 456px;
}

.block__contact-form textarea {
	height: 160px;
	resize: none;
}

.block__contact-form .form__group:not(:last-child) {
	margin-bottom: 20px;
}

.block__contact-form .form__control {
	border: 1px solid #e5e5e5;
	border-radius: 12px;
	padding: 14px 20px;
	font-weight: 600;
	font-size: 18px;
}

.block__contact-form .form__control::-webkit-input-placeholder {
	font-weight: 600;
	font-size: 18px;
	color: #ccc;
}

.block__contact-form .form__control::-moz-placeholder {
	font-weight: 600;
	font-size: 18px;
	color: #ccc;
}

.block__contact-form .form__control:-ms-input-placeholder {
	font-weight: 600;
	font-size: 18px;
	color: #ccc;
}

.block__contact-form .form__control::-ms-input-placeholder {
	font-weight: 600;
	font-size: 18px;
	color: #ccc;
}

.block__contact-form .form__control::placeholder {
	font-weight: 600;
	font-size: 18px;
	color: #ccc;
}

.block__contact-form .form__control:focus {
	border: 1px solid #ff446f;
	-webkit-box-shadow: 0 0 0 0.25rem rgba(255, 68, 111, 0.25);
	box-shadow: 0 0 0 0.25rem rgba(255, 68, 111, 0.25);
}

.block__contact-form .btn-primary {
	width: 100%;
	font-weight: 600;
	font-size: 18px;
}

@-webkit-keyframes progress {
	0% {
		stroke-dashoffset: 870;
	}

	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes progress {
	0% {
		stroke-dashoffset: 870;
	}

	100% {
		stroke-dashoffset: 0;
	}
}

.btn {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 12px;
	padding: 10px 22px;
	font-family: inherit;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	white-space: nowrap;
	text-align: center;
	-webkit-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:active {
	border-color: #d40031;
	background-color: #d40031;
	-webkit-box-shadow: 0 0 0 0.25rem rgba(212, 0, 49, 0.25);
	box-shadow: 0 0 0 0.25rem rgba(212, 0, 49, 0.25);
}

.btn-primary {
	border-color: #ff446f;
	color: #fff;
	background-color: #ff446f;
}

.btn-primary:hover {
	border-color: #ff1c50;
	background-color: #ff1c50;
}

.btn-light {
	border-color: #0080d5;
}

.btn-light:hover {
	border-color: #0062cc;
	color: #fff;
	background-color: #0062cc;
}

.btn-arrow {
	position: relative;
	padding: 6px 36px 6px 12px;
}

.btn-arrow::after {
	content: "";
	position: absolute;
	right: 0;
	top: 5px;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M14 5l7 7m0 0l-7 7m7-7H3'%3E%3C/path%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M14 5l7 7m0 0l-7 7m7-7H3'%3E%3C/path%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	width: 24px;
	height: 24px;
	background-color: #000;
	-webkit-transform: translateX(-8px);
	-ms-transform: translateX(-8px);
	transform: translateX(-8px);
	-webkit-transition: background-color 0.1s ease-out, -webkit-transform 0.2s ease-out;
	transition: background-color 0.1s ease-out, -webkit-transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out, background-color 0.1s ease-out;
	transition: transform 0.2s ease-out, background-color 0.1s ease-out;
	transition: transform 0.2s ease-out, background-color 0.1s ease-out, -webkit-transform 0.2s ease-out;
}

.btn-arrow:hover::after {
	background-color: #fff;
	-webkit-transform: translateX(-2px);
	-ms-transform: translateX(-2px);
	transform: translateX(-2px);
}

.btn-download {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 10px;
	padding: 16px;
	max-width: 360px;
	background: rgba(0, 0, 0, 0.4);
	-webkit-transition: background-color 0.1s ease-out;
	-o-transition: background-color 0.1s ease-out;
	transition: background-color 0.1s ease-out;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}

.btn-download span {
	color: #fff;
}

.btn-download svg {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 8px;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	transition: -webkit-transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
	transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.btn-download:hover svg {
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	transform: translateY(5px);
}

.btn-download:active {
	background: rgba(212, 0, 49, 0.4);
}

.btn__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 10px;
}

.btn:not(:disabled) {
	cursor: pointer;
}

.footer {
	padding: 12px 0;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	background-color: #292929;
}

.footer__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	gap: 30px;
}

.footer__menu-link.active {
	color: #ff446f;
}

.footer__top,
.footer__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 25px 0;
}

.footer__top .title,
.footer__bottom .title {
	margin-right: 30px;
	font-weight: 700;
	color: #707070;
}

.footer__top {
	border-bottom: 1px solid #444444;
}

.footer__top .title {
	margin-right: 60px;
}

.search {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	border-radius: 12px;
	padding: 5px 5px 5px 25px;
	background: #fff;
}

.search .form__control {
	padding-right: 20px;
	color: #999;
}

.search .btn-primary {
	margin-left: 20px;
}

.search .paste {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 28px;
	color: #666;
	background-color: transparent;
	-webkit-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
	cursor: pointer;
}

.search .paste::before {
	content: "";
	display: block;
	margin-right: 10px;
	width: 16px;
	height: 16px;
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33333 9.99992H2.66666C2.31304 9.99992 1.9739 9.85944 1.72385 9.60939C1.4738 9.35935 1.33333 9.02021 1.33333 8.66659V2.66659C1.33333 2.31296 1.4738 1.97382 1.72385 1.72378C1.9739 1.47373 2.31304 1.33325 2.66666 1.33325H8.66666C9.02028 1.33325 9.35942 1.47373 9.60947 1.72378C9.85952 1.97382 10 2.31296 10 2.66659V3.33325M7.33333 5.99992H13.3333C14.0697 5.99992 14.6667 6.59687 14.6667 7.33325V13.3333C14.6667 14.0696 14.0697 14.6666 13.3333 14.6666H7.33333C6.59695 14.6666 5.99999 14.0696 5.99999 13.3333V7.33325C5.99999 6.59687 6.59695 5.99992 7.33333 5.99992Z' stroke='black' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: background-image 0.2s ease-out;
	-o-transition: background-image 0.2s ease-out;
	transition: background-image 0.2s ease-out;
}

.search .clear {
	display: none;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	background-color: #f2f2f2;
	cursor: pointer;
}

.search .search-input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.search.clear .paste {
	display: none;
}

.search.clear .clear {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.search:hover .paste {
	color: #000;
}

.search:hover .paste::before {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33333 9.99992H2.66666C2.31304 9.99992 1.9739 9.85944 1.72385 9.60939C1.4738 9.35935 1.33333 9.02021 1.33333 8.66659V2.66659C1.33333 2.31296 1.4738 1.97382 1.72385 1.72378C1.9739 1.47373 2.31304 1.33325 2.66666 1.33325H8.66666C9.02028 1.33325 9.35942 1.47373 9.60947 1.72378C9.85952 1.97382 10 2.31296 10 2.66659V3.33325M7.33333 5.99992H13.3333C14.0697 5.99992 14.6667 6.59687 14.6667 7.33325V13.3333C14.6667 14.0696 14.0697 14.6666 13.3333 14.6666H7.33333C6.59695 14.6666 5.99999 14.0696 5.99999 13.3333V7.33325C5.99999 6.59687 6.59695 5.99992 7.33333 5.99992Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
}

.form__group {
	margin-bottom: 1rem;
}

.form__label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.form__control {
	display: block;
	width: 100%;
	font-size: 1rem;
	line-height: 1.5;
	color: #000;
	background-clip: padding-box;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form__control:focus {
	outline: 0;
	color: #09121f;
}

.form__control.is-valid {
	border-color: #28a745;
}

.form__control.is-valid ~ .valid-feedback {
	display: block;
}

.form__control.is-valid:focus {
	border-color: #28a745;
	-webkit-box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
	box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

.form__control.is-invalid {
	border-color: #d60015;
}

.form__control.is-invalid ~ .invalid-feedback {
	display: block;
}

.form__control.is-invalid:focus {
	border-color: #d60015;
	-webkit-box-shadow: 0 0 0 0.25rem rgba(214, 0, 21, 0.25);
	box-shadow: 0 0 0 0.25rem rgba(214, 0, 21, 0.25);
}

.form__select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	-moz-padding-start: calc(0.75rem - 3px);
	width: 100%;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	color: #212529;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	background-repeat: no-repeat;
	background-color: #fff;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form__select:focus {
	outline: 0;
	border-color: #86b7fe;
	-webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.valid-feedback,
.invalid-feedback {
	display: none;
	margin-top: 0.25rem;
	width: 100%;
	font-size: 80%;
}

.valid-feedback {
	color: #28a745;
}

.invalid-feedback {
	color: #d60015;
}

.select {
	position: relative;
	z-index: 100;
	border: none;
	font-size: 1rem;
	width: 54px;
	background-color: transparent;
}

.select__placeholder {
	position: relative;
	z-index: 2;
	width: 100%;
	color: #fff;
	cursor: pointer;
}

.select__placeholder p {
	display: none;
}

.select__dropdown {
	position: absolute;
	right: 0;
	top: 40px;
	z-index: 5;
	display: none;
	border-radius: 12px;
	padding: 5px 0;
	min-width: 120px;
	-webkit-box-shadow: 0 8px 60px rgba(0, 0, 0, 0.12);
	box-shadow: 0 8px 60px rgba(0, 0, 0, 0.12);
	font-family: "Inter", sans-serif;
	font-size: 14px;
	background: #fff;
	overflow: hidden;
}

.select__dropdown-item {
	cursor: pointer;
	padding: 8px 20px;
}

.select__dropdown-item span {
	display: none;
}

.select__dropdown-item p {
	display: inline-block;
}

.select__dropdown-item:hover {
	color: #fff;
	background: #0080d5;
}

.select__dropdown-item--active {
	font-weight: 600;
	color: #ff446f;
	background: #ffe8ed;
}

.select__dropdown-arrow {
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 3;
	width: 14px;
	height: 14px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.select--open {
	border-color: #86b7fe;
	-webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.select--open .select__dropdown {
	display: block;
	border-top: 1px solid transparent;
}

.select--open .select__dropdown-arrow {
	-webkit-transform: translateY(-50%) rotateX(180deg);
	transform: translateY(-50%) rotateX(180deg);
}

.profile__header {
	padding: 72px 0;
}

.profile__header .container {
	max-width: 702px;
}

.profile__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 60px;
}

.profile__avatar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 2px solid #ccc;
	border-radius: 50%;
	width: 161px;
	height: 161px;
}

.profile__avatar-img {
	overflow: hidden;
	border-radius: 50%;
	width: 145px;
	height: 145px;
}

.profile__avatar-img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.profile__info .title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 20px;
	gap: 10px;
}

.profile__info .title h2 {
	font-weight: 400;
	font-size: 28px;
}

.profile__info .is-approve {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.profile__info .is-approve img {
	width: 20px;
	height: 20px;
}

.profile__info .stat {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 16px;
	gap: 25px;
}

.profile__info .stat .item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
}

.profile__info .stat span {
	font-weight: 600;
}

.profile__stat-mobile {
	display: none;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 15px;
	border-top: 1px solid #ccc;
	font-weight: 500;
	font-size: 16px;
	gap: 25px;
}

.profile__stat-mobile span {
	font-weight: 600;
}

.profile__stat-mobile .item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
}

.profile__username {
	font-size: 16px;
}

.profile__username .name {
	font-weight: 600;
}

.profile__username .position {
	font-weight: 500;
}

.profile__body .tabs-title-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 23px;
	border-top: 1px solid #ccc;
	gap: 70px;
}

.profile__body .tab-title {
	position: relative;
	padding: 15px 0;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #666;
	cursor: pointer;
}

.profile__body .tab-title::before {
	content: "";
	position: absolute;
	left: 0;
	top: -1px;
	width: 0;
	height: 1px;
	background: #000;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.profile__body .tab-title.active {
	color: #000;
}

.profile__body .tab-title.active::before {
	width: 100%;
}

.profile__body .tabs-content-list {
	min-height: 250px;
}

.profile__body .tab-content {
	display: none;
}

.profile__body .tab-content.active {
	display: block;
}

.profile__body .tab-content.stories {
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	gap: 20px;
}

.profile__body .tab-content.stories.active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.profile__stories-item {
	position: relative;
	overflow: hidden;
	width: calc(33.33333% - 20px);
	height: 280px;
}

.profile__stories-item picture,
.profile__stories-item img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.profile__stories-item .btn-download {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: calc(100% - 20px);
	max-width: unset;
}

.profile__stories-item .btn-download i {
	font-style: normal;
}

html[dir=rtl] a::before {
	left: unset;
	right: 0;
}

html[dir=rtl] .btn-download svg {
	margin-right: 0;
	margin-left: 8px;
}

html[dir=rtl] .preloader-content {
	left: -60px;
}

html[dir=rtl] .header__language .select {
	margin-right: 10px;
	margin-left: 0;
}

html[dir=rtl] .header__bottom .search {
	padding: 5px 25px 5px 5px;
}

html[dir=rtl] .header__bottom .search .paste::before {
	margin-right: 0;
	margin-left: 10px;
}

html[dir=rtl] .header__bottom .search .form__control {
	padding-right: 0;
	padding-left: 20px;
}

html[dir=rtl] .header__bottom .btn-primary {
	margin-right: 20px;
	margin-left: 0;
}

html[dir=rtl] .footer__top .title {
	margin-right: 0;
	margin-left: 60px;
}

html[dir=rtl] .footer__bottom .title {
	margin-right: 0;
	margin-left: 30px;
}

html[dir=rtl] .select__dropdown-arrow,
html[dir=rtl] .select__dropdown {
	left: 0;
	right: unset;
}

@media (min-width: 0) {
	.col-xs-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(8.3333333333% - 30px);
	}

	.col-xs-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(16.6666666667% - 30px);
	}

	.col-xs-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(25% - 30px);
	}

	.col-xs-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(33.3333333333% - 30px);
	}

	.col-xs-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(41.6666666667% - 30px);
	}

	.col-xs-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(50% - 30px);
	}

	.col-xs-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(58.3333333333% - 30px);
	}

	.col-xs-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(66.6666666667% - 30px);
	}

	.col-xs-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(75% - 30px);
	}

	.col-xs-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(83.3333333333% - 30px);
	}

	.col-xs-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(91.6666666667% - 30px);
	}

	.col-xs-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% - 30px);
	}
}

@media (min-width: 576px) {
	.col-sm-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(8.3333333333% - 30px);
	}

	.col-sm-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(16.6666666667% - 30px);
	}

	.col-sm-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(25% - 30px);
	}

	.col-sm-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(33.3333333333% - 30px);
	}

	.col-sm-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(41.6666666667% - 30px);
	}

	.col-sm-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(50% - 30px);
	}

	.col-sm-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(58.3333333333% - 30px);
	}

	.col-sm-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(66.6666666667% - 30px);
	}

	.col-sm-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(75% - 30px);
	}

	.col-sm-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(83.3333333333% - 30px);
	}

	.col-sm-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(91.6666666667% - 30px);
	}

	.col-sm-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% - 30px);
	}
}

@media (min-width: 768px) {
	.col-md-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(8.3333333333% - 30px);
	}

	.col-md-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(16.6666666667% - 30px);
	}

	.col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(25% - 30px);
	}

	.col-md-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(33.3333333333% - 30px);
	}

	.col-md-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(41.6666666667% - 30px);
	}

	.col-md-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(50% - 30px);
	}

	.col-md-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(58.3333333333% - 30px);
	}

	.col-md-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(66.6666666667% - 30px);
	}

	.col-md-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(75% - 30px);
	}

	.col-md-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(83.3333333333% - 30px);
	}

	.col-md-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(91.6666666667% - 30px);
	}

	.col-md-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% - 30px);
	}

	.block__links-item {
		width: calc(33.33333% - 30px);
	}

	.block__links-item:not(:last-child) {
		margin-bottom: 0;
	}
}

@media (min-width: 992px) {
	.col-lg-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(8.3333333333% - 30px);
	}

	.col-lg-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(16.6666666667% - 30px);
	}

	.col-lg-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(25% - 30px);
	}

	.col-lg-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(33.3333333333% - 30px);
	}

	.col-lg-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(41.6666666667% - 30px);
	}

	.col-lg-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(50% - 30px);
	}

	.col-lg-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(58.3333333333% - 30px);
	}

	.col-lg-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(66.6666666667% - 30px);
	}

	.col-lg-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(75% - 30px);
	}

	.col-lg-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(83.3333333333% - 30px);
	}

	.col-lg-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(91.6666666667% - 30px);
	}

	.col-lg-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% - 30px);
	}
}

@media (min-width: 1200px) {
	.col-xl-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(8.3333333333% - 30px);
	}

	.col-xl-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(16.6666666667% - 30px);
	}

	.col-xl-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(25% - 30px);
	}

	.col-xl-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(33.3333333333% - 30px);
	}

	.col-xl-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(41.6666666667% - 30px);
	}

	.col-xl-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(50% - 30px);
	}

	.col-xl-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(58.3333333333% - 30px);
	}

	.col-xl-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(66.6666666667% - 30px);
	}

	.col-xl-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(75% - 30px);
	}

	.col-xl-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(83.3333333333% - 30px);
	}

	.col-xl-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(91.6666666667% - 30px);
	}

	.col-xl-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% - 30px);
	}
}

@media (min-width: 1400px) {
	.col-xxl-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(8.3333333333% - 30px);
	}

	.col-xxl-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(16.6666666667% - 30px);
	}

	.col-xxl-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(25% - 30px);
	}

	.col-xxl-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(33.3333333333% - 30px);
	}

	.col-xxl-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(41.6666666667% - 30px);
	}

	.col-xxl-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(50% - 30px);
	}

	.col-xxl-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(58.3333333333% - 30px);
	}

	.col-xxl-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(66.6666666667% - 30px);
	}

	.col-xxl-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(75% - 30px);
	}

	.col-xxl-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(83.3333333333% - 30px);
	}

	.col-xxl-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(91.6666666667% - 30px);
	}

	.col-xxl-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: calc(100% - 30px);
	}
}

@media (max-width: 1365px) {
	.select .text {
		display: none;
	}
}

@media (max-width: 1050px) {
	.header__menu-list {
		gap: 10px;
	}
}

@media (max-width: 1023px) {
	.header__menu {
		position: absolute;
		left: -15px;
		top: 50px;
		z-index: 10;
		display: none;
		width: 100vw;
		height: calc(100vh - 50px);
		background-color: #fff;
	}

	.header__menu-list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		height: 100%;
	}

	.header__menu-item {
		text-align: center;
	}

	.header__menu-item-link {
		color: #000;
	}

	.header__burger {
		display: block;
	}

	.header {
		padding: 18px 0 67px;
	}

	.header--profile {
		padding: 18px 0;
	}

	.block__contact {
		padding: 30px 0;
	}

	.footer__top .title,
  .footer__bottom .title {
		display: none;
	}

	.footer__top .footer__menu {
		width: 100%;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		gap: 0;
	}

	.footer__bottom .footer__menu {
		display: block;
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		width: 100%;
	}
}

@media (max-width: 1023px) and (max-width: 374px) {
	.footer__top {
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	.block__links-list > * {
		margin-right: 0;
		margin-left: 0;
	}

	.block__links-list {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.block__title--hero {
		font-size: 40px;
		margin-bottom: 16px;
	}

	.block__title--content {
		font-size: 28px;
		line-height: 143%;
	}

	.block__subtitle {
		font-size: 16px;
	}

	.header__logo span {
		font-size: 18px;
	}

	.block__content {
		padding: 30px 0;
	}

	.block__text {
		padding: 30px 0;
	}

	.block__steps {
		margin: 0 auto;
		max-width: 330px;
		padding-top: 30px;
	}

	.block__step:not(:last-child) {
		margin-bottom: 30px;
	}

	.block__step:not(:last-child)::after {
		content: none;
	}

	.block__step {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
	}

	.block__step-description {
		margin-bottom: 15px;
	}

	.block__progress .progress-block {
		width: 212px;
		height: 212px;
	}

	.block__progress {
		padding: 30px 0;
	}

	.block__download {
		padding: 30px 0;
	}

	.block__download-list {
		margin: 0 auto;
		max-width: 330px;
	}

	.block__download-list > * {
		margin-right: 0;
		margin-left: 0;
	}

	.block__download-item {
		width: 100%;
		height: 330px;
	}

	.search {
		display: block;
		padding: 0;
		background: none;
	}

	.search .search-input {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		overflow: hidden;
		margin-bottom: 20px;
		border-radius: 12px;
		padding: 16px 19px;
		background: #fff;
	}

	.search .paste {
		margin-left: 10px;
	}

	.search .clear {
		margin-left: 10px;
	}

	.search .btn-primary {
		width: 100%;
		margin-left: 0;
	}

	.profile__header {
		padding: 0 0 15px;
	}

	.profile__info .stat {
		display: none;
	}

	.profile__stat-mobile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.profile__body .tabs-title-list {
		border-top: none;
	}

	.profile__body .tab-content.stories {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.profile__body {
		border-top: 1px solid #ccc;
	}

	.profile__stories-item {
		width: calc(50% - 10px);
	}

	html[dir=rtl] .header__bottom .search {
		padding: 0;
	}

	html[dir=rtl] .header__bottom .btn-primary {
		margin-right: 0;
	}
}

@media (max-width: 567px) {
	.profile__row {
		gap: 18px;
	}

	.profile__avatar {
		width: 85px;
		height: 85px;
	}

	.profile__avatar-img {
		width: 71px;
		height: 71px;
	}

	.profile__info .title {
		margin-bottom: 5px;
	}

	.profile__info .title h2 {
		width: 210px;
		overflow: hidden;
		white-space: nowrap;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}

	.profile__body .tabs-title-list {
		gap: 25px;
	}
}

@media (max-width: 500px) {
	.profile__stat-mobile {
		gap: 10px;
	}

	.profile__stat-mobile .item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 0;
	}

	.profile__stories-item .btn-download {
		padding: 8px 10px;
	}

	.profile__stories-item .btn-download i {
		display: none;
	}

	.profile__stories-item .btn-download svg {
		margin-right: 0;
	}

	.profile__stories-item {
		height: 155px;
	}
}

@media (max-width: 400px) {
	.header__logo {
		gap: 5px;
	}

	.header__logo span {
		font-size: 16px;
	}
}

@media (max-width: 374px) {
	.profile__row {
		gap: 10px;
	}

	.profile__info .title h2 {
		width: 160px;
	}

	.profile__body .tabs-title-list {
		gap: 10px;
	}
}