/*@font-face {
	font-family: 'Montserrat', sans-serif;
}*/

body {
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}
.nav-scroller {
	overflow: hidden;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
	position: relative;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #ff334d;
}
.navbar-toggler:focus {
	box-shadow: 0px 4px 5px rgba(255, 104, 104, 0.3);
}
.btn:focus {
	box-shadow: none !important;
}
.navbar-light .navbar-toggler.collapsed .navbar-toggler-icon {
	background-image: url("../img/burger.svg");
}
.navbar-light .navbar-toggler .navbar-toggler-icon {
	background-image: url("../img/close.svg");
}
.navbar-light .navbar-toggler.collapsed {
	border-radius: 10px;
	z-index: 1000;
}
.navbar-light .navbar-toggler {
	border-radius: 50%;
	z-index: 1000;
	box-shadow: 0px 4px 5px rgba(255, 104, 104, 0.3);
}
.section {
	padding: 65px 0;
}
.bg-blue {
	background: #f6f5ff;
}
.bg-white {
	background: #fff;
}
.bg-red {
	color: #fff;
	background: #ff334d;
}
.box {
	border-radius: 20px;
}
.box h3 {
	font-size: 24px;
	font-weight: 700;
}
.box p {
	margin-bottom: 0;
}
.box-shadow {
	border-radius: 20px;
	box-shadow: 0px 6px 20px rgba(162, 180, 201, 0.3);
}
.section-title {
	font-size: 40px;
	font-weight: 700;
}
.main {
	background: #dce4f8;
}
.main .inner-container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.mission .box .box-inner {
	width: 113px;
	height: 113px;
	top: -52px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.mission .box {
	padding: 40px;
}
.for .section-title {
	margin-bottom: 85px;
}
.for .box {
	padding: 30px;
	z-index: 30;
}
.for .box p {
	margin-bottom: 0;
}
.for .col:first-child .box:nth-child(1),
.for .col:first-child .box:nth-child(3) {
	transform: translateX(70px);
}
.for .col:first-child .box:nth-child(2) {
	transform: translateX(30px);
}
.for .col:last-child .box:nth-child(1),
.for .col:last-child .box:nth-child(3) {
	transform: translateX(-70px);
}
.for .col:last-child .box:nth-child(2) {
	transform: translateX(-30px);
}
.for .box-for {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	width: 457px;
	height: 457px;
	border-radius: 50%;
}
.for .box-for:before {
	content: "";
	position: absolute;
	display: block;
	width: 567px;
	height: 567px;
	border-radius: 50%;
	border: 2px solid #ff334d;
}
.what .box-inner {
	width: 152px;
	height: 152px;
}
.what .what-image {
	bottom: -5px;
}
.what .box {
	font-size: 18px;
}
.steps .box-inner {
	width: 104px;
	height: 104px;
}
.steps .col-xl-2 .box-inner:after {
	content: "";
	position: absolute;
	display: block;
	width: 80px;
	height: 2px;
	background: rgba(255, 51, 77, 1);
	top: 50%;
	right: -150%;
}
.steps .col-xl-2:last-child .box-inner:after {
	display: none;
}
/*.ticker {
	color: #fff;
	font-size: 36px;
	font-weight: 500;
	width: 200%;
}*/
.form .section-title {
	font-size: 30px;
}
.form-wrap .form-control {
	height: 48px;
	border: 1px solid rgba(68, 91, 94, 1);
}
.wrap .btn {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 48px;
	border: 1px solid #ff334d;
	background: #ff334d;
	box-shadow: 0px 4px 10px rgba(255, 104, 104, 0.3);
	transition: all 0.3s ease;
}
.wrap .btn:hover {
	color: #ff334d;
	background: #fff;
}
.form .form-image {
	position: absolute;
	bottom: -130px;
}
.review .review-box h3 {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
}
.review-box:before {
	content: "“";
	top: 15px;
	left: 30px;
	position: absolute;
	font-size: 50px;
	color: #ff334d;
}
.footer h3 {
	margin-bottom: 25px;
	font-size: 14px;
	font-weight: 700;
}
.bg-red a {
	color: #fff;
	text-decoration: none;
	transition: all 0.35s ease;
}
.bg-red a:hover {
	text-decoration: underline;
}
@media screen and (max-width: 1205px) {
	.for .box {
		margin-bottom: 20px;
		padding: 15px;
	}
	.for .box-for {
		width: 257px;
		height: 257px;
	}
	.for .box-for:before {
		width: 350px;
		height: 350px;
	}

	.steps .col-xl-2 .box-inner:after {
		right: -100%;
	}
}
@media screen and (max-width: 992px) {
	.main {
		padding-top: 60px;
	}
	.main h1 {
		font-size: 28px;
	}
	.mission .col-lg-4 {
		margin-bottom: 65px;
	}
	.for .box {
		transform: translateX(0) !important;
	}
	.for .box img {
		width: 40px;
	}
	.steps .col-xl-2 .box-inner:after {
		width: 35px;
		right: -50%;
	}
	.what .col-lg-6:first-child .box {
		margin-bottom: 50px;
	}
	.form .form-image {
		position: relative;
	}
}
@media screen and (max-width: 768px) {
	.section {
		padding: 30px 0;
	}
	.section-title {
		font-size: 20px;
	}
	.box h3 {
		font-size: 14px;
	}
	.box p {
		font-size: 12px;
	}
	.main h1 {
		font-size: 22px;
	}
	.steps .box {
		margin-bottom: 45px;
	}
	.steps .box-inner {
		width: 90px;
		height: 90px;
	}
	.steps .col-xl-2 .box-inner:after {
		transform: rotate(90deg);
		right: 28px;
		top: 125px;
	}
	.mission .box .box-inner {
		width: 90px;
		height: 90px;
	}
}
@media screen and (max-width: 576px) {
	.main {
		padding: 30px 0 0 0;
		height: 450px;
		background: url("../img/People_ mob_02.svg") center/cover no-repeat;
	}
	.mission .box .box-inner {
		top: -25px;
	}
}
@media screen and (max-width: 992px) {
	.navbar-expand-md {
		z-index: 99;
		background: white;
		padding: 0;
	}
	.navbar-expand-md .container .navbar-toggler {
		display: block;
	}

	.navbar-collapse {
		width: 100%;
		background: #f6f5ff;
		position: fixed;
		z-index: 9;
		display: block;
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: opacity 0.2s;
	}
	.navbar-collapse ul.navbar-nav {
		position: absolute;
		top: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.navbar-collapse ul.navbar-nav li {
		opacity: 0;
		transition: opacity 0.2s cubic-bezier(0.58, 0.3, 0.005, 1);
		padding: 0;
		margin-bottom: 20px;
	}
	.navbar-collapse ul.navbar-nav li a {
		text-align: center;
		font-size: 40px;
		padding-bottom: 15px;
	}
	.navbar-collapse ul.navbar-nav li a:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background: rgba(255, 51, 77, 1);
		bottom: 0;
		left: 0;
	}
	.navbar-collapse ul.navbar-nav li:last-child a:after {
		display: none;
	}
	.navbar-collapse.show {
		min-height: 100vh;
		visibility: visible;
		opacity: 1;
		z-index: 900;
		background: url("../img/People_ mob_01.svg") center/cover no-repeat;
	}
	.navbar-collapse.show ul li {
		opacity: 1;
	}
	.navbar-collapse.show ul li:nth-child(1) {
		transition-delay: 0.06s;
	}
	.navbar-collapse.show ul li:nth-child(2) {
		transition-delay: 0.12s;
	}
	.navbar-collapse.show ul li:nth-child(3) {
		transition-delay: 0.18s;
	}
	.navbar-collapse.show ul li:nth-child(4) {
		transition-delay: 0.24s;
	}
	.navbar-collapse.show ul li:nth-child(5) {
		transition-delay: 0.3s;
	}
	.navbar-collapse.show ul li:nth-child(6) {
		transition-delay: 0.36s;
	}

	.navbar-toggler {
		padding: 0;
	}
	.navbar-toggler #nav-icon {
		width: 30px;
		height: 22px;
		position: relative;
		margin: 0 auto;
		transform: rotate(0deg);
		cursor: pointer;
	}
	.navbar-toggler #nav-icon span {
		display: block;
		position: absolute;
		height: 5px;
		width: 50%;
		background: #f6f5ff;
		opacity: 1;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;
	}
	.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(even) {
		left: 50%;
	}
	.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(odd) {
		left: 0px;
	}
	.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(1),
	.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(2) {
		top: 0px;
	}
	.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(3),
	.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(4) {
		top: 9px;
	}
	.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(5),
	.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(6) {
		top: 18px;
	}
	.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1),
	.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(6) {
		transform: rotate(45deg);
	}
	.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2),
	.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(5) {
		transform: rotate(-45deg);
	}
	.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1) {
		left: 5px;
		top: 7px;
	}
	.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2) {
		left: calc(50% - 5px);
		top: 7px;
	}
	.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
		left: -50%;
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(4) {
		left: 100%;
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(5) {
		left: 5px;
		top: 12px;
	}
	.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(6) {
		left: calc(50% - 5px);
		top: 12px;
	}
}
.form-control::-webkit-input-placeholder {
	opacity: 1;
	-webkit-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
}

.form-control::-moz-placeholder {
	opacity: 1;
	-webkit-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
}

.form-control:-moz-placeholder {
	opacity: 1;
	-webkit-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
}

.form-control:-ms-input-placeholder {
	opacity: 1;
	-webkit-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
}

.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control:focus::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
}

.form-control:focus::-moz-placeholder {
	opacity: 0;
	-webkit-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
}

.form-control:focus:-moz-placeholder {
	opacity: 0;
	-webkit-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
}

.form-control:focus:-ms-input-placeholder {
	opacity: 0;
	-webkit-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
}
.owl-dots {
	text-align: center;
}
.owl-carousel .owl-dots button.owl-dot {
	position: relative;
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50%;
	margin: 0 3px;
}
.owl-carousel .owl-dots button.owl-dot.active {
	background: rgba(68, 91, 94, 0.5);
}
.owl-carousel .owl-dots button.owl-dot > span {
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	left: 2px;
	top: 2px;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.wrap .wpcf7 form .wpcf7-response-output {
	margin-top: 0;
	border-width: 1px;
	border-radius: 5px;
}

.fixed {
	position: fixed;
	background-color: #fff;
	top: 0;
	width: 100%;
	z-index: 999;
	box-shadow: 0px 10px 10px rgba(162, 180, 201, 0.3);
}

.events-slider-wrapper {
	position: relative;
	border: 3px solid #f6f5ff;
	border-radius: 40px;
}

.events .swiper {
	max-height: 400px;
}

.events .swiper .swiper-slide {
	display: flex;
}

.events-item-img {
	width: 100%;
	max-height: 400px;
	height: 100%;
	border-radius: 40px;
	overflow: hidden;
}

.events-item-img img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

.events-content {
	padding-right: 50px;
	max-height: 400px;
	overflow: auto;
}

@media (max-width: 1199px) {
	.events-content {
		padding-right: 0;
	}
}

@media (max-width: 767px) {
	.events {
		padding-bottom: 60px;
	}
	.events-slider-wrapper.bg-blue {
		background: #fff;
		border: none;
		padding: 0 !important;
	}

	.events .swiper {
		max-height: 440px;
	}


	.events-item .row {
		justify-content: space-between;
		gap: 16px;
	}

	.events-content {
		max-height: 210px;
		padding-right: 10px;
	}
	.events-item-img {
		max-height: 220px;
	}

	//.events-slide-prev,
	//.events-slide-next {
	//	display: none;
	//}

	.events .swiper-pagination-bullet {
		background: #F6F5FF
	}
}

.events-slider-pagination.swiper-pagination-vertical {
	position: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: none;
	gap: 6px;
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50%;
	opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: rgba(68, 91, 94, 0.5);
}

.events-slide-prev,
.events-slide-next {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.events-slide-prev {
	top: -35px;
}

.events-slide-next {
	bottom: -35px;
}
