<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space → Manual Assessment page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full font-inter">
		<header class="lg:border-b lg:border-neutral-black-5">
	<div class="container">
		<div class="relative flex items-center justify-between pt-3 pb-6 lg:py-7">
			<a href="../../index.html" class="flex-shrink-0">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
			
			<button class="flex">
				<span class="icon icon--close"></span>
			</button>
		</div>
		<div class="w-full h-1 rounded bg-neutral-black-5 lg:hidden" style="--step: 1; --steps-total: 14">
			<div class="h-1 w-[calc((100/var(--steps-total))*var(--step)*1%)] rounded bg-primary-100"></div>
		</div>
	</div>
</header>

		<main class="flex-grow py-9 lg:py-12">
			<div class="container">
				<div class="mx-auto max-w-282.5">
					<div class="mx-auto max-w-167.5 text-center">
						<h1 class="font-semibold tracking-tight text-sm2x leading-125 lg:text-base2x">What form of assessment do you prefer?</h1>
						<p class="mx-auto mt-3 text-sm max-w-110 leading-150 text-neutral-black-70 lg:text-base">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
					<div class="grid gap-4 lg:gap-5 mt-9 md:grid-cols-3">
						<div class="flex flex-col items-center justify-center gap-5 p-8 rounded-3xl bg-primary-green-gray lg:p-10">
							<div class="relative aspect-square w-26 md:w-36 mix-blend-darken">
								<img decoding="async" class="object-cover w-full h-full" src="../../img/image-01.webp" title="" alt="" loading="lazy" />
								<div class="absolute inset-0 -z-0 bg-navy-blue mix-blend-overlay"></div>
							</div>
							<div class="text-center">
								<h2 class="text-xl font-semibold tracking-tight leading-125 lg:text-2xl">Evaluate using AI</h2>
								<p class="mt-1 text-sm leading-150 text-neutral-black-70 lg:text-base">Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
							</div>
							<div class="flex items-center justify-center gap-2 mt-auto text-purple">
								<span class="icon icon--time-loading"></span>
								<span>30 sec</span>
							</div>
							<a href="#" class="flex h-12 w-full items-center justify-center rounded-xl bg-primary px-3.5 py-3 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover">Start evaluation</a>
						</div>

						<div class="flex flex-col items-center justify-center gap-5 p-8 rounded-3xl bg-primary-green-gray lg:p-10">
							<div class="relative aspect-square w-26 md:w-36 mix-blend-darken">
								<img decoding="async" class="object-cover w-full h-full" src="../../img/image-02.webp" title="" alt="" loading="lazy" />
								<div class="absolute inset-0 -z-0 bg-rosewood mix-blend-overlay"></div>
							</div>

							<div class="text-center">
								<h2 class="text-xl font-semibold tracking-tight leading-125 lg:text-2xl">Expert evaluation</h2>
								<p class="mt-1 text-sm leading-150 text-neutral-black-70 lg:text-base">Lorem Ipsum is simply dummy text of the printing and typesetting. </p>
							</div>

							<div class="flex items-center justify-center gap-2 mt-auto text-purple">
								<span class="icon icon--time-loading"></span>
								<span>Up to 2 weeks</span>
							</div>
							<a href="#" class="flex h-12 w-full items-center justify-center rounded-xl bg-primary px-3.5 py-3 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover">Start evaluation</a>
						</div>

						<div class="flex flex-col items-center justify-center gap-5 p-8 rounded-3xl bg-primary-green-gray lg:p-10">
							<div class="relative aspect-square w-26 md:w-36 mix-blend-darken">
								<img decoding="async" class="object-cover w-full h-full" src="../../img/image-03.webp" title="" alt="" loading="lazy" />
								<div class="absolute inset-0 -z-0 bg-rosewood mix-blend-overlay"></div>
							</div>

							<div class="text-center">
								<h2 class="text-xl font-semibold tracking-tight leading-125 lg:text-2xl">Manual evaluation</h2>
								<p class="mt-1 text-sm leading-150 text-neutral-black-70 lg:text-base">Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
							</div>
							<div class="flex items-center justify-center gap-2 mt-auto text-purple">
								<span class="icon icon--time-loading"></span>
								<span>30 min</span>
							</div>
							<a href="#" class="flex h-12 w-full items-center justify-center rounded-xl bg-primary px-3.5 py-3 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover">Start evaluation</a>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script src="../../js/app.js"></script>

	</body>
</html>
