<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<title>Legacy space → Manual Assessment page</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
<link rel="canonical" href='' />
<meta name="MobileOptimized" content="width"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="../../css/style.css" />

	</head>

	<body class="flex flex-col h-full font-inter">
		<header class="lg:border-b lg:border-neutral-black-5">
	<div class="container">
		<div class="relative flex items-center justify-between py-3 lg:py-7">
			<a href="../../index.html" class="flex-shrink-0">
				<img decoding="async" src="../../img/svg/logo.svg" title="" alt="" loading="lazy" class="w-25.5 lg:w-35" />
			</a>
			<div class="absolute left-0 right-0 hidden py-3 -translate-y-1/2 top-1/2 -z-1 lg:block lg:py-7">
				<div class="relative mx-auto max-w-125 xl:max-w-225">
					<ul class="flex items-center justify-center">
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium bg-white border-2 rounded-full border-secondary text-secondary">
								<span class="icon icon--flag"></span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-1/2 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>1</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>2</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>3</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>4</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>
						<li class="relative pr-10 xl:pr-25.5">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span>5</span>
							</div>
							<div class="absolute right-2 top-1/2 h-0.5 w-[calc(100%-3.5rem)] -translate-y-1/2 overflow-hidden bg-neutral-black-5">
								<div class="h-0.5 w-0 bg-secondary"></div>
							</div>
						</li>

						<li class="">
							<div class="flex items-center justify-center w-10 h-10 font-medium border-2 rounded-full border-neutral-black-3 bg-neutral-black-3">
								<span class="icon icon--rocket h-5.5 w-5.5"></span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<button class="flex">
				<span class="icon icon--close"></span>
			</button>
		</div>
		<div class="w-full h-1 rounded bg-neutral-black-5 lg:hidden overflow-clip" style="--step: 1; --steps-total: 11">
			<div class="h-1 w-[calc((100/var(--steps-total))*var(--step)*1%)] rounded bg-primary-100"></div>
		</div>
	</div>
</header>

		<main class="flex-grow py-9 lg:py-12">
			<div class="container">
				<div class="mx-auto max-w-225">
					<div class="flex gap-10">
						<div class="flex-shrink-0 w-full lg:w-110">
							<div class="pb-4 border-b border-b-neutral-black-3 md:pb-3">
								<p class="text-base font-medium leading-150 text-neutral-black-70 lg:text-lg">Step 9 / 11</p>
								<h1 class="mt-1.5 text-sm2x font-semibold leading-125 tracking-tight lg:text-base2x">Adding Metals</h1>

								<p class="text-sm lg:hidden">Here you can find more information. <button class="underline text-secondary underline-offset-4">Learn more</button></p>
							</div>

							<div class="flex flex-col mt-7 md:mt-9">
								<!-- table head -->
								<div class="flex items-center gap-5 pb-3 border-b border-b-neutral-black-5 text-neutral-black-50">
									<div class="flex items-center flex-1">
										<span>Name</span>
										<button class="flex transition-all duration-300 active:scale-90">
											<span class="w-4 h-4 icon icon--arrow-down"></span>
										</button>
										<span class="md:hidden"> / Weight</span>
									</div>
									<div class="hidden w-24 text-right md:block">Weight</div>
									<div class="text-right md:w-24">Action</div>
								</div>
								<!-- ./table head -->
								<!-- table row -->
								<div class="py-6 border-b border-b-neutral-black-5">
									<div class="flex items-center gap-5">
										<div class="flex flex-1 flex-wrap gap-0.5">
											<span>Palladium</span>
											<span class="inline-block md:hidden">(4.00g)</span>
										</div>
										<div class="hidden w-24 text-right md:block">4.00 g</div>

										<div class="flex items-center justify-end gap-4 md:w-24">
											<button class="flex transition-all duration-300 active:scale-95">
												<span class="icon icon--pen-edit"></span>
											</button>
											<button class="flex transition-all duration-300 text-error-100 active:scale-95">
												<span class="icon icon--trash-bin"></span>
											</button>
										</div>
									</div>
								</div>
								<!-- ./table row -->
								<!-- table row -->
								<div class="py-6 border-b border-b-neutral-black-5">
									<div class="flex items-center gap-5">
										<div class="flex flex-1 flex-wrap gap-0.5">
											<span>Palladium</span>
											<span class="inline-block md:hidden">(4.00g)</span>
										</div>
										<div class="hidden w-24 text-right md:block">4.00 g</div>

										<div class="flex items-center justify-end gap-4 md:w-24">
											<button class="flex transition-all duration-300 active:scale-95">
												<span class="icon icon--pen-edit"></span>
											</button>
											<button class="flex transition-all duration-300 text-error-100 active:scale-95">
												<span class="icon icon--trash-bin"></span>
											</button>
										</div>
									</div>
								</div>
								<!-- ./table row -->

								<!-- edit form -->
								<div class="py-5 border-b border-b-neutral-black-5">
									<label class="flex flex-col gap-2">
										<span class="text-sm font-medium">Select metal</span>
										<select type="text" class="h-12 w-full rounded-xl border border-primary-green-gray bg-primary-green-gray px-3.5 py-3 text-neutral-black-50 transition-all duration-300 focus:border-secondary focus:bg-white focus:shadow-input">
											<option disabled="" selected="">Open this select menu</option>
											<option value="1">Option 1</option>
											<option value="2">Option 2</option>
											<option value="3">Option 3</option>
											<option value="4">Option 4</option>
											<option value="5">Option 5</option>
										</select>
									</label>
									<div class="flex gap-5 mt-5">
										<label class="flex flex-col w-full gap-2">
											<span class="text-sm font-medium">Weight</span>
											<input type="text" class="h-12 w-full rounded-xl border border-primary-green-gray bg-primary-green-gray px-3.5 py-3 text-neutral-black-50 transition-all duration-300 focus:border-secondary focus:bg-white focus:shadow-input" value="1" />
										</label>
										<label class="flex flex-col w-full gap-2">
											<span class="text-sm font-medium">Units of measure</span>
											<select type="text" class="h-12 w-full rounded-xl border border-primary-green-gray bg-primary-green-gray px-3.5 py-3 text-neutral-black-50 transition-all duration-300 focus:border-secondary focus:bg-white focus:shadow-input">
												<option disabled="" selected="">Select</option>
												<option value="1" selected="">kg</option>
												<option value="2">g</option>
												<option value="3">t</option>
												<option value="4">u</option>
												<option value="5">c</option>
											</select>
										</label>
									</div>

									<div class="flex flex-wrap gap-2 mt-5 lg:mt-8">
										<button class="flex h-12 w-full items-center justify-center gap-2 rounded-xl bg-primary-100 px-5 py-3.5 text-sm font-semibold text-primary transition-all duration-300 hover:bg-primary-100/80 md:order-none">
											<span class="whitespace-nowrap">Save this metal</span>
										</button>
									</div>
								</div>
								<!-- ./edit form -->
							</div>

							<div class="flex gap-2 mt-12">
								<button class="flex h-12 w-fit items-center justify-center gap-2 rounded-xl border border-neutral-black-5 bg-white px-5 py-3.5 text-sm transition-all duration-300 hover:bg-neutral-black-1">
									<span class="font-medium">Skip the step</span>
								</button>

								<button class="flex h-12 flex-shrink-0 items-center justify-center gap-2 rounded-xl bg-primary px-5 py-3.5 text-sm font-semibold text-primary-100 transition-all duration-300 hover:bg-primary-hover md:w-fit">
									<span class="icon icon--floppy-save-edit"></span>
									<span>Save&Continue</span>
								</button>
							</div>
						</div>

						<div class="flex-grow hidden lg:block">
							<div class="p-8 border rounded-3xl border-neutral-black-5">
								<div class="flex h-7.5 w-fit items-center gap-1 rounded-3xl bg-secondary/10 px-2 py-1 text-sm text-secondary">
									<span class="w-5 h-5 icon icon--question-group"></span>
									<span>Quick Help</span>
								</div>

								<div class="mt-6 aspect-[1.85] w-full overflow-clip rounded-xl">
									<img decoding="async" class="aspect-[1.85] w-full object-cover" src="../../img/coin-age.webp" title="" alt="" loading="lazy" />
								</div>

								<div class="flex flex-col gap-5 mt-6">
									<div class="pb-5 border-b border-b-neutral-black-3">
										<button class="flex items-center w-full gap-2">
											<span class="text-lg font-medium">Age of the coin</span>
											<span class="ml-auto icon icon--chevron-down"></span>
										</button>
										<div class="hidden pt-4 text-sm leading-160">
											<p>For non-nature artifacts, there may be some date markings.</p>
											<p>In case of the absence of date markings, time of creation is set according to the basics of practically proved information about the location of finding, organoleptic and analytic data; it can also be determined approximately accurate within a century, and, if possible, indicating the most definite time period (the beginning, the middle, the end, a third of a century, a quarter of a century, the turn of a century, a decade).</p>
											<p>Age of monuments of nature is calculated starting from the moment of their extraction from the natural environment, for example, the crystal of emerald is naturally 100 million years old, but it is a part of the museum collection of minerals only for 10 years. Thus its age as the monument of nature is only 10 years.</p>
										</div>
									</div>
									<div class="pb-5 border-b border-b-neutral-black-3">
										<button class="flex items-center w-full gap-2">
											<span class="text-lg font-medium">Coin Care</span>
											<span class="ml-auto icon icon--chevron-down"></span>
										</button>
										<div class="hidden pt-4 text-sm leading-160">
											<div class="flex flex-col gap-5">
												<div>
													<p>Coin collectors have the natural instinct to love and protect their coins. However, some very innocent and well-meaning activities, like touching and cleaning the coins, can be disastrous for both the coins and their value. The following tips are provided to help you prevent your collection from suffering avoidable damage.</p>
												</div>
												<div>
													<p class="font-semibold">Touching coins</p>
													<p>No matter how much we wash our hands, our skin will always contain traces of oil and debris. As soon as this material comes into contact with a coin, it contributes to damaging it. Protective gloves are a vital investment, and it is good practice to always handle loose coins by their rims (edges).</p>
												</div>
												<div>
													<p class="font-semibold">Cleaning coins</p>
													<p>The best piece of advice when it comes to cleaning coins is “don’t do it”. Even when coins look dirty or worn out with age, they are still more valuable than coins that have been newly-cleaned. Over time, coins naturally undergo a process known as toning, when oxygen or sulfur reacts with the metal. While it may not look pretty, the surface under the toning still contains the reflective quality known as mint luster. Cleaning products will not only remove the luster but will add tiny scratches and fibers that will render the coin worthless.</p>
												</div>
												<div>
													<p>If you are truly concerned about the condition of a coin, contact a professional coin dealer or conservator for advice on your best options.</p>
												</div>
												<div>
													<p class="font-semibold">Storing coins</p>
													<p>If you purchase proof or uncirculated coins, keep them in their protective folders or capsules. Collectors of just about anything know the special value that objects have when they are kept in their original packaging. Coins are no exception to this, not just because the packaging makes them stand apart from loose coins, but their containers also protect them from being exposed to the elements and suffering from damage over time.</p>
												</div>
											</div>
										</div>
									</div>

									<div class="">
										<button class="flex items-center w-full gap-2">
											<span class="text-lg font-medium">Asset type</span>
											<span class="ml-auto icon icon--chevron-down"></span>
										</button>
										<div class="pt-4 text-sm leading-160">
											<ul class="flex flex-col gap-4">
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p>This step allows you to connect an asset from your portfolio by selecting it from the drop-down menu.</p>
												</li>
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p><span class="inline-block font-semibold">Optional but Recommended:&nbsp;</span> While this step is optional, it is highly recommended to select an asset. This will help the expert gain more details about the asset from the system.</p>
												</li>
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p><span class="inline-block font-semibold">Single Selection:&nbsp;</span>You can select only one asset from the list.</p>
												</li>
												<li class="flex gap-2">
													<span class="flex-shrink-0 w-1 h-1 translate-y-2 rounded-full bg-primary-black"></span>
													<p>Choosing an asset ensures that the expert has all the relevant information needed to provide the best possible assistance.</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script src="../../js/app.js"></script>

	</body>
</html>
