.projects-eligibility {
	padding-top: rem(140);

	&__list {
		margin-top: rem(85);

		ul {
			display: grid;
			grid-template-columns: repeat(4, minmax(0, 1fr));

			gap: rem(20);

			li {
				position: relative;
				display: flex;
				flex-flow: column;
				padding-bottom: rem(108);
				font-weight: 700;
				font-size: clamp(1.125rem, 1rem + 0.625vw, 1.75rem);
				text-transform: uppercase;
				gap: rem(18);

				&::after {
					content: "";
					position: absolute;
					bottom: rem(20);
					left: 50%;
					width: rem(32);
					height: rem(32);
					transform: translateX(-50%);
					background: url("../img/icons/arrow-down-feijoa.svg") no-repeat center / contain;
				}
			}

			@media (max-width: em(992)) {
				grid-template-columns: 1fr 1fr;

				li {
					padding-bottom: rem(50);

					&::after {
						bottom: 0;
						width: rem(24);
						height: rem(24);
					}
				}
			}

			@media (max-width: em(575)) {
				grid-template-columns: 1fr;
			}
		}

		@media (max-width: em(575)) {
			margin-top: rem(40);
		}
	}

	&__footer {
		margin-top: rem(40);
		border-radius: rem(20);
		padding: rem(34) 0;
		text-align: center;
		text-transform: uppercase;
		color: var(--text-white);
		background-color: var(--feijoa);
		background-image: url("../img/icons/line-zigzag.svg");
		background-position: left rem(100) center;
		background-repeat: no-repeat;
		background-size: cover;

		@media (max-width: em(1023)) {
			padding: rem(16) 0;
			background-position: left rem(20) center;
			background-size: 150%;
		}
	}

	&--projects-list {
		padding-top: rem(100);

		.projects-eligibility {
			&__list {
				margin-top: 0;
			}
		}
	}

	@media (max-width: em(1023)) {
		padding-top: rem(70);
	}
}
