.project-team {
	padding: rem(200) 0;

	&__list {
		margin-top: rem(105);
		ul {
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			gap: rem(15);

			li {
				display: flex;
				flex-flow: column;
				padding: rem(45) rem(20);
				border-radius: rem(20);

				.info {
					position: relative;
					display: flex;
					flex-flow: column;
					flex: 1 1 0%;

					&::after {
						content: "";
						position: absolute;
						top: rem(-50);
						right: 0;
						width: rem(156);
						aspect-ratio: 1;
						background: url("../img/icons/icon5.svg") center / contain no-repeat;
						z-index: -1;

						@media (max-width: em(1023)) {
							width: rem(80);
							top: 0;
						}
					}
				}

				.image{
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					width: rem(203);
					aspect-ratio: 1;
					clip-path: url(#myClipPath);
					overflow: hidden;
					background-color: var(--text-white);

					&::after {
						content: "";
						position: absolute;
						inset: 0;
						background-image: url("../img/teams/border.webp");
					}
					

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center top;
						transition: scale 0.2s ease-out;
					}

					@include hover-supported {
						img {
							scale: 1.02;
						}
					}

					@media (max-width: em(565)) {
						align-self: center;
					}
				}

				


				.name {
					margin-top: rem(35);
					font-weight: 700;
					font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
					text-transform: uppercase;
					color: var(--text-color);
					transition: opacity 0.2s ease-out;

					@include hover-supported {
						opacity: 0.5;
					}

					@media (max-width: em(1023)) {
						margin-top: rem(20);
					}
				}

				.position {
					font-weight: 700;
					text-transform: uppercase;
				}

				.description {
					margin-top: rem(38);
					padding-bottom: rem(14);

					@media (max-width: em(1023)) {
						margin-top: rem(20);
					}
				}

				.additional {
					display: flex;
					flex-flow: column;

					> a {
						color: var(--text-color);

						@include hover-supported {
							text-decoration: underline;
						}
					}
				}

				.link-show-more {
					margin-top: auto;

					font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
					color: var(--accent);
					text-underline-offset: rem(6);
					text-decoration-thickness: rem(0.1);

					@include hover-supported {
						text-decoration: underline;
					}
				}

				@media (max-width: em(1023)) {
					padding: rem(20) 0;
				}
			}

			@media (max-width: em(767)) {
				grid-template-columns: 1fr 1fr;
			}

			@media (max-width: em(565)) {
				grid-template-columns: 1fr;
			}
		}

		@media (max-width: em(1023)) {
			margin-top: rem(80);
		}

		@media (max-width: em(767)) {
			margin-top: rem(20);
		}
	}

	&__actions {
		display: flex;
		margin-top: rem(50);

		.btn-donate {
			flex-basis: rem(650);
			justify-content: flex-start;
			max-width: unset;
			gap: rem(50);
			text-transform: uppercase;

			@media (max-width: em(767)) {
				flex-basis: rem(350);
				font-size: rem(20);
				gap: rem(20);
			}
		}

		@media (max-width: em(767)) {
			margin-top: rem(25);
		}
	}

	@media (max-width: em(767)) {
		padding: rem(70) 0;
	}
}
