.about {
	margin-top: 40px;
	font-family: "SF-Reg";

	p {
		padding-bottom: 10px;
		font-size: 14px;
	}

	&__title {
		padding: 36px 5px;
		font-size: 24px;
		letter-spacing: 0.48px;
		text-align: center;
		color: $science-blue;

		@media only screen and (max-width: 767px) {
			font-size: 16px;
		}
	}

	&__title-icon {
		fill: $science-blue;
		transition: transform 0.2s;

		&.icon-down {
			width: 14px;
			height: 8px;
		}

		// @media only screen and (max-width: 600px) {
		// 	transform: rotate(180deg);
		// }

		&.rotate {
			transform: rotate(180deg);
		}
	}

	&__wrapper {
		margin: 0 15px 23px;
		letter-spacing: 0.28px;
	}

	&__title-text,
	&__text {
		background-color: $white;
	}

	&__text {
		padding: 40px 15px;
	}

	&__text-close {
		display: none;
	}

	&__title-text {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 5px 5px 0 0;
		padding: 10px 15px;
		font-size: 16px;
		color: $science-blue;
		cursor: pointer;

		@media only screen and (max-width: 414px) {
			display: flex;
		}
	}

	&__text-flex {
		display: flex;
	}

	&__logo {
		img {
			width: 278px;
			height: 66px;
		}

		@media only screen and (max-width: 992px) {
			display: none;
		}
	}

	&__logo-mobile {
		display: none;

		@media only screen and (max-width: 992px) {
			display: flex;
			justify-content: center;
			margin-top: 20px;
		}
	}
}