.benefits {
	position: relative;
	margin-top: -100px;

	&__news {
		overflow: hidden;
		padding: 15px;
		width: 100%;
		font-family: "SF-Semi", serif;
		font-size: 16px;
		white-space: nowrap;
		background-color: $bright-sun;

		span {
			display: inline-block;
			padding-left: 100%;
			animation: benefits__row 20s infinite linear;
		}

		@keyframes benefits__row {
			0% {
				transform: translate(0, 0);
			}

			100% {
				transform: translate(-100%, 0);
			}
		}

		@media only screen and (max-width: 767px) {
			display: none;
		}
	}

	&__wrapper {
		padding: 30px 15px;
		text-align: center;
	}

	&__top,
	&__bottom {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	&__top {
		margin-top: 70px;

		@media only screen and (max-width: 1200px) {
			margin-top: 20px;
		}

		@media only screen and (max-width: 767px) {
			display: none;
		}
	}

	&__bottom {
		margin-top: 25px;
	}

	&__top-item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
		padding: 0 15px;

		span {
			font-family: "SF-Semi";
			font-size: 18px;
			letter-spacing: 0.36px;
			text-transform: uppercase;
			color: $science-blue;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__top-item-wrapper {
		display: flex;
		align-items: center;
	}

	&__tooltip {
		position: absolute;
		left: -50%;
		top: 60px;
		display: none;

		&.active {
			display: block;
		}
	}

	&__tooltip-arrow {
		position: absolute;
		left: 50%;
		top: 0;
		margin-top: -5px;
		border: 0;
		border-bottom: 2px solid $science-blue;
		border-left: 2px solid $science-blue;
		width: 24px;
		height: 24px;
		background: $white;
		transform: rotate(135deg) translateY(9px);
	}

	&__tooltip-inner {
		border: 2px solid $science-blue;
		border-radius: 4px;
		padding: 3px 8px;
		max-width: 350px;
		color: $white;
		background: $white;
	}

	&__tooltip-content {
		display: flex;
		padding: 10px;
		min-width: 310px;
	}

	&__tooltip-img {
		flex-shrink: 0;
		margin-right: 10px;
		min-width: 100px;
	}

	&__tooltip-text {
		min-width: 200px;

		h5 {
			margin-bottom: 10px;
			font-family: "SF-Semi";
			font-size: 16px;
			text-align: left;
			text-transform: uppercase;
			color: $science-blue;
		}

		p {
			font-size: 13px;
			text-align: left;
			color: $mine-shaft;
		}
	}

	&__icon {
		margin-right: 15px;
		fill: $science-blue;

		&.icon-search-car {
			width: 41px;
			height: 40px;
		}

		&.icon-tooltip {
			width: 94px;
			height: 94px;
		}

		&.icon-hand-ok {
			width: 45px;
			height: 40px;
		}

		&.icon-insure {
			width: 35px;
			height: 40px;
		}

		&.icon-cart {
			width: 37px;
			height: 40px;
		}

		&.icon-car-dream,
		&.icon-service,
		&.icon-payments {
			margin-bottom: 25px;
			width: 92px;
			height: 92px;
		}

		&.icon-transportation {
			margin-bottom: 25px;
			width: 191px;
			height: 92px;
		}
	}

	&__text {
		display: inline-block;
		margin-top: 48px;
		text-align: center;

		h1 {
			border-bottom: 2px solid $dusty-gray;
			font-family: "SF-Bold";
			font-size: 24px;
			line-height: 36px;
			letter-spacing: 0.48px;
			text-transform: uppercase;
			color: $science-blue;

			@media only screen and (max-width: 320px) {
				font-size: 22px;
			}
		}

		@media only screen and (max-width: 767px) {
			margin-top: 0;
		}
	}

	&__bottom-item {
		display: flex;
		justify-content: center;
		width: 25%;

		@media only screen and (max-width: 1200px) {
			width: 50%;
		}

		@media only screen and (max-width: 767px) {
			width: 100%;
		}
	}

	&__bottom-item:not(:first-child) {
		@media only screen and (max-width: 767px) {
			margin-top: 15px;
		}
	}

	&__bottom-item-wrapper {
		margin: 10px;
		width: 250px;

		p {
			font-size: 16px;
			letter-spacing: 0.32px;
		}
	}

	&__bottom-item-title {
		padding-bottom: 10px;
		font-family: "SF-Bold";
	}

	&__bottom-item-text {
		font-family: "SF-Reg";
	}
}
