// * ===========  BURGER =========== //
.burger {
	position: relative;
	display: none;
	width: 20px;
	height: 3px;
	background-color: $science-blue;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 6px;
		display: block;
		width: 20px;
		height: 3px;
		background-color: $science-blue;
		transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: -6px;
		display: block;
		width: 20px;
		height: 3px;
		background-color: $science-blue;
		transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	}

	&.burger-active {
		background-color: transparent;
	}

	&.burger-active::after {
		top: 0;
		transform: rotate(45deg);
		transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	}

	&.burger-active::before {
		top: 0;
		transform: rotate(-45deg);
		transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	}

	@media only screen and (max-width: 1200px) {
		display: block;
	}
}
