// ds - details-similar
.ds {
	&__slider-item {
		outline: none;
	}

	&__slider-item-wrapper {
		position: relative;
		margin: 0 auto;
		border: 1px solid $mercury;
		border-bottom: 6px solid $science-blue;
		max-width: 248px;
		color: $mine-shaft;
	}

	&__slider-btn {
		position: absolute;
		top: 155px;
		z-index: 5;
		outline: none;
		border: none;
		border-radius: 4px;
		width: 25px;
		height: 8px;
		background-color: $science-blue;
		cursor: pointer;

		&.prev,
		&.next {
			svg {
				position: absolute;
				right: 8px;
				top: -2px;
				width: 8px;
				height: 12px;
				fill: $white;
			}

			&.slick-disabled {
				background-color: $alto;
			}
		}

		&.next {
			right: 5px;
		}

		&.prev {
			left: 5px;
		}
	}
}

.ds-car {
	&__slider {
		margin-top: 34px;
		margin-bottom: 31px;
	}

	&__slider-img {
		margin: auto;
		width: auto;
		height: 105px;

	}

	&__slider-item {
		position: relative;
		outline: transparent;
	}
}