.favorites {
	margin-top: 90px;
	font-family: "SF-Reg";

	@media only screen and (max-width: 1200px) {
		margin-top: 55px;
	}

	@media only screen and (max-width: 786px) {
		margin-top: 50px;
	}

	&__container {
		margin-top: 10px;
		max-width: 900px;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #e8e8e8;
		padding: 0 10px 10px;

		.select-box {
			position: relative;
			width: 250px;

			.selected {
				border: 1px solid $dusty-gray;
				border-radius: 4px;
				padding: 8px 10px;
				font-family: "SF-Reg";
				font-size: 14px;
				color: $dusty-gray;

				&::after {
					@media only screen and (max-width: 768px) {
						top: 10px;
						width: 18px;
						height: 18px;
						background-image: url("../img/svg/arrow-up-down.svg");
					}
				}

				.placeholder {
					margin: 0;

					@media only screen and (max-width: 768px) {
						display: none;
					}
				}

				.placeholder-mobile {
					display: none;

					@media only screen and (max-width: 768px) {
						display: block;
						padding-right: 25px;
						text-decoration: underline;
						color: $mine-shaft;
					}
				}

				&:hover {
					border: 1px solid $science-blue;

					@media only screen and (max-width: 768px) {
						border: 1px solid transparent;
					}
				}

				@media only screen and (max-width: 768px) {
					outline: none;
					border: 1px solid transparent;
					border-radius: 0;
				}
			}

			.options-container {
				position: absolute;
				right: 0;
				top: 42px;
				z-index: 11;
				margin-bottom: 10px;
				border: 1px solid $science-blue;
				border-radius: 4px;
				width: 247px;
				font-family: "SF-Reg";
				font-size: 16px;
				color: $emperor;

				&.active {
					+ .selected {
						border: 1px solid $science-blue;
					}
				}
			}

			.option {
				padding: 5px 10px;
			}

			.search__filter-item-placeholder {
				margin-left: 0;
			}

			@media only screen and (max-width: 768px) {
				width: auto;
			}
		}
	}

	&__total {
		font-family: "SF-Bold";
		font-size: 16px;

		@media only screen and (max-width: 576px) {
			color: $science-blue;
		}
	}

	&__item {
		margin-bottom: 10px;
		border: 1px solid $alto;
		border-radius: 4px;
		background-color: $white;

		@media only screen and (max-width: 414px) {
			border-bottom: 5px solid $science-blue;
		}
	}

	&__info {
		//border-top: 1px solid $alto;
		padding: 0 10px 10px;
		width: 100%;
		font-size: 14px;

		@media only screen and (max-width: 414px) {
			padding: 0;
		}

		.info-title {
			@media only screen and (max-width: 414px) {
				display: none;
			}
		}

		.info-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;

			svg {
				flex-shrink: 0;
			}

			@media only screen and (max-width: 414px) {
				justify-content: flex-end;
			}
		}

		.info-controls {
			display: flex;
			align-items: center;

			span {
				padding-left: 10px;
			}
		}
	}

	&__marker {
		display: none;
		margin: 10px 0;
		font-size: 12px;

		@media only screen and (max-width: 414px) {
			font-size: 12px;
		}
	}

	.car-item {
		&__img {
			margin-bottom: 40px;

			@media only screen and (max-width: 768px) {
				margin-bottom: 0;
			}

			@media only screen and (max-width: 414px) {
				.fav-icon {
					display: none;
				}
			}
		}

		&__img-container {
			margin-bottom: 30px;

			@media only screen and (max-width: 768px) {
				margin-bottom: 0;
			}
		}

		// &__btn {
		// 	display: none;
		// }

		// &__marker {
		// 	display: none;
		// }

		&__price {
			min-width: 160px;
			
			.favorite,
			.price-include {
				display: none;
			}

			.price-economy {
				border: 0;
			}

			

			@media only screen and (max-width: 414px) {
				padding-left: 5px;
				min-width: 120px;
				
				.price-real {
					padding-top: 10px;
				}
			}
		}
	}
}
