.filter {
	position: relative;
	display: block;
	border-radius: 4px;
	min-width: 260px;

	&__top {
		display: none;

		p {
			font-family: "SF-Bold";
			font-size: 16px;
			color: $science-blue;
		}

		@media only screen and (max-width: 992px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			width: 100%;
		}
	}

	.filter-btn-close {
		display: flex;
		align-items: center;
		outline: none;
		border: none;
		font-family: "SF-Reg";
		font-size: 14px;
		color: $mine-shaft;
		background-color: transparent;
		cursor: pointer;

		svg {
			position: absolute;
			right: 10px;
			top: 13px;
			width: 20px;
			height: 20px;
			transform: rotate(45deg);
		}

		span {
			padding-right: 20px;
		}

		@media only screen and (max-width: 992px) {
			display: block;
		}
	}

	&__item {
		@media only screen and (max-width: 768px) {
			margin: 0 10px;
		}

		@media only screen and (max-width: 414px) {
			margin: 0;
		}
	}

	&__item-title {
		position: relative;
		display: flex;
		align-items: center;
		border: 1px solid $alto;
		padding: 10px;
		font-family: "SF-Bold";
		font-size: 16px;
		background-color: $white;
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 15px;
			mask-image: url("../img/sprite.svg#down-arrow");
			mask-repeat: no-repeat;
			mask-size: contain;
			width: 14px;
			height: 14px;
			background-color: $nobel;
			transform: rotate(180deg);
			transition: all 0.4s;

			@media only screen and (max-width: 414px) {
				background-color: $science-blue;
			}
		}

		&.close {
			&::after {
				transform: rotate(0deg);
			}

			+ .filter__subitem {
				display: none;
			}
		}

		@media only screen and (max-width: 414px) {
			color: $science-blue;
		}
	}

	&__item-title-img {
		margin-top: 5px;
		margin-right: 10px;

		@media only screen and (max-width: 414px) {
			display: none;
		}
	}

	&__subitem {
		border: 1px solid $alto;
		background-color: $white;
	}

	&__subitem-add {
		display: flex;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	&__subitem-add-img {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 5px;
		border-radius: 3px;
		width: 16px;
		height: 16px;
		background-color: $science-blue;
	}

	&__subitem-add-text {
		font-family: "SF-Reg";
		font-size: 15px;
		line-height: 1.2;
		text-decoration: underline;
		color: $mine-shaft;

		a {
			color: inherit;
		}
	}

	&__icon {
		&.icon-plus {
			width: 10px;
			height: 10px;
			fill: $white;
		}
	}

	.select-box {
		position: relative;
		margin: 0 0 10px;

		.options-container {
			position: absolute;
			top: 40px;
			border: 1px solid $dusty-gray;
			border-radius: 4px;
			color: $emperor;

			@media only screen and (max-width: 414px) {
				top: 50px;
				width: 96%;
			}
		}

		.selected {
			border: 1px solid $dusty-gray;
			border-radius: 4px;
			padding: 8px 10px;

			&:hover {
				border: 1px solid $science-blue;
			}

			@media only screen and (max-width: 414px) {
				border-radius: 0;
				height: 46px;
			}
		}

		.option {
			&:hover {
				color: $emperor;
			}
		}

		.placeholder {
			margin: 0;
			color: $mine-shaft;
		}

		&.filter-section {
			font-family: "SF-Reg";
			font-size: 14px;
			color: $emperor;
		}

		@media only screen and (max-width: 414px) {
			padding: 0 7.5px;
			height: 46px;
		}
	}

	.filter-wrapper-btn {
		display: none;
		justify-content: center;
		padding: 10px 0;
		width: 100%;

		.btn {
			margin: 0 40px;
			outline: none;
			border: 1px solid transparent;
			border-radius: 4px;
			padding: 0 10px;
			height: 40px;
			min-width: 260px;
			font-family: "SF-Bold";
			font-size: 16px;
			line-height: 26px;
			white-space: nowrap;
			color: $white;
			background-color: $science-blue;

			&:hover {
				box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
			}

			@media only screen and (max-width: 414px) {
				width: 100%;
			}
		}

		&.fixed {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 3;
		}

		@media only screen and (max-width: 992px) {
			display: flex;
		}
	}

	&.filter-open {
		@media only screen and (max-width: 992px) {
			display: block;
			margin-top: 0;
			width: 100%;

			+ .search-result__inner {
				display: none;
			}
		}

		@media only screen and (max-width: 768px) {
			margin-top: 0;
		}
	}

	@media only screen and (max-width: 992px) {
		display: none;
	}
}

.filter-body {
	&__item {
		border-bottom: 1px solid $alto;
		padding: 9px;
		font-family: "SF-Reg";
		font-size: 14px;

		.advanced-items {
			padding-left: 10px;
		}
		
		&.advanced {
			padding: 9px 0;
		}

		// * привіт + коробка * //
		.wd,
		.gearbox {
			.checkbox {
				p {
					padding-left: 10px;
					font-size: 16px;
				}
			}

			.checkbox__div {
				border: 1px solid $alto;
				width: 34px;
				height: 34px;

				&::before {
					width: 24px;
					height: 24px;
				}
			}

			.checkbox__input:checked ~ .checkbox__border {
				border: 1px solid $science-blue;
				transition: 0.3s all;

				.checkbox__div::before {
					background-image: url("../img/svg/checked.svg");
					background-color: hsla(0, 0%, 100%, 0.7);
				}
			}
		}

		.material {
			width: 24px;
			height: 24px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;

			&.fwd {
				background-image: url("../img/svg/fwd.svg");
			}

			&.rwd {
				background-image: url("../img/svg/rwd.svg");
			}

			&.awd {
				background-image: url("../img/svg/awd.svg");
			}

			&.automatic {
				background-image: url("../img/svg/automatic.svg");
			}

			&.manual {
				background-image: url("../img/svg/gearbox-manual.svg");
			}

			&.robot {
				background-image: url("../img/svg/gearbox-robot.svg");
			}
		}

		&:last-child {
			border-bottom: none;
		}

		&.salon-body {
			padding-left: 7px;

			.filter-body__item-title {
				padding: 10px;
			}
		}
	}

	&__item-title {
		padding: 13px 10px 18px;
		font-family: "SF-Bold";
		font-size: 14px;

		&.advanced {
			position: relative;
			margin-bottom: 10px;
			border-bottom: 1px solid $alto;
			padding-bottom: 5px;

			&::after {
				content: "";
				position: absolute;
				right: 10px;
				top: 15px;
				mask-image: url("../img/sprite.svg#down-arrow");
				mask-repeat: no-repeat;
				mask-size: contain;
				width: 14px;
				height: 14px;
				background-color: $nobel;
				transform: rotate(180deg);
				transition: all 0.4s;

				@media only screen and (max-width: 414px) {
					background-color: $science-blue;
				}
			}

			&.close {
				&::after {
					transform: rotate(0deg);
				}

				+ .advanced-items {
					display: none;
				}
			}
		}
	}

	&__item-wrapper {
		//display: flex;
		//justify-content: space-between;

		@media only screen and (max-width: 414px) {
			display: block;
		}
	}

	// * колір салону + авто * //

	&__salon-color {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		//justify-content: space-between;
		justify-content: start;

		@media only screen and (max-width: 414px) {
			justify-content: start;
		}
	}

	&__salon-color,
	&__color {
		.checkbox__input:checked ~ .checkbox__div {
			border: 1px solid $science-blue;
			transition: 0.3s all;

			&::after {
				background-color: hsla(0, 0%, 100%, 0.7);
				transition: 0.3s all;
			}
		}

		.checkbox__div {
			border-radius: 50%;
			width: 35px;
			height: 35px;

			.color {
				border: 1px solid $alto;
				border-radius: 50%;
				width: 25px;
				height: 25px;

				&.black {
					background-color: $black;
				}

				&.indian-tan {
					background-color: $indian-tan;
				}

				&.beige {
					background-color: $beige;
				}

				&.gray {
					background-color: $gray;
				}

				&.brown {
					background-color: $brown;
				}
			}

			@media only screen and (max-width: 414px) {
				margin-right: 15px;
			}
		}
	}

	&__color {
		.color-row {
			display: flex;
			flex-wrap: wrap;
			//justify-content: space-between;
			justify-content: start;
			width: 100%;

			// @media only screen and (max-width: 414px) {
			// 	justify-content: start;
			// }
		}

		.checkbox {
			p {
				padding-left: 10px;
			}
		}

		.checkbox__div {
			.color {
				&.silver {
					background-color: $silver;
				}

				&.white {
					background-color: $white;
				}

				&.blue {
					background-color: $blue;
				}
			}

			&.block {
				margin-top: 5px;
				border-radius: 3px;
				width: 20px;
				height: 20px;
			}

			@media only screen and (max-width: 414px) {
				margin-right: 15px;
			}
		}
	}

	// * матеріали солону * //
	&__salon {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 260px;
		max-width: 245px;

		@media only screen and (max-width: 414px) {
			width: 270px;
			max-width: 270px;
		}

		.checkbox__input:checked ~ .checkbox__border {
			border: 1px solid $science-blue;
			transition: 0.3s all;

			.checkbox__div::before {
				background-image: url("../img/svg/checked.svg");
				background-color: hsla(0, 0%, 100%, 0.7);
			}
		}

		.checkbox__div {
			min-width: 34px;
			min-height: 34px;

			&::before {
				width: 24px;
				height: 24px;
			}
		}

		.salon {
			margin-right: 1px;
			width: 120px;

			p {
				padding-left: 5px;
			}
		}

		.material {
			width: 24px;
			height: 24px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;

			&.leather {
				background-image: url("../img/svg/leather.svg");
			}

			&.part-leather {
				background-image: url("../img/svg/part-leather.svg");
			}

			&.other {
				background-image: url("../img/svg/unknown-material.svg");
			}

			&.alkantara {
				background-image: url("../img/svg/alkantara.svg");
			}

			&.velurus {
				background-image: url("../img/svg/velurus.svg");
			}

			&.fabric {
				background-image: url("../img/svg/fabric1.svg");
			}
		}
	}
}

.filter-range {
	padding: 0 10px;

	@media only screen and (max-width: 414px) {
		padding: 0;
	}
}

.filter-year {
	width: 100%;
}

.filter-blocks {
	margin-bottom: 2px;
	padding: 0 8px;

	ul {
		display: flex;
		justify-content: space-between;
		height: 50px;
	}

	li {
		position: relative;
		display: block;
		border-radius: 3px 3px 0 0;
		width: 32px;
		height: 100%;
		min-width: 32px;
		background-color: $seagull;

		&:nth-child(2) {
			bottom: -10px;
			height: 80%;
		}

		&:nth-child(3) {
			bottom: -20px;
			height: 60%;
		}

		&:nth-child(4) {
			bottom: -30px;
			height: 40%;
		}

		&:nth-child(5) {
			bottom: -40px;
			height: 20%;
		}
	}

	&.reverse {
		ul {
			flex-direction: row-reverse;
		}
	}

	&.power {
		li {
			width: 10px;
			min-width: 10px;

			&:nth-child(2) {
				bottom: -5px;
				height: 90%;
			}

			&:nth-child(3) {
				bottom: -10px;
				height: 80%;
			}

			&:nth-child(4) {
				bottom: -15px;
				height: 70%;
			}

			&:nth-child(5) {
				bottom: -20px;
				height: 60%;
			}

			&:nth-child(6) {
				bottom: -25px;
				height: 50%;
			}

			&:nth-child(7) {
				bottom: -30px;
				height: 40%;
			}

			&:nth-child(8) {
				bottom: -35px;
				height: 30%;
			}

			&:nth-child(9) {
				bottom: -40px;
				height: 20%;
			}
		}
	}

	@media only screen and (max-width: 414px) {
		display: none;
	}
}

.filter-input {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;

	.select-box {
		min-width: 105px;

		.options-container {
			@media only screen and (max-width: 414px) {
				width: 90%;
			}
		}

		.selected {
			border: 0;
			border-bottom: 1px solid $science-blue;
			border-radius: 0;

			&:hover {
				order: 0;
				border-bottom: 1px solid $science-blue;
				border-radius: 0;

				@media only screen and (max-width: 414px) {
					border: 1px solid $science-blue;
				}
			}

			@media only screen and (max-width: 414px) {
				border: 1px solid $dusty-gray;
			}
		}

		@media only screen and (max-width: 414px) {
			min-width: 163px;
		}

		@media only screen and (max-width: 320px) {
			min-width: 145px;
		}
	}

	@media only screen and (max-width: 414px) {
		margin-top: 0;
	}
}

.select-box-wrapper {
	min-width: 75px;

	&__body {
		display: flex;
		justify-content: space-between;
	}

	.select-box {
		min-width: 70px;
	}

	&.mobile {
		.mobile-options {
			display: none;
			margin-bottom: 15px;
			margin-left: 10px;
		}

		@media only screen and (max-width: 414px) {
			.select-box {
				display: none;
			}

			.mobile-options {
				display: flex;
			}
		}
	}
}