*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: $mine-shaft;
	background-color: $alabaster;
}

p {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 1170px;

	&.section-bg {
		border: 1px solid $mercury;
		background-color: $white;

		&.about {
			background-color: $bitocelli;
		}
	}

	@media only screen and (min-width: 1200px) {
		max-width: 1170px;
	}

	@media only screen and (min-width: 992px) {
		max-width: 970px;
	}

	@media only screen and (min-width: 768px) {
		max-width: 750px;
	}
}

hr {
	margin: 0;
	border: 1px solid $alto;
}

.main-arrow-up {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 3;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: $science-blue url("../img/main-arrow-up.webp") no-repeat center;
	opacity: 0;
	transform: rotate(180deg) translateZ(0);
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 35px 0 25px;
	width: 100%;
	font-family: "SF-Reg";
	font-size: 18px;

	.disabled {
		color: $alto;
		cursor: not-allowed;

		svg {
			fill: $alto;
		}
	}

	.current {
		border-color: $science-blue;
		color: $white;
		background-color: $science-blue;
		cursor: default;
	}

	&__btn-next,
	&__btn-prev {
		outline: none;
		border: 0;
		text-transform: capitalize;
		color: $science-blue;
		background: 0;

		svg {
			font-size: 14px;
		}
	}

	&__btn-prev {
		margin-right: 10px;

		svg {
			margin-right: 10px;
			transform: rotate(90deg);
		}
	}

	&__btn-next {
		margin-left: 35px;

		svg {
			margin-left: 10px;
			fill: $science-blue;
			transform: rotate(270deg);
		}
	}

	&__btn {
		margin-left: 25px;
		outline: none;
		border: 1px solid $science-blue;
		border-radius: 3px;
		padding: 0 5px;
		height: 25px;
		min-width: 25px;
		font-family: "SF-Bold";
		font-size: 14px;
		color: $science-blue;
		background-color: $white;
		cursor: pointer;

		&:hover {
			border-color: transparent;
			color: $white;
			background-color: rgba(0, 92, 203, 0.5);
		}
	}
}
