*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: $mine-shaft;
	-webkit-tap-highlight-color: transparent;
	background-color: $alabaster;
}

p {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 1170px;

	&.section-bg {
		border: 1px solid $mercury;
		background-color: $white;

		&.about {
			background-color: $bitocelli;
		}
	}

	@media only screen and (min-width: 1200px) {
		max-width: 1170px;
	}

	@media only screen and (min-width: 992px) {
		max-width: 970px;
	}

	@media only screen and (min-width: 768px) {
		max-width: 750px;
	}
}

hr {
	margin: 0;
	border: 1px solid $alto;
}

.card-link {
	outline: none;
	color: $mine-shaft;
}

.main-arrow-up {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1000;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: $science-blue url("../img/main-arrow-up.png") no-repeat center;
	opacity: 0;
	transform: rotate(180deg) translateZ(0);

	@media only screen and (max-width: 414px) {
		display: none;
	}
}

// * ===================== paginatio ===================== //

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -20px;
	padding: 35px 0 25px;
	width: 100%;
	font-family: "SF-Reg";
	font-size: 18px;
	background-color: $white;

	&__body {
		display: flex;
		flex-wrap: wrap;
	}

	.disabled {
		color: $alto;
		cursor: not-allowed;

		svg {
			fill: $alto;
		}
	}

	.current {
		border-color: $science-blue;
		color: $white;
		background-color: $science-blue;
		cursor: default;
	}

	&__btn-next,
	&__btn-prev {
		display: flex;
		align-items: center;
		outline: none;
		border: 0;
		text-transform: capitalize;
		color: $science-blue;
		background: 0;

		svg {
			font-size: 14px;
		}
	}

	&__btn-prev {
		margin-right: 10px;

		svg {
			margin-right: 10px;
			transform: rotate(90deg);
		}
	}

	&__btn-next {
		margin-left: 35px;

		svg {
			margin-left: 10px;
			fill: $science-blue;
			transform: rotate(270deg);
		}

		@media only screen and (max-width: 414px) {
			margin-left: 10px;
		}
	}

	&__btn {
		margin-bottom: 5px;
		margin-left: 25px;
		outline: none;
		border: 1px solid $science-blue;
		border-radius: 3px;
		padding: 0 5px;
		height: 25px;
		min-width: 25px;
		font-family: "SF-Bold";
		font-size: 14px;
		color: $science-blue;
		background-color: $white;
		cursor: pointer;

		&:hover {
			border-color: transparent;
			color: $white;
			background-color: rgba(0, 92, 203, 0.5);
		}
	}
}

// * ================== select-box ====================
.select-box {
	display: flex;
	flex-direction: column;
	margin-top: 5px;

	.options-container {
		position: relative;
		z-index: 11;
		order: 1;
		overflow: hidden;
		border: 1px solid $nobel;
		width: 100%;
		max-height: 0;
		color: $nobel;
		background: $white;
		opacity: 0;
		transition: all 0.4s;

		.option input[type="radio"]:checked + label span {
			background: $link-water;
		}

		&::-webkit-scrollbar {
			width: 8px;
			background: $nobel;
		}

		&::-webkit-scrollbar-thumb {
			background: $trout;
		}

		&.active {
			overflow-y: scroll;
			max-height: 240px;
			opacity: 1;
		}
	}

	.option {
		&.select {
			background-color: $link-water;
		}
	}

	.option:hover {
		background: $link-water;
	}

	label {
		cursor: pointer;
	}
}

.selected {
	position: relative;
	display: flex;
	align-items: center;
	order: 0;
	border: 1px solid transparent;

	&::after {
		content: "";
		position: absolute;
		right: 10px;
		width: 10px;
		height: 10px;
		background-image: url("../img/svg/arrow-down-2.svg");
		background-size: contain;
		background-repeat: no-repeat;
		transition: 0.4s ease-in-out;
	}

	.placeholder {
		margin-left: 10px;
	}

	&.rotate {
		&::after {
			transform: rotateX(180deg);
		}
	}
}

.select-box .option,
.selected {
	padding: 10px;
	cursor: pointer;
}

.select-box .option .radio {
	display: none;
}

// * =================== CHEKBOX ==========================
.checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;

	&__border {
		display: flex;
		align-items: center;
		border: 1px solid transparent;
		border-radius: 4px;
		padding: 2px;
		width: 100%;
		cursor: pointer;
	}

	&__input {
		display: none;
	}

	&__input:checked ~ .checkbox__div::before {
		background-image: url("../img/svg/checked.svg");
		transition: 0.3s all;
	}

	&__div {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $science-blue;
		border-radius: 3px;
		min-width: 20px;
		min-height: 20px;

		&::before {
			content: "";
			position: absolute;
			z-index: 2;
			width: 14px;
			height: 14px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			transition: 0.3s all;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}

		&.other {
			border: 1px solid $emperor;

			&:hover {
				border: 1px solid $science-blue;
			}
		}

		&.alto {
			border: 1px solid $alto;

			&:hover {
				border: 1px solid $science-blue;
			}
		}
	}

	.name {
		padding-left: 10px;
	}

	p {
		padding-left: 20px;
		font-size: 14px;
		line-height: 17px;
	}

	&.other {
		margin-bottom: 10px;
	}

	// span {
	// 	padding-left: 10px;
	// }
}

// * ============== radio ================

.form-radio {
	display: flex;
	align-items: center;
	margin-right: 20px;

	span {
		padding-left: 5px;
	}
}

.form-radio input[type="radio"] {
	display: none;
}

.form-radio label {
	position: relative;
	display: block;
	margin-right: 0;
	padding-left: 25px;
	line-height: 18px;
	cursor: pointer;
	user-select: none;
}

.form-radio label::before {
	content: "";
	position: absolute;
	left: 5px;
	top: 5px;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

.form-radio label::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid $dusty-gray;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

/* Checked */
.form-radio input[type="radio"]:checked + label::before {
	background-color: $science-blue;
}

.form-radio input[type="radio"]:checked + label::after {
	border: 1px solid $science-blue;
}

/* Hover */
.form-radio label:hover::after {
	border: 1px solid $science-blue;
}

/* Disabled */
.form-radio input[type="radio"]:disabled + label::before {
	filter: grayscale(100%);
}

// ** property items search.html, favorites.html ** //

.property-item {
	display: flex;
	flex: 44%;
	align-items: center;
	margin: 0 10px;
	border-top: 1px solid #e8e8e8;
	padding: 7px 0;

	svg {
		flex-shrink: 0;
		width: 1.75em;
		height: 1.75em;

		@media only screen and (max-width: 414px) {
			width: 1.5em;
			height: 1.5em;
		}
	}

	span {
		overflow: hidden;
		margin-left: 10px;
		font-size: 14px;
		word-break: break-word;
		text-transform: capitalize;

		@media only screen and (max-width: 414px) {
			margin-left: 5px;
			font-size: 12px;
		}
	}

	&:nth-child(-n + 2) {
		border-top: 0;
	}

	@media only screen and (max-width: 1199px) {
		flex: 35%;
		margin: 0;
		border-top: 0;
		padding: 5px;
		width: auto;
	}
}

.car {
	&__name {
		margin-bottom: 20px;
		font-family: "SF-Reg";
		font-size: 16px;

		span {
			font-family: "SF-Bold";
			color: $science-blue;
		}
	}

	&__new,
	&__sell {
		position: absolute;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 4px 4px;
		width: 145px;
		height: 35px;
		font-family: "SF-Bold";
		font-size: 16px;
		color: $white;

		@media only screen and (max-width: 414px) {
			width: 70px;
			height: 25px;
			font-size: 14px;
		}
	}

	&__new {
		top: 50px;
		background-color: $green;

		@media only screen and (max-width: 414px) {
			top: 15px;
		}
	}

	&__sell {
		top: 100px;
		background-color: $red;

		@media only screen and (max-width: 414px) {
			top: 60px;
		}
	}

	&__img-pagination {
		position: absolute;
		left: 30px;
		bottom: 30px;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		width: 120px;
		height: 25px;
		color: $white;
		background-color: rgba(81, 81, 81, 0.502);

		svg {
			margin: 0 13px;
		}

		@media only screen and (max-width: 414px) {
			left: 10px;
			bottom: 20px;
		}
	}

	&__img-video {
		position: absolute;
		right: 30px;
		bottom: 30px;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		width: 40px;
		height: 25px;
		background-color: rgba(81, 81, 81, 0.502);

		@media only screen and (max-width: 414px) {
			right: 10px;
			bottom: 20px;
		}
	}

	&__info-item {
		margin-bottom: 20px;
		border: 1px solid hsla(0, 0%, 84.3%, 0.5);
		border-radius: 4px 4px 0 0;
		background-color: $white;

		.car__name {
			margin-bottom: 0;
			padding: 20px 20px 0;
			background-color: $white;
		}

		&.data {
			border: 0;
			background-color: $alabaster;
		}
	}

	&__info-content {
		padding: 20px;

		.car__info-name {
			margin-bottom: 10px;
		}

		&.remove-padding {
			padding: 0;
		}

		@media only screen and (max-width: 992px) {
			.car__name {
				display: none;
			}
		}
	}

	&__info-wrapper {
		padding-left: 20px;
		padding-right: 20px;
		background-color: $white;

		&.addmargin {
			margin-bottom: 20px;
		}
	}

	&__info-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.item {
			display: flex;
			margin: 17px 0;
			width: 45%;

			@media only screen and (max-width: 576px) {
				width: 100%;
			}

			&__img {
				flex-shrink: 0;
				margin-right: 10px;
				width: 64px;
				height: 64px;
			}

			svg.item__img path {
				fill: $emperor;
			}
		}

		.item-content {
			&__title {
				margin-bottom: 5px;
				font-size: 15px;
			}

			&__text {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}

	&__info-row-nowrap {
		counter-reset: section;
		display: flex;
		align-content: space-evenly;
		justify-content: space-evenly;

		@media only screen and (max-width: 576px) {
			flex-direction: column;
		}

		.item__img {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 7px auto;
			border-radius: 50%;
			padding: 10px;
			width: 66px;
			height: 66px;
			background-color: $science-blue;

			&::after {
				counter-increment: section;
				content: counter(section);
				position: absolute;
				right: -6px;
				top: -6px;
				display: block;
				border: 2px solid $science-blue;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				font-family: "SF-Bold";
				font-size: 14px;
				line-height: 21px;
				text-align: center;
				background-color: $white;
			}

			svg {
				margin: 4px auto;
				width: 45px;
				height: 45px;
			}
		}

		.item-column {
			margin: 17px 10px;
			width: 290px;
			font-family: "SF-reg";
			text-align: center;

			@media only screen and (max-width: 576px) {
				display: flex;
				width: 100%;

				.item-column-inner {
					display: flex;
					flex-direction: column;
					text-align: left;
					margin-left: 20px;
				}
			}
		}

		.item-content__title {
			margin-bottom: 5px;
			font-size: 15px;
		}

		.item-content__text {
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__info-block {
		border-bottom: 1px solid hsla(0, 0%, 84.3%, 0.5);

		&:last-child {
			border-bottom: 0;
		}
	}

	&__info-name-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		cursor: pointer;

		&.p-11-20 {
			padding: 11px 20px;
		}

		@media only screen and (max-width: 414px) {
			//border-bottom: 1px solid #000;
		}

		svg {
			transition: all 0.3s ease-in;
			&.rotate {
				transform: rotate(-180deg);
				transition: all 0.3s ease-in;
			}
		}
	}

	&__info-similar {
		margin-bottom: 10px;
		font-family: "SF-Reg";
		font-size: 24px;
		text-transform: uppercase;
		color: $science-blue;
	}

	&__similar-slider {
		position: relative;
	}

	&__block-name {
		font-family: "SF-Bold";
		font-size: 16px;
		text-transform: uppercase;
	}

	&__block-content {
		display: flex;
		flex-grow: 0;
		flex-shrink: 0;
		flex-wrap: wrap;
		padding: 0 20px 20px;

		&.close {
			display: none;
		}

		@media only screen and (max-width: 414px) {
			display: block;
			padding: 0;
		}
	}

	&__block-item {
		flex: 0 0 50%;
		max-width: 50%;

		&:nth-child(odd) {
			padding-right: 7.5px;

			@media only screen and (max-width: 414px) {
				padding: 0;
			}
		}

		&:nth-child(even) {
			padding-left: 7.5px;

			@media only screen and (max-width: 414px) {
				padding: 0;
			}
		}

		@media only screen and (max-width: 414px) {
			max-width: 100%;
		}
	}

	&__block-row {
		display: flex;
		flex-grow: 0;
		flex-shrink: 0;
		flex-wrap: wrap;
		align-items: center;
		border-bottom: 1px solid #f2f2f2;
		height: 42px;

		&.top {
			border-bottom: 5px solid #f2f2f2;
			padding: 0;
			height: 0;

			@media only screen and (max-width: 414px) {
				display: none;
			}
		}
	}

	&__block-row-item {
		flex: 0 0 50%;
		padding-right: 7.5px;
		padding-left: 7.5px;
		max-width: 50%;
		font-size: 13px;

		&.single {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	&__right-price {
		background-color: $alabaster;

		.price-inner {
			display: flex;
			justify-content: space-between;
			padding: 20px 10px;
		}

		.price-txt {
			font-family: "SF-Med";
			font-size: 20px;
		}

		.price-wrapper {
			font-size: 16px;
			text-align: right;
		}

		.price-real {
			font-family: "SF-Bold";
			font-size: 24px;
			color: $japanese-laurel;
		}

		.price-was {
			span {
				text-decoration: line-through;
				color: $red;
			}
		}

		.price-economy {
			span {
				color: $red;
			}
		}
	}

	&__right-id {
		padding-top: 10px;
		padding-bottom: 15px;
		font-family: "SF-Semi";
		font-size: 12px;
		color: $science-blue;
	}

	&__right-ttx {
		padding: 20px 10px;
		background-color: $alabaster;

		.car-item__ttx-item {
			font-size: 16px;
		}

		.car-item__ttx:first-child {
			margin-top: 0;
		}
	}

	&__right-favorite {
		display: flex;
		justify-content: flex-end;
		margin-top: 25px;

		.favorite {
			display: flex;
			align-items: center;
			color: $science-blue;

			svg {
				margin-left: 10px;
			}
		}
	}

	&__right-attention {
		font-size: 14px;
		line-height: 24px;

		p {
			font-family: "SF-Bold";
			color: $red;
		}
	}

	&__right-after-prepaid {
		margin-top: 60px;
		font-size: 14px;
	}
}

.carsimilar-btn {
	position: absolute;
	top: 50%;
	z-index: 5;
	outline: 0;
	border: none;
	border-radius: 4px;
	width: 25px;
	height: 50px;
	background-color: rgba(0, 92, 203, 0.502);
	transform: translateY(-50%);
	cursor: pointer;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: 5px;
		width: 25px;
		height: 40px;
		background-image: url("../img/svg/slider_arrow_right.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&.prev {
		left: -20px;

		&::after {
			transform: rotate(180deg);
		}
	}

	&.prev-main {
		left: 0;
		width: 30px;
		height: 60px;

		&::after {
			transform: rotate(180deg);
			right: 3px;
			top: 10px;
		}
	}

	&.next {
		right: -20px;
	}

	&.next-main {
		right: 0;
		width: 30px;
		height: 60px;

		&::after {
			right: 3px;
			top: 10px;
		}
	}

	&.slick-disabled {
		background-color: rgba(20, 20, 20, 0.502);
	}
}

.details-pagination {
	&.current {
		margin-left: 10px;
	}

	&.total {
		margin-right: 10px;
	}
}
