.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;

	&__logo {
		img {
			width: auto;
			height: 30px;

			@media only screen and (max-width: 1200px) {
				position: relative;
				top: 3px;
				width: auto;
				height: 22px;
			}

			@media only screen and (max-width: 500px) {
				width: auto;
				height: 22px;
			}
		}

		@media only screen and (max-width: 1200px) {
			margin-left: 15px;
		}
	}

	&__menu {
		font-family: "SF-Reg", serif;
		font-size: 16px;
		background-color: $science-blue;

		@media only screen and (max-width: 1200px) {
			position: fixed;
			top: 59px;
			z-index: 2;
			border-right: 1px solid $alto;
			padding: 10px 20px;
			width: 270px;
			height: 100vh;
			box-shadow: 3px 0 5px 0 $alto;
			background-color: $white;
			transform: translateX(-100vw);
			transition: transform 0.3s;

			&.open {
				transform: translateX(0);
			}
		}

		@media only screen and (max-width: 768px) {
			top: 45px;
		}
	}

	&__menu-list {
		display: flex;
		align-items: center;
		margin: 0 auto;
		height: 32px;
		max-width: 1170px;

		@media only screen and (max-width: 1200px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__menu-item {
		margin-right: 25px;

		@media only screen and (max-width: 1200px) {
			display: block;
			margin-right: 0;
			border-bottom: 1px solid $alto;
			padding: 10px 0;
			width: 100%;
		}
	}

	&__menu-link {
		color: $white;

		&:hover {
			text-decoration: underline;
			color: $white;
		}

		@media only screen and (max-width: 1200px) {
			color: $mine-shaft;

			&:hover {
				color: $mine-shaft;
			}
		}
	}

	&__bottom {
		border-bottom: 1px solid $silver;
		padding: 10px 0;
		background-color: rgba(255, 255, 255, 0.2);

		@media only screen and (max-width: 1200px) {
			width: 100%;
		}

		@media only screen and (max-width: 768px) {
			padding: 5px 0;
		}
	}

	&__bottom-wrapper {
		display: flex;
		align-items: center;
		color: $mine-shaft;

		@media only screen and (max-width: 1200px) {
			justify-content: space-between;
			padding: 7px 0;
		}

		@media only screen and (max-width: 766px) {
			padding: 7px 10px;
		}
	}

	&__bottom-logo {
		display: flex;
		align-items: center;
	}

	&__bottom-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		@media only screen and (max-width: 1200px) {
			display: none;
		}
	}

	&__bottom-inner2 {
		display: flex;
		align-items: center;
	}

	&__bottom-title {
		display: block;
		margin-left: 53px;
		font-family: "SF-Reg";
		font-size: 22px;
	}

	&__bottom-phone-wrapper {
		display: flex;
		align-items: center;
		margin-left: 51px;
		font-family: "SF-Semi", serif;
		font-size: 22px;

		a {
			padding: 0 8px;
			color: $mine-shaft;
		}

		@media only screen and (max-width: 1200px) {
			display: none;
		}
	}

	&__bottom-phone {
		position: relative;

		&:hover {
			.header__bottom-phone-window {
				display: block;
			}
		}
	}

	&__bottom-mobile {
		display: none;

		@media only screen and (max-width: 1200px) {
			display: flex;
		}
	}

	&__bottom-mobile-item {
		margin-right: 21px;

		&:last-child {
			margin-right: 0;
		}

		// @media only screen and (max-width: 855px) {
		// 	margin-right: 20px;
		// }

		// @media only screen and (max-width: 500px) {
		// 	margin-right: 10px;
		// }
	}

	&__bottom-news-mobile {
		display: none;
		overflow: hidden;
		padding: 12px;
		width: 100%;
		font-family: "SF-Semi", serif;
		font-size: 14px;
		white-space: nowrap;
		background-color: $bright-sun;

		span {
			display: inline-block;
			padding-left: 100%;
			animation: header__bottom-news-mobile 20s infinite linear;
		}

		@keyframes header__bottom-news-mobile {
			0% {
				transform: translate(0, 0);
			}

			100% {
				transform: translate(-100%, 0);
			}
		}

		@media only screen and (max-width: 768px) {
			position: relative;
			top: 50px;
			z-index: 1;
			display: block;

			&.hide {
				display: none;
			}
		}

		
	}

	&__bottom-phone-window {
		position: absolute;
		left: 50%;
		display: none;
		margin-left: -48px;
		padding-top: 15px;
		width: 343px;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			display: block;
			border: 10px solid transparent;
			transform: translateX(-50%);
		}

		&::before {
			top: -5px;
			border-bottom: 10px solid $mercury;
		}

		&::after {
			top: -4px;
			border-bottom: 10px solid $white;
		}
	}

	&__bottom-star {
		margin: 0 20px;
		border-right: 1px solid $science-blue;
		border-left: 1px solid $science-blue;
		padding: 0 15px;
	}

	&__bottom-icon {
		fill: $mine-shaft;

		&.icon-phone {
			width: 20px;
			height: 20px;
		}

		&.icon-phone-mobile,
		&.icon-search-mobile,
		&.icon-user-mobile {
			width: 22px;
			height: 22px;
			fill: $emperor;

			// @media only screen and (max-width: 855px) {
			// 	width: 32px;
			// 	height: 32px;
			// }

			// @media only screen and (max-width: 500px) {
			// 	width: 24px;
			// 	height: 24px;
			// }
		}

		&.icon-user-mobile {
			margin-right: 0;
		}

		&.icon-down,
		&.icon-down-acc {
			width: 14px;
			height: 8px;
		}

		&.icon-down {
			fill: $science-blue;
		}

		&.icon-down-acc {
			fill: $mine-shaft;
		}

		&.icon-star {
			width: 21px;
			height: 20px;
			fill: $white;
			stroke: $science-blue;
			cursor: pointer;
		}

		&.icon-star:hover {
			fill: $science-blue;
		}

		&.icon-contact-phone,
		&.icon-contact-email {
			width: 30px;
			height: 30px;
			fill: $science-blue;
		}
	}

	&__account {
		position: relative;
		font-family: "SF-Bold", serif;
	}

	&__account:hover {
		.header__account-sign {
			display: block;
		}
	}

	&__account-reg {
		font-size: 12px;
	}

	&__account-reg-link {
		color: $mine-shaft;
	}

	&__account-reg-link:hover {
		text-decoration: underline;
	}

	&__account-enter {
		display: flex;
		align-items: center;
		font-size: 14px;

		p {
			padding-right: 10px;
		}
	}

	&__account-sign {
		position: absolute;
		right: -8px;
		display: none;
		padding-top: 15px;
		width: 216px;
		font-family: "SF-Reg", serif;
		font-size: 15px;
		letter-spacing: 0.3px;

		.wrapper {
			border: 1px solid $mercury;
			border-bottom-right-radius: 4px;
			padding: 4px 14px;
			background-color: $white;
		}

		.user-links {
			a {
				display: block;
				padding: 10px 0;
				text-align: left;
				color: $mine-shaft;
				cursor: pointer;
			}
		}

		.sign-in-block {
			margin-top: 10px;
		}

		.btn-sign-in {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;
			border: 0;
			border-radius: 3px;
			width: 100%;
			height: 40px;
			font-family: "SF-Bold", serif;
			text-decoration: none;
			color: $white;
			background: $science-blue;
			transition: all ease 0.3s;
			cursor: pointer;
		}

		.btn-sign-in:hover {
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
		}

		.user-registration {
			margin-top: 0;
			margin-bottom: 40px;
			line-height: 20px;
			text-align: center;

			a {
				border-bottom: 1px solid $mine-shaft;
				color: $mine-shaft;
			}
		}
	}

	&__account-sign::before,
	&__account-sign::after {
		content: "";
		position: absolute;
		right: 5px;
		display: block;
		border: 10px solid transparent;
	}

	&__account-sign::before {
		top: -5px;
		border-bottom: 10px solid $mercury;
	}

	&__account-sign::after {
		top: -4px;
		border-bottom: 10px solid $white;
	}

	&__account-sign-mobile {
		position: fixed;
		right: 0;
		top: 59px;
		z-index: 10;
		border-left: 1px solid $alto;
		width: 216px;
		height: 100vh;
		box-shadow: -3px 0 5px 0 $alto;
		font-family: "SF-Reg", serif;
		font-size: 15px;
		letter-spacing: 0.3px;
		background-color: $white;
		transform: translateX(100vw);
		transition: all 0.3s;

		.wrapper {
			padding: 4px 14px;
		}

		.user-links {
			a {
				display: block;
				padding: 10px 0;
				text-align: left;
				color: $mine-shaft;
				cursor: pointer;
			}
		}

		.sign-in-block {
			margin-top: 10px;
		}

		.btn-sign-in {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;
			border: 0;
			border-radius: 3px;
			width: 100%;
			height: 40px;
			font-family: "SF-Bold", serif;
			text-decoration: none;
			color: $white;
			background: $science-blue;
			transition: all ease 0.3s;
			cursor: pointer;
		}

		.btn-sign-in:hover {
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
		}

		.user-registration {
			margin-top: 0;
			margin-bottom: 40px;
			line-height: 20px;
			text-align: center;

			a {
				border-bottom: 1px solid $mine-shaft;
				color: $mine-shaft;
			}
		}

		@media only screen and (max-width: 768px) {
			top: 45px;
		}
	}

	&__account-mobile-open {
		transform: translateX(0);
	}
}

.contact-phone {
	margin: 0;
	border: 1px solid $mercury;
	border-radius: 4px;
	padding: 32px 20px;
	font-family: "SF-Reg", serif;
	font-size: 14px;
	letter-spacing: 0.28px;
	white-space: nowrap;
	background-color: $white;

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		.image {
			margin-right: 20px;
			width: 30px;
			height: 30px;
		}

		a {
			color: $mine-shaft;
		}

		a,
		span {
			font-family: "SF-Bold", serif;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
