.noUi-horizontal {
	height: 6px;

	.noUi-handle {
		right: -8px;
		width: 16px;
		height: 16px;
	}

	.noUi-tooltip {
		bottom: 15px;
		display: none;
		box-shadow: 0 1px 9.5px 0.5px rgba(0, 0, 0, 0.35);
		font-size: 12px;
	}
}

.noUi-target {
	border-radius: 0;
}

.noUi-connects {
	border-radius: 0;
}

.noUi-connect {
	background: $science-blue;
}

.noUi-handle {
	border: 4px solid $science-blue;
	border-radius: 50%;
	box-shadow: none;

	&::before,
	&::after {
		display: none;
	}
}

.noUi-active {
	.noUi-tooltip {
		display: block;
	}
}
