.search-result {
	margin-top: 90px;

	&__body {
		display: flex;
		width: 100%;
	}

	&__wrapper {
		margin-left: 20px;
		border: 1px solid $alto;
		border-radius: 4px;
		padding: 20px 10px;
		background-color: $white;

		.select-box {
			width: 200px;
		}
	}
}

.breadcrumbs {
	display: flex;
	padding: 0 10px;
	font-family: "SF-Med";
	font-size: 14px;
	line-height: 3.429;

	&__back {
		margin-left: 20px;

		a {
			color: $science-blue;
		}
	}

	p {
		margin-right: 5px;
	}
}
