.search-result {
	position: relative;
	margin-top: 87px;

	&__body {
		position: relative;
		display: flex;
		width: 100%;
		margin-top: -10px;
	}

	&__inner {
		width: 100%;

		@media only screen and (max-width: 768px) {
			margin: 0 auto;
			max-width: 530px;
		}
	}

	&__wrapper {
		margin-left: 20px;

		.select-box {
			position: relative;
			width: 200px;

			.options-container {
				position: absolute;
				right: 0;
				top: 42px;
				z-index: 11;
				margin-bottom: 10px;
				border: 1px solid $science-blue;
				border-radius: 4px;
				width: 247px;
				font-family: "SF-Reg";
				font-size: 16px;
				color: $emperor;
			}

			.selected {
				border: 1px solid $dusty-gray;
				border-radius: 4px;
				padding: 8px 10px;
				font-family: "SF-Reg";
				font-size: 14px;
				color: $dusty-gray;

				&::after {
					@media only screen and (max-width: 768px) {
						top: 10px;
						width: 18px;
						height: 18px;
						background-image: url("../img/svg/arrow-up-down.svg");
					}
				}

				.placeholder {
					margin: 0;

					@media only screen and (max-width: 768px) {
						display: none;
					}
				}

				.placeholder-mobile {
					display: none;

					@media only screen and (max-width: 768px) {
						display: block;
						padding-right: 25px;
						text-decoration: underline;
						color: $mine-shaft;
					}
				}

				&:hover {
					border: 1px solid $science-blue;

					@media only screen and (max-width: 768px) {
						border: none;
					}
				}

				@media only screen and (max-width: 768px) {
					outline: none;
					border: none;
					border-radius: 0;
				}
			}

			.option {
				padding: 5px 10px;
			}

			.search__filter-item-placeholder {
				margin-left: 0;
			}

			@media only screen and (max-width: 768px) {
				width: auto;
			}
		}

		@media only screen and (max-width: 992px) {
			margin-left: 0;
		}

		@media only screen and (max-width: 414px) {
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media only screen and (max-width: 768px) {
			border-bottom: 1px solid $silver;
			padding-left: 13px;
		}
	}

	&__total {
		font-family: "SF-Med";
		font-size: 18px;

		span {
			font-family: "SF-Bold";
		}
	}

	&__bottom {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 40px;
		font-family: "SF-Reg";
		font-size: 14px;

		.bottom-body {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			&__filter {
				display: flex;
			}
		}

		.bottom-body-tag {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-left: 5px;
			width: 100%;
		}

		.tags-inner {
			display: flex;
			flex-wrap: wrap;
		}

		.bottom-filter {
			display: none;
			align-items: center;
			margin-left: 10px;
			border: 1px solid $alto;
			padding: 5px;
			color: $science-blue;
			cursor: pointer;

			@media only screen and (max-width: 992px) {
				display: flex;
				font-family: "SF-Bold";
				font-size: 16px;
			}

			@media only screen and (max-width: 768px) {
				// border: 0;
				// border-right: 1px solid $alto;
				// border-left: 1px solid $alto;
				margin-top: -1px;
				font-family: "SF-Reg";
				font-size: 12px;
			}
		}

		.bottom-filter-icon {
			margin-left: 5px;
			width: 15px;
			height: 15px;
			fill: $science-blue;
		}

		.delete-filters {
			display: flex;
			align-items: center;
			text-decoration: underline;
			color: $mine-shaft;

			svg {
				margin-left: 5px;
			}
		}

		@media only screen and (max-width: 768px) {
			margin: 0;
			font-size: 12px;
			line-height: 20px;
		}

		@media only screen and (max-width: 414px) {
			padding: 0;
		}
	}

	&__tag {
		margin-right: 10px;
		border: 1px solid $dusty-gray;
		border-radius: 4px;
		padding: 8px 10px;
		color: $mine-shaft;

		svg {
			margin-left: 20px;
		}

		@media only screen and (max-width: 768px) {
			padding: 0 10px;

			svg {
				position: relative;
				top: 2px;
				margin-left: 10px;
			}
		}
	}

	&__text {
		display: none;

		@media only screen and (max-width: 768px) {
			display: block;
			margin-top: -1px;
			border-top: 1px solid $alto;
			padding: 5px 0 5px 10px;
			width: 100%;
			font-family: "SF-Bold";
			color: $science-blue;
		}
	}

	@media only screen and (max-width: 1200px) {
		margin-top: 60px;
	}
}

.breadcrumbs {
	display: flex;
	padding: 0 10px;
	font-family: "SF-Med";
	font-size: 14px;
	line-height: 3.429;

	&__back {
		margin-left: 20px;

		a {
			color: $science-blue;
		}
	}

	p {
		margin-right: 5px;
	}

	@media only screen and (max-width: 768px) {
		display: none;
	}
}
