.search {
	position: absolute;
	top: 122px; // was 150
	width: 315px;

	&__filters {
		position: relative;
		z-index: 10;
		border-radius: 5px 5px 0 0;
		padding: 20px 15px;
		width: 100%;
		background-color: rgba($alabaster, 0.9);

		@media only screen and (max-width: 1244px) {
			background-color: $white;
		}
	}

	&__girl {
		position: absolute;
		right: -115px;
		top: 30px;
		z-index: 5;
		width: 128px;
		height: 242px;

		@media only screen and (max-width: 992px) {
			display: none;
		}
	}

	&__title {
		border-radius: 5px 5px 0 0;
		padding: 12px 0;
		font-family: "SF-Semi";
		font-size: 18px;
		letter-spacing: 0.36px;
		text-align: center;
		color: $white;
		background-color: $dove-gray;
	}

	&__filter-item {
		margin-bottom: 10px;
		border: 1px solid $silver;
		width: 100%;
		height: 46px;
		font-family: "SF-Med", serif;
		font-size: 15px;
		letter-spacing: 0.3px;
		color: $nobel;
		background-color: $white;

		&.mr10 {
			margin-right: 10px;
		}

		&.disable {
			display: none;
		}
	}

	&__filter-placeholder {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__filter-item-icon {
		width: 15px;
		height: 15px;
		fill: $nobel;

		&.icon-arrow-down {
			position: absolute;
			right: 25px;
			width: 9px;
			height: 5px;
		}

		&.icon-btn-search {
			margin-right: 22px;
			fill: $white;
		}
	}

	&__filter-row {
		display: flex;
		margin-bottom: 50px;
	}

	&__filter-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		padding: 15px 25px;
		width: 100%;
		font-family: "SF-Med", serif;
		font-size: 15px;
		letter-spacing: 0.3px;
		color: $white;
		background-color: $science-blue;
		transition: 0.2s ease-out;

		&:hover {
			text-decoration: none;
			color: $white;
			background-color: $pistacio;
			transition: 0.2s ease-out;
		}
	}

	&__filter-adv {
		margin-top: 10px;
		width: 100%;
		font-family: "SF-Med", serif;
		font-size: 12px;
		text-align: center;
		color: $science-blue;

		a:visited {
			color: $science-blue;
		}
	}

	&__filter-adv-link {
		border-bottom: 1px solid $science-blue;
		padding-bottom: 2px;
	}

	@media only screen and (max-width: 1244px) {
		left: 50%;
		top: auto;
		bottom: 0;
		width: 600px;
		transform: translateY(110%) translateX(-50%);
	}

	@media only screen and (max-width: 600px) {
		width: 500px;
	}

	@media only screen and (max-width: 500px) {
		width: 400px;
	}

	@media only screen and (max-width: 400px) {
		width: 100%;
	}
}


