// * ============= COLORS ================ * //
$science-blue: #005ccb;
$link-water: #d9e7f7;
$thunderbird: #da231a;
$bright-sun: #ffd337;
$green: #00b800;
$pistacio: #93d500;
$boulder: #797979;
$mine-shaft: #333;
$trout: #525861;
$emperor: #515151;
$dusty-gray: #9c9c9c;
$silver: #cdcdcd;
$dove-gray: #6b6b6b;
$mercury: #e6e6e6;
$bitocelli: #dae3ee;
$white: #fff;
$nobel: #b4b4b4;
$alabaster: #f8f8f8;
$alto: #d7d7d7;

// * колір салону
$black: #000;
$gray: #808080;
$indian-tan: #4c2701;
$brown: #964b00;
$beige: #f5f5dc;

// * колір авто
$blue: #00f;
