header {
	&.site-header {
		&.header-float {
			&:not(.on) {
				background-color: #E0DFF0 !important;

			}
		}

		.header-button-01 {
			a {
				&.sala-button {
					@media (max-width: 479px) {
						padding-left: 10px!important;
						padding-right: 10px!important;
					}

					&:hover {
						background-color: #DE7033;
					}
				}
			}
		}

	}
	
}

.header-button-01 {
	.sala-button {
		@media (max-width: 479px) {
			font-size: inherit;
			width: auto;
			height: auto;
			
		}
	}

	
}
