.sala-dark-theme {
	color: #bab7db;
	background-color: #050237;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.heading-font,
	strong,
	b {
		color: #bab7db;
	}

	a {
		color: #ecebff;

		&:hover {
			color: #f68343;
		}
	}

	header.site-header.header-float:not(.on) {
		background: #050237 !important;
	}

	.icon-menu {
		svg {
			g[fill="#111111"] {
				fill: #ecebff;
			}
		}
	}

	.site-main-logo {
		.svg-logo-rect {
			stroke-width: 1px;
			stroke: rgba(255, 255, 255, 0.2);
		}
		.svg-logo-title {
			path {
				fill: #ecebff;
			}
		}
	}

	.area-menu {
		.inner-menu {
			background: #050237;
		}

		.btn-close {
			color: #fff;
		}

		.menu {
			li {
				a {
					color: #fff;
				}
			}
		}
	}

	.canvas-menu .entry-bottom > a {
		color: #fff;
	}

	.main-menu.desktop-menu .menu > li > a {
		color: #ecebff;

		&:hover {
			color: #f68343;
		}
	}

	.post-categories {
		li {
			a {
				color: #bab7db;

				&:hover {
					color: #f68343;
				}
			}
		}
	}

	.post-title {
		.entry-title {
			color: #ecebff;
		}
	}

	.post-author {
		.head-author {
			span {
				color: #bab7db;
			}
		}

		.entry-bio {
			color: #bab7db;
		}

		.entry-avatar {
			img {
				border: 1px solid rgba(186, 183, 219, 0.2);
			}
		}
	}

	.post-author-reviews-avatar-group {
		.post-author {
			.entry-avatar {
				
				img {
					border: 3px solid #050237;
					
				}
			}
		}
	}

	.expert-review {
		background: #191553;
		color: #ecebff;
	}

	.expert-review-expert-bio-name {
		color: #ecebff;
	}

	.post-adv {
		background: #353078 url("../img/adv-bg-dark.png");

		&-btn {
			a {
				background: #ecebff;
				color: #050237;

				&:hover {
					color: #fff;
					background: #de7033;
				}
			}
		}
	}

	.popover {
		background-color: #353078;

		&-title {
			color: #ecebff;
		}

		&-text {
			color: #bab7db;
		}

		&-link {
			svg {
				path {
					fill: #ecebff;
				}
			}

			&:hover {
				svg {
					path {
						fill: #f68343;
					}
				}
			}
		}

		.fancybox-close-small {
			svg {
				path {
					fill: #ecebff;
				}
			}
		}
	}
}
