.input-range {
  position: relative;
  direction: ltr !important;
}
.input-range-values {
  position: absolute;
  top: calc(100% + 0.75em);
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "rubik-light";
  font-size: 1rem;
  color: #A4A4A4;
}
.input-range .rangeslider {
  color: #F0F0F0;
  border-radius: 0.25em;
  height: 0.25em;
  box-shadow: none;
}
.input-range .rangeslider__fill {
  background-color: transparent;
  border-radius: 0.25em 0 0 0.25em;
  overflow: hidden;
}
.input-range .rangeslider__fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 0;
}
.input-range .rangeslider__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 63, 69, 0.26);
}
.input-range .rangeslider__handle {
  background: linear-gradient(130.67deg, #986FE2 0.1%, #6924E8 43.97%, #A07CE1 100%);
  border: 0;
  width: 1.375em;
  height: 1.375em;
  box-shadow: none;
}
@media (max-width: 767px) {
  .input-range .rangeslider__handle {
    width: 1.25em;
    height: 1.25em;
  }
}
.input-range .rangeslider__handle:hover .input-range-tooltip {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.input-range .rangeslider__handle::after {
  display: none;
}
.input-range-tooltip {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease-in-out;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  padding: 0.3333333333em 0.75em;
  min-width: 2.9166666667em;
  border: 1px solid #00a661;
  font-family: "rubik-reg", sans-serif;
  font-size: 0.75em;
  line-height: 1;
  color: #3c3f45;
  border: 1px solid #00A661;
  background-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(56, 59, 64, 0.16);
  border-radius: 0.5em;
  transform: translateX(-50%);
  text-align: center;
}
.input-range-tooltip::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #00a661 transparent transparent transparent;
}
.input-range-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5.5px 0 5.5px;
  border-color: #ffffff transparent transparent transparent;
}
.input-range-tooltip.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.input-checkbox {
  position: relative;
  display: inline-flex;
  gap: 0 8px;
  align-items: center;
  cursor: pointer;
}
.input-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.input-checkbox-checkmark {
  position: relative;
  display: inline-block;
  height: 1.125em;
  width: 1.125em;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #3c3f45;
}
.input-checkbox--square .input-checkbox-checkmark {
  border-radius: 0;
}
.input-checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1.125em;
  width: 1.125em;
  border-radius: 50%;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAIAAADZrBkAAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAEqADAAQAAAABAAAAEgAAAACaqbJVAAABBklEQVQoFWPc+PBs1rmlT7+/ZyAOSHMKTjOKZpReX0S8HojJQJ1MpOoB6gRqYSLOaeiqaKlNX0BWT0AG2UbCtkXImZ1xr9tmX4isjQWZg8mOVbCcb57MzMQ07fY+ZFkU21gZmdfb5lRpeUNUJCnZLLAA6am9tK7t2lZkbSi28bFyeEjqBsgYSXDwX/v0bJpJLCMjY/mF1V3XtyPrAbIZGZYlIgt5S+mttclmZ2aFCBadW9F/cxeyAggbxZFAoa3PLvkdmvT9z6/////nnFmCVQ9QGbptEMOcxDWUuEXn3DsM4WKS2LVhqkMTQXckmjQuLrnagLkAl5G4xEEZB5jnSNIJVAzUAgCBs0mxGs9NewAAAABJRU5ErkJggg==");
}
.input-checkbox--square .input-checkbox-checkmark:after {
  border-radius: 0;
  height: 1.125em;
  width: 1.125em;
}
input:checked ~ .input-checkbox-checkmark {
  border-color: #00a661;
}
input:checked ~ .input-checkbox-checkmark:after {
  display: block;
}
input:checked ~ .input-checkbox-label {
  font-family: "rubik-bold";
}
.input-checkbox--disabled {
  pointer-events: none;
}
.input-checkbox--square .input-checkbox-label {
  font-family: "rubik-bold";
  font-size: 1.25em;
}
.branch-item__row .input-checkbox--square .input-checkbox-label {
  font-family: "rubik-reg";
  font-size: 1em;
}

.calculator-block {
  position: relative;
  padding: 6.875em 0 6.25em;
}
@media (max-width: 767px) {
  .calculator-block {
    padding: 1.5625em 0 6.25em;
  }
}
.calculator-block .main-container {
  max-width: 1733px;
}
.calculator-block-oval {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  transform: translateY(-50%);
  z-index: -1;
}
html[dir=ltr] .calculator-block-oval {
  transform: scaleX(-1) translateY(-50%);
}

@media (max-width: 991px) {
  .calculator-block-oval {
    transform: translateY(0);
  }
  html[dir=ltr] .calculator-block-oval {
    transform: scaleX(-1) translateY(0);
  }
}
@media (max-width: 767px) {
  .calculator-block-oval {
    display: none;
  }
}
.calculator-block-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .calculator-block-container {
    flex-wrap: wrap;
  }
}
.calculator-block-start {
  width: 20%;
}
@media (max-width: 991px) {
  .calculator-block-start {
    margin-bottom: 4.25em;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .calculator-block-start {
    text-align: inherit;
  }
}
.calculator-block-icon {
  margin-bottom: 0.75em;
  width: 7.125em;
  height: auto;
}
@media (max-width: 767px) {
  .calculator-block-icon {
    display: none;
  }
}
.calculator-block .typical-header {
  margin-bottom: 0.36em;
  text-align: inherit;
}
@media (max-width: 767px) {
  .calculator-block .typical-header {
    margin-bottom: 0.4em;
  }
}
.calculator-block .typical-header span {
  color: #3c3f45;
}
.calculator-block-subheader {
  font: 1.25em/1.4 "rubik-reg", sans-serif;
  margin: 0;
}
@media (max-width: 767px) {
  .calculator-block-subheader {
    font-size: 1rem;
  }
}
.calculator-block-mid {
  width: 45%;
  position: relative;
}
.calculator-block-mid canvas {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  z-index: 0;
}
.calculator-block-mid canvas.back-img {
  filter: blur(0.5em);
  z-index: -1;
}
@media screen and (max-width: 1280px) {
  .calculator-block-mid {
    width: 42%;
  }
}
@media (max-width: 991px) {
  .calculator-block-mid {
    width: 65%;
  }
}
@media (max-width: 767px) {
  .calculator-block-mid {
    margin-bottom: 2.5em;
    width: 100%;
  }
}
.calculator-block-form {
  position: relative;
  padding: 3.5em 2.75em;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .calculator-block-form {
    padding: 3.375em 1.9375em 5.0625em;
  }
}
.calculator-block-field-top {
  position: absolute;
  display: flex;
  bottom: calc(100% + 0.625em);
  font-family: "rubik-reg", sans-serif;
  font-size: 1.25em;
}
@media (max-width: 767px) {
  .calculator-block-field-top {
    bottom: calc(100% + 0.75em);
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .calculator-block-field-top > span {
    display: none;
  }
}
.calculator-block-field-top .input-checkbox {
  margin-inline-start: 1em;
}
.calculator-block-field-top .input-checkbox:focus-within {
  outline: 1px dashed #00a661;
  outline-offset: 1px;
}
@media (max-width: 767px) {
  .calculator-block-field-top .input-checkbox {
    margin-inline-start: 0;
    margin-inline-end: 1.25em;
    font-size: 1rem;
  }
}
.calculator-block-field-top .input-checkbox-checkmark {
  width: 0.9em;
  height: 0.9em;
}
@media (max-width: 767px) {
  .calculator-block-field-top .input-checkbox-checkmark {
    width: 1em;
    height: 1em;
  }
}
.calculator-block-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.calculator-block-field:nth-child(n+2) {
  margin-top: 3.4375em;
}
.calculator-block-input {
  width: 43%;
}
@media (max-width: 767px) {
  .calculator-block-input {
    width: 100%;
  }
}
.calculator-block-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 52%;
}
@media (max-width: 767px) {
  .calculator-block-desc {
    margin-bottom: 2.5625em;
    width: 100%;
  }
}
.calculator-block-value {
  width: 50%;
  direction: ltr !important;
  color: #00a661;
  text-align: right;
  white-space: nowrap;
}
html[dir=ltr] .calculator-block-value {
  text-align: left;
}

@media (max-width: 767px) {
  .calculator-block-value {
    text-align: left;
  }
}
.calculator-block-num {
  font-family: "rubik-medium";
  font-size: 2.25em;
  line-height: 1;
}
@media (max-width: 767px) {
  .calculator-block-num {
    font-size: 2em;
  }
}
.calculator-block-unit {
  font-size: 1.5em;
}
.calculator-block-name {
  padding-inline-end: 0.625em;
  width: 50%;
  font-family: "rubik-reg", sans-serif;
  font-size: 1.125em;
  line-height: 1;
}
@media (max-width: 767px) {
  .calculator-block-name {
    font-size: 1em;
  }
}
.calculator-block-end {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline-end: 93px;
  padding: 0.625em 3.125em 0.625em 4em;
  width: 24.2%;
}
html[dir=ltr] .calculator-block-end {
  padding: 0.625em 4em 0.625em 3.125em;
}

@media (max-width: 991px) {
  .calculator-block-end {
    padding: 3.875em 3.125em 3.875em !important;
    margin-inline-end: 0;
    width: 32%;
  }
}
@media (max-width: 767px) {
  .calculator-block-end {
    padding: 1.9375em 2.1875em 4.25em !important;
    width: 100%;
  }
}
.calculator-block-end > div {
  position: relative;
  z-index: 1;
}
.calculator-block-end canvas {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  z-index: 0;
}
.calculator-block-end canvas.back-img {
  z-index: -1;
  filter: blur(0.5em);
}
.calculator-block-suptitle {
  position: relative;
  margin-bottom: 0.8333333333em;
  font: 1.5em/1.3333333333 "rubik-bold";
  white-space: nowrap;
}
@media (max-width: 767px) {
  .calculator-block-suptitle {
    margin-bottom: 0.5em;
    font: 1.25em/1.6 "rubik-bold";
  }
}
.calculator-block-price {
  position: relative;
  margin-bottom: 0.78125em;
  font: 4em/1 "rubik-bold";
  color: #00a661;
  direction: ltr !important;
}
html[dir=ltr] .calculator-block-price {
  text-align: center;
}

@media (max-width: 767px) {
  .calculator-block-price {
    margin-bottom: 0.3888888889em;
    font-size: 3.375em;
  }
}
.calculator-block-price > span {
  position: absolute;
  right: calc(100% + 0.4375em);
  bottom: 3px;
  font-size: 0.5em;
}
html[dir=ltr] .calculator-block-price > span {
  position: static;
}

@media (max-width: 767px) {
  .calculator-block-price > span {
    font-size: 0.6em;
  }
}
.calculator-block-list {
  position: relative;
  margin-bottom: 1.875em;
  padding: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .calculator-block-list {
    margin-bottom: 2.0625em;
  }
}
.calculator-block-list li {
  display: flex;
  justify-content: space-between;
  font-family: "rubik-reg", sans-serif;
  font-size: 1.125em;
}
@media (max-width: 767px) {
  .calculator-block-list li {
    font-size: 1em;
  }
}
.calculator-block-list li:nth-child(n+2) {
  margin-top: 1.1111111111em;
}
@media (max-width: 767px) {
  .calculator-block-list li:nth-child(n+2) {
    margin-top: 1.4375em;
  }
}
.calculator-block-list-val {
  direction: ltr !important;
}
.calculator-block-link {
  position: relative;
  font: 1.25em/1.6 "rubik-reg", sans-serif;
  color: #6924e8;
}
@media (max-width: 767px) {
  .calculator-block-link {
    font: 1em/2 "rubik-reg", sans-serif;
  }
}
.calculator-block-link:hover {
  font-family: "rubik-bold";
}
.calculator-block-submit {
  position: absolute;
  top: calc(50% + 0.35em);
  inset-inline-start: calc(100% - 1.25em);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.8em;
  height: 5.8em;
  background: linear-gradient(130.67deg, #986FE2 0.1%, #6924E8 43.97%, #A07CE1 100%);
  border: 0;
  border-radius: 50%;
  font-family: "rubik-reg", sans-serif;
  font-size: 1.25em;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 991px) {
  .calculator-block-submit {
    top: calc(100% - 1.25em);
    inset-inline-start: 50%;
    transform: translate(50%, 0);
    width: 5.35em;
    height: 5.35em;
  }
  html[dir=ltr] .calculator-block-submit {
    transform: translate(-50%, 0);
  }
}
.calculator-block-submit:hover {
  background: linear-gradient(137.08deg, #6A26E8 0.1%, #6924E8 65.07%, #A07CE1 100%);
}