.check-payment-voucher {
  padding: 3.125em 0 5.3125em;
}
.check-payment-voucher .typical-header {
  text-align: unset;
}
.check-payment-voucher .msg {
  font: 1.25em/1.6 "rubik-reg", sans-serif;
  max-width: 35.8em;
  margin-top: 1em;
}
@media screen and (max-width: 767px) {
  .check-payment-voucher .msg {
    font-size: 1em;
    line-height: 1.625;
  }
}
.check-payment-voucher .form-inputs-image {
  margin-top: 8.3125em;
  width: 100%;
}
.check-payment-voucher .form-inputs-image img {
  max-width: 59.375em;
  width: 100%;
}
@media (max-width: 991.98px) {
  .check-payment-voucher .form-inputs-image {
    margin-top: 3.3125em;
  }
}
@media (max-width: 575.98px) {
  .check-payment-voucher .form-inputs-image .main-container {
    padding: 0;
  }
}
.check-payment-voucher .forms-footer {
  margin-top: 3.125em;
  font: 1em/2 "rubik-reg", sans-serif;
}
.check-payment-voucher .forms-footer p {
  margin: 0;
}
@media (max-width: 767px) {
  .check-payment-voucher .forms-footer {
    margin-top: 2.8333333333em;
    font: 0.75em/1.6666666667 "rubik-reg", sans-serif;
  }
}
@media (max-width: 767px) {
  .check-payment-voucher {
    padding: 3.125em 0;
  }
}

.checking-form {
  max-width: 59.375em;
}
.checking-form .checking-form-body {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  margin-top: 3.375em;
  gap: 4.875em;
}
.checking-form .checking-form-body .typical-btn-bigger {
  margin-inline-start: auto;
}
.checking-form .checking-form-body .typical-btn-bigger[disabled] {
  background: rgba(60, 63, 69, 0.2);
  pointer-events: none;
  box-shadow: none;
  color: #706c6c;
}
.checking-form .checking-form-body .typical-btn-bigger:focus-visible {
  opacity: 1;
}
@media (max-width: 991.98px) {
  .checking-form .checking-form-body .typical-btn-bigger {
    margin-inline-start: unset;
  }
}
@media (max-width: 767px) {
  .checking-form .checking-form-body .typical-btn-bigger {
    margin-top: 1.875em;
    align-self: center;
  }
}
.checking-form .checking-form-body .form-group-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  gap: 0.5em;
}
html[dir=ltr] .checking-form .checking-form-body .form-group-wrapper {
  flex-flow: row;
}

.checking-form .checking-form-body .form-group {
  padding-bottom: 2.8125em;
}
.checking-form .checking-form-body .from-inputs-divider {
  width: 1.25em;
  height: 1.25em;
}
@media (max-width: 374px) {
  .checking-form .checking-form-body .from-inputs-divider {
    width: 1.125em;
    height: 1.125em;
  }
}
.checking-form .checking-form-body .form-inputs {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  gap: 0.5em;
}
.checking-form .checking-form-body .form-inputs input {
  padding-bottom: 0.25em;
  border: none;
  outline: none;
  border-bottom: 2px solid #00a661;
  font: 1.25em/1.2 "rubik-reg", sans-serif;
  width: 0.9em;
  -moz-appearance: textfield;
  text-align: center;
  background: transparent;
}
.checking-form .checking-form-body .form-inputs input[disabled] {
  border-bottom: 2px solid #d8d8d8;
  background: transparent;
}
.checking-form .checking-form-body .form-inputs input::-webkit-outer-spin-button, .checking-form .checking-form-body .form-inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 374px) {
  .checking-form .checking-form-body .form-inputs {
    gap: 0.25em;
  }
}
html[dir=ltr] .checking-form .checking-form-body .form-inputs {
  flex-flow: row;
}

.checking-form .checking-form-body .form-group-title {
  margin-bottom: 0.4285714286em;
  font: 0.875em/1.7142857143 "rubik-medium", sans-serif;
}
.checking-form .checking-form-body .form-inputs-label {
  position: absolute;
  left: 50%;
  top: calc(100% + 0.7142857143em);
  width: calc(100% + 1.4285714286em);
  font: 0.875em/1.4285714286 "rubik-reg", sans-serif;
  transform: translateX(-50%);
  text-align: center;
}
@media (max-width: 767px) {
  .checking-form .checking-form-body {
    flex-flow: column;
    align-items: flex-start;
    margin-top: 1.5em;
    gap: 1.875em;
  }
}