@charset "UTF-8";
.contact-form #cf-canvas, .contact-form #cf-shadow-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.input-with-autocomplete .autoComplete_wrapper {
  width: 100%;
}
.input-with-autocomplete .autoComplete_wrapper > ul {
  box-shadow: 0 0 4px 0 rgba(60, 63, 69, 0.27);
  padding: 0.375em 0;
  margin-top: 0.625em;
  overflow-y: auto;
  height: 175px;
  scrollbar-color: rgba(60, 63, 69, 0.2) #fff;
  scrollbar-width: thin;
}
.input-with-autocomplete .autoComplete_wrapper > ul::-webkit-scrollbar {
  width: 0.5rem;
  cursor: pointer;
}
.input-with-autocomplete .autoComplete_wrapper > ul::-webkit-scrollbar-thumb {
  width: 8px;
  margin: 10px 0;
  border-radius: 5px;
  background: rgba(60, 63, 69, 0.2);
}
.input-with-autocomplete .autoComplete_wrapper > ul::-webkit-scrollbar-track {
  background: #fff;
  margin: 10px 0;
}
.input-with-autocomplete .autoComplete_wrapper > ul li {
  font: 1.125em/1.5 "rubik-reg", sans-serif;
  color: #000;
  text-align: initial;
  padding: 0.0555555556em 0.8333333333em;
  margin: 0.1666666667em 0;
  border-radius: 0;
  border: none;
}
.input-with-autocomplete .autoComplete_wrapper > ul li mark {
  font-weight: 400;
  font-family: "rubik-bold";
  color: inherit;
}
.input-with-autocomplete .autoComplete_wrapper > ul li:hover, .input-with-autocomplete .autoComplete_wrapper > ul li[aria-selected=true] {
  background-color: #F0F0F0;
}
.input-with-autocomplete .autoComplete_wrapper > ul li:first-child {
  margin-top: 0;
}
.input-with-autocomplete .autoComplete_wrapper > ul li:last-child {
  margin-bottom: 0;
}
.input-with-autocomplete .autoComplete_wrapper::after {
  content: "";
  position: absolute;
  inset-inline-end: 0.75em;
  top: 0.8125em;
  width: 1.1875em;
  height: 0.6875em;
  background: url("../../img/autocomplete-select-arr.svg") center/cover no-repeat;
  z-index: 1;
  transition: transform 0.2s;
}
@media screen and (max-width: 767px) {
  .input-with-autocomplete .autoComplete_wrapper::after {
    width: 16px;
    background-size: contain;
  }
}
.input-with-autocomplete .autoComplete_wrapper[aria-expanded=true]::after {
  transform: rotate(180deg);
}
.input-with-autocomplete .label-autocomplete {
  position: absolute;
  z-index: 1;
  inset-inline-start: 0;
  top: 0.25em;
  display: none;
}
@media screen and (max-width: 767px) {
  .input-with-autocomplete .label-autocomplete {
    top: 0.5625em;
  }
}
.input-with-autocomplete .label-autocomplete span {
  font: 1.25em/1 "rubik-reg", sans-serif;
  color: #000;
}
@media screen and (max-width: 767px) {
  .input-with-autocomplete .label-autocomplete span {
    font-size: 1em;
  }
}
.input-with-autocomplete .label-autocomplete .glass {
  margin-top: 0.375em;
  margin-inline-end: 0.4375em;
  width: 1.0625em;
}
html[dir=ltr] .input-with-autocomplete .label-autocomplete .glass {
  margin-inline-end: 0.3125em;
}

@media screen and (max-width: 767px) {
  .input-with-autocomplete .label-autocomplete .glass {
    width: 0.9375em;
    margin-top: 0.25em;
  }
}
.input-with-autocomplete.empty-input .label-autocomplete {
  display: flex;
}
.input-with-autocomplete .autocomplete-input {
  font: 1.25em/1.2 "rubik-reg", sans-serif;
  width: 100%;
  color: #000 !important;
  padding: 0 0 11px 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  outline: none;
  height: auto;
  background-image: none;
}
.input-with-autocomplete .autocomplete-input::selection {
  background-color: #F0F0F0 !important;
}
.input-with-autocomplete .autocomplete-input:focus {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  outline: none;
}
.input-with-autocomplete .autocomplete-input::-webkit-input-placeholder {
  font: 1em/1.2 "rubik-reg", sans-serif !important;
  color: #000 !important;
  opacity: 1;
}
.input-with-autocomplete .autocomplete-input:-moz-placeholder {
  /* Firefox 18- */
  font: 1em/1.2 "rubik-reg", sans-serif !important;
  color: #000 !important;
  opacity: 1;
}
.input-with-autocomplete .autocomplete-input::-moz-placeholder {
  /* Firefox 19+ */
  font: 1em/1.2 "rubik-reg", sans-serif !important;
  color: #000 !important;
  opacity: 1;
}
.input-with-autocomplete .autocomplete-input:-ms-input-placeholder {
  font: 1em/1.2 "rubik-reg", sans-serif !important;
  color: #000 !important;
  opacity: 1;
}
.input-with-autocomplete .error-msg, .input-with-autocomplete .success-msg {
  font: 1em/1.5 "rubik-reg", sans-serif;
  position: absolute;
  padding-inline-start: 1.5em;
  white-space: nowrap;
  inset-inline-start: 0;
  bottom: -1.625em;
  display: none;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .input-with-autocomplete .error-msg, .input-with-autocomplete .success-msg {
    font-size: 0.875em;
    bottom: -1.4285714286em;
  }
}
.input-with-autocomplete .error-msg::before, .input-with-autocomplete .success-msg::before {
  position: absolute;
  inset-inline-start: 0;
  font: 0.625em/1.8 "rubik-reg", sans-serif;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}
.input-with-autocomplete .error-msg::before {
  content: "✕";
  background-color: #D40511;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-with-autocomplete .success-msg::before {
  content: "";
  background: url("../img/validation-passed-icon.svg") center/cover no-repeat;
}
.input-with-autocomplete.success .success-msg {
  display: flex;
}
.input-with-autocomplete.error .error-msg {
  display: flex;
}
.input-with-autocomplete.error .input {
  border-color: #D40511;
}
.input-with-autocomplete.error .input-label {
  color: #D40511;
}

.contact-form-section {
  position: relative;
  padding: 5.3125em 0 min( 14.125em, 11.7708333333% );
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .contact-form-section {
    padding: 2.625em 0 2.1875em;
  }
}
.contact-form-section .cf-cloud {
  position: absolute;
  inset-inline-start: -4.75em;
  top: 3.8125em;
  width: 35.75em;
}
html[dir=ltr] .contact-form-section .cf-cloud {
  transform: scaleX(-1);
}

@media screen and (max-width: 767px) {
  .contact-form-section .cf-cloud {
    display: none;
  }
}
.contact-form-section .cf-oval {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
}
@media screen and (max-width: 767px) {
  .contact-form-section .cf-oval {
    display: none;
  }
}
.contact-form-section .main-container {
  position: relative;
  z-index: 1;
}

.contact-form {
  padding: 5.625em 8.125em 6.375em;
  border-radius: 0.8125em;
  color: #000;
  position: relative;
  margin: 5.4375em -1.25em;
}
@media screen and (max-width: 767px) {
  .contact-form {
    padding: 5em 2.8125em 4.25em;
    margin: 2.4375em 0 2.8125em;
  }
}
.contact-form .submit-contact-form {
  position: absolute;
  left: 50%;
  bottom: -1.15em;
  width: 12.5em;
  transform: translateX(-50%);
}
@media screen and (max-width: 1050px) {
  .contact-form .submit-contact-form {
    bottom: -0.9375em;
  }
}
@media screen and (max-width: 767px) {
  .contact-form .submit-contact-form {
    bottom: -0.6875em;
    width: 8.75em;
  }
  .contact-form .submit-contact-form.hide-submit-btn {
    visibility: hidden;
  }
}
.contact-form .cf-icon {
  width: 5.75em;
  height: 5.75em;
  display: block;
  position: absolute;
  inset-inline-end: calc(50% - 2.875em);
  top: -1.625em;
}
@media screen and (max-width: 767px) {
  .contact-form .cf-icon.desktop {
    display: none;
  }
}
.contact-form .cf-icon.mobile {
  display: none;
  transition: transform 0.2s;
}
@media screen and (max-width: 767px) {
  .contact-form .cf-icon.mobile {
    display: block;
    transform: rotate(180deg);
    cursor: pointer;
  }
}
@media screen and (max-width: 767px) {
  .contact-form .cf-icon {
    width: 3.75em;
    height: 3.75em;
    inset-inline-end: calc(50% - 1.875em);
    top: -0.625em;
  }
}
.contact-form #cf-canvas, .contact-form #cf-shadow-canvas {
  z-index: -1;
}
.contact-form #cf-shadow-canvas {
  z-index: -2;
  filter: blur(0.625em);
}
.contact-form .fields-wrap {
  display: flex;
}
@media screen and (max-width: 767px) {
  .contact-form .fields-wrap {
    display: block;
  }
}
.contact-form .group-1, .contact-form .group-2 {
  flex-basis: 39em;
  width: 24.926686217%;
}
@media screen and (max-width: 767px) {
  .contact-form .group-1, .contact-form .group-2 {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .contact-form .group-2 {
    margin-top: 3.5em;
  }
}
.contact-form .flexible-margin {
  flex-grow: 1;
  min-width: 1.5625em;
}
.contact-form .input {
  font: 1.25em/1.2 "rubik-reg", sans-serif;
  display: inline-block;
  width: 100%;
  color: #000;
  padding: 0 0 0.55em 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  outline: none;
}
@media screen and (max-width: 767px) {
  .contact-form .input {
    font-size: 1em;
  }
}
.contact-form .input-label {
  font: 1.25em/1.2 "rubik-reg", sans-serif;
  position: absolute;
  transition: transform 0.3s;
  transform-origin: center right;
}
html[dir=ltr] .contact-form .input-label {
  transform-origin: center left;
}

@media screen and (max-width: 767px) {
  .contact-form .input-label {
    font-size: 1em;
    line-height: 1.5;
  }
}
.contact-form .error-msg, .contact-form .success-msg {
  font: 1em/1.5 "rubik-reg", sans-serif;
  position: absolute;
  padding-inline-start: 1.5em;
  white-space: nowrap;
  inset-inline-start: 0;
  bottom: -1.625em;
  display: none;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .contact-form .error-msg, .contact-form .success-msg {
    font-size: 0.875em;
    bottom: -1.4285714286em;
  }
}
.contact-form .error-msg::before, .contact-form .success-msg::before {
  position: absolute;
  inset-inline-start: 0;
  font: 0.625em/1.8 "rubik-reg", sans-serif;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}
.contact-form .error-msg::before {
  content: "✕";
  background-color: #D40511;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form .success-msg::before {
  content: "";
  background: url("../../img/validation-passed-icon.svg") center/cover no-repeat;
}
.contact-form .field-wrap {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .contact-form .field-wrap {
    margin-bottom: 2.4375em;
  }
}
.contact-form .field-wrap.focus .input-label {
  transform: scale(0.8) translateY(-1.6em);
}
@media screen and (max-width: 767px) {
  .contact-form .field-wrap.focus .input-label {
    transform: scale(0.8) translateY(-1.3125em);
  }
}
.contact-form .field-wrap.success .success-msg {
  display: flex;
}
.contact-form .field-wrap.error .error-msg {
  display: flex;
}
.contact-form .field-wrap.error .input {
  border-color: #D40511;
}
.contact-form .field-wrap.error .input-label {
  color: #D40511;
}
.contact-form .textarea {
  font: 1.25em/1.2 "rubik-reg", sans-serif;
  color: #000;
  border-radius: 0.2em;
  border: 1px solid #000;
  outline: none;
  display: inline-block;
  height: 5.9em;
  border-radius: 0.2em;
  resize: none;
}
@media screen and (max-width: 767px) {
  .contact-form .textarea {
    font-size: 1em;
    height: 9.875em;
    width: 100%;
  }
}
.contact-form .field-row {
  display: flex;
  height: 5.875em;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .contact-form .field-row {
    display: block;
    height: auto;
  }
}
.contact-form .field-row.two-fields .field-wrap {
  width: calc(50% - 0.625em);
}
@media screen and (max-width: 767px) {
  .contact-form .field-row.two-fields .field-wrap {
    width: auto;
  }
}
@media screen and (max-width: 1100px) {
  .contact-form .field-row.two-fields .field-wrap.wrap-custom-field {
    width: calc(60% - 0.625em);
  }
  .contact-form .field-row.two-fields .field-wrap.wrap-custom-field + div {
    width: calc(40% - 0.625em);
  }
}
@media screen and (max-width: 900px) {
  .contact-form .field-row.two-fields .field-wrap.wrap-custom-field {
    width: calc(70% - 0.625em);
  }
  .contact-form .field-row.two-fields .field-wrap.wrap-custom-field + div {
    width: calc(30% - 0.625em);
  }
}
@media screen and (max-width: 767px) {
  .contact-form .field-row.two-fields .field-wrap.wrap-custom-field {
    width: auto;
    margin-top: -0.375em;
    margin-bottom: 0.375em;
  }
  .contact-form .field-row.two-fields .field-wrap.wrap-custom-field + div {
    width: auto;
  }
}
.contact-form.wanted-more-form .field-row {
  height: 4.75em;
}
@media screen and (max-width: 767px) {
  .contact-form.wanted-more-form .field-row {
    height: auto;
  }
}
.contact-form .textarea-wrap {
  height: 12.0625em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
@media screen and (max-width: 767px) {
  .contact-form .textarea-wrap {
    display: block;
    height: auto;
  }
}
.contact-form .textarea-wrap .textarea-note {
  font: 1.25em/1.2 "rubik-reg", sans-serif;
  position: absolute;
  bottom: -1.6em;
  inset-inline-end: 0.55em;
}
@media screen and (max-width: 767px) {
  .contact-form .textarea-wrap .textarea-note {
    font-size: 1em;
    margin-inline-end: -0.375em;
  }
}
.contact-form .textarea-wrap .textarea-label {
  font: 1.25em/1.2 "rubik-reg", sans-serif;
  margin-bottom: 0.65em;
}
@media screen and (max-width: 767px) {
  .contact-form .textarea-wrap .textarea-label {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
    display: inline-block;
  }
}
.contact-form .remark-and-captcha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75em;
}
@media screen and (max-width: 767px) {
  .contact-form .remark-and-captcha {
    display: block;
    margin-top: 3em;
  }
}
.contact-form .remark-and-captcha .captcha {
  max-width: 13em;
  display: block;
}
@media screen and (max-width: 767px) {
  .contact-form .remark-and-captcha .captcha {
    margin: 0 auto;
  }
}
.contact-form .remark-and-captcha .remark {
  font: 0.875rem/1.3571428571 "rubik-reg", sans-serif;
  color: #000;
  letter-spacing: -0.06px;
}
@media screen and (max-width: 767px) {
  .contact-form .remark-and-captcha .remark {
    font-size: 0.875em;
    letter-spacing: -0.06px;
    margin-bottom: 15px;
  }
}
.contact-form .remark-and-captcha .remark a {
  color: inherit;
}
.contact-form .remark-and-captcha .remark a:focus-visible {
  outline: 1px dashed #00a661;
  outline-offset: 1px;
}
.contact-form .mobile-collapsed-msg {
  font: 400 1.75em/1.4285714286 "rubik-reg", sans-serif;
  display: none;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .contact-form .mobile-collapsed-msg {
    display: none !important;
  }
}
.contact-form .form-inner {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .contact-form .form-inner {
    height: auto !important;
  }
}
.contact-form.collapsed {
  padding-bottom: 2.25em !important;
}
.contact-form.collapsed .mobile-collapsed-msg {
  display: block;
}
.contact-form.collapsed .cf-icon.mobile {
  transform: rotate(0);
}
.contact-form.collapsing .form-inner {
  transition: height 0.7s;
}
.contact-form.collapsing .mobile-collapsed-msg {
  visibility: hidden;
}

.wrap-custom-field {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}
.wrap-custom-field .custom-input-label {
  font: 1.25em/1.2 "rubik-reg", sans-serif;
  margin-inline-end: 1em;
}
@media screen and (max-width: 767px) {
  .wrap-custom-field .custom-input-label {
    font-size: 1em;
    line-height: 1.5;
  }
}
.wrap-custom-field .input-appearence {
  display: flex;
  align-items: center;
}
.wrap-custom-field .switcher {
  position: relative;
  background-color: #00A95A;
  width: 3em;
  height: 1.5em;
  border-radius: 0.9375em;
  margin: 0 1em;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .wrap-custom-field .switcher {
    width: 2.125em;
    height: 1em;
    margin-left: 0.6875em;
  }
}
.wrap-custom-field .switcher::after {
  content: "";
  position: absolute;
  top: 0.25em;
  right: 0.375em;
  width: 0.9375em;
  height: 0.9375em;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: translateX(-1.25em);
}
html[dir=ltr] .wrap-custom-field .switcher::after {
  transform: translateX(0);
}

@media screen and (max-width: 767px) {
  .wrap-custom-field .switcher::after {
    top: 0.125em;
    width: 0.6875em;
    height: 0.6875em;
    right: 4px;
    transform: translateX(-0.9375em);
  }
  html[dir=ltr] .wrap-custom-field .switcher::after {
    transform: translateX(0);
  }
}
.wrap-custom-field:focus-within .switcher {
  outline: 1px dashed #00a661;
  outline-offset: 1px;
}
.wrap-custom-field .yes, .wrap-custom-field .no {
  font: 1.25em/1.2 "rubik-reg", sans-serif;
  transition: color 0.3s;
  cursor: pointer;
  color: #A4A4A4;
}
@media screen and (max-width: 767px) {
  .wrap-custom-field .yes, .wrap-custom-field .no {
    font-size: 1em;
    line-height: 1.5;
  }
}
.wrap-custom-field input:checked + .input-appearence .yes {
  color: #000;
}
.wrap-custom-field input:checked + .input-appearence .no {
  color: #A4A4A4;
}
.wrap-custom-field input:checked + .input-appearence .switcher::after {
  transform: translateX(0);
}
html[dir=ltr] .wrap-custom-field input:checked + .input-appearence .switcher::after {
  transform: translateX(-1.25em);
}
@media screen and (max-width: 767px) {
  html[dir=ltr] .wrap-custom-field input:checked + .input-appearence .switcher::after {
    transform: translateX(-0.9375em);
  }
}

.wrap-custom-field input:not(:checked) + .input-appearence .yes {
  color: #A4A4A4;
}
.wrap-custom-field input:not(:checked) + .input-appearence .no {
  color: #000;
}