.exchange-calculator__btn button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.select {
  position: relative;
  z-index: 100;
  font: 1.125em/1.3333333333 "rubik-reg", sans-serif;
  width: 100%;
  background-color: transparent;
  padding-bottom: 0.3333333333em;
  border-bottom: 1px solid #000;
}
.select__placeholder {
  position: relative;
  z-index: 2;
  padding-left: 1.6666666667em;
  width: 100%;
  color: #000;
  cursor: pointer;
}
.select__placeholder p {
  display: none;
}
html[dir=ltr] .select__placeholder {
  padding-left: 0;
  padding-right: 1.6666666667em;
}

.select__dropdown {
  position: absolute;
  right: 0;
  top: 1.9444444444em;
  z-index: 5;
  display: none;
  margin: 0;
  width: 100%;
  max-height: 8.6111111111em;
  overflow-y: auto;
  border-radius: 1.25em;
  background-color: #fff;
  border: 1px solid rgba(33, 33, 33, 0.07);
  box-shadow: 0 0 4px 0 rgba(60, 63, 69, 0.27);
  padding: 0.375em 0;
  list-style: none;
  scrollbar-color: rgba(60, 63, 69, 0.2) #fff;
  scrollbar-width: thin;
}
.select__dropdown::-webkit-scrollbar {
  width: 0.5rem;
  cursor: pointer;
}
.select__dropdown::-webkit-scrollbar-thumb {
  width: 8px;
  margin: 10px 0;
  border-radius: 5px;
  background: rgba(60, 63, 69, 0.2);
}
.select__dropdown::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px 0;
}
.select__dropdown-item {
  cursor: pointer;
  padding: 0.0555555556em 0.8333333333em;
  margin: 0.1666666667em 0;
}
.select__dropdown-item span {
  display: none;
}
.select__dropdown-item p {
  margin: 0;
  display: inline-block;
}
.select__dropdown-item:hover {
  color: #000;
  background: #f0f0f0;
}
.select__dropdown-item--active {
  font-weight: 600;
  background: #f0f0f0;
}
.select__dropdown-arrow {
  position: absolute;
  left: 0.2777777778em;
  top: 50%;
  z-index: 1;
  width: 1.0555555556em;
  height: 1.0555555556em;
  background-image: url("data:image/svg+xml,%3Csvg width='19px' height='11px' viewBox='0 0 19 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-36.000000, -764.000000)' fill='%2300A661' fill-rule='nonzero'%3E%3Cg transform='translate(24.000000, 728.000000)'%3E%3Cpath d='M28.4393398,36.4393398 C29.0251263,35.8535534 29.9748737,35.8535534 30.5606602,36.4393398 C31.109835,36.9885146 31.1441584,37.857577 30.6636304,38.4467378 L30.5606602,38.5606602 L22.5606602,46.5606602 C22.0114854,47.109835 21.142423,47.1441584 20.5532622,46.6636304 L20.4393398,46.5606602 L12.4393398,38.5606602 C11.8535534,37.9748737 11.8535534,37.0251263 12.4393398,36.4393398 C12.9885146,35.890165 13.857577,35.8558416 14.4467378,36.3363696 L14.5606602,36.4393398 L21.5,43.379 L28.4393398,36.4393398 Z' id='Icon/Arrow-Copy'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.2s ease-out;
  transform: translateY(-50%);
}
html[dir=ltr] .select__dropdown-arrow {
  left: unset;
  right: 0.2777777778em;
}

@media (max-width: 1365px) {
  .select .text {
    display: none;
  }
}
.select--open {
  z-index: 101;
}
.select--open .select__dropdown {
  display: block;
}
.select--open .select__dropdown-arrow {
  transform: translateY(-50%) rotateX(180deg);
}

.exchange-calculator {
  position: relative;
  padding: 1.875em 0;
}
.exchange-calculator .bg-img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
@media (max-width: 767px) {
  .exchange-calculator .bg-img {
    display: none;
  }
}
.exchange-calculator .typical-subheader {
  margin-bottom: 1.25em;
  text-align: unset;
  font: 1.25em/1.4 "rubik-medium", sans-serif;
}
.exchange-calculator__body {
  padding: 2.5em 4.375em 3.125em;
  max-width: 55.5em;
  margin: 3.125em auto 0;
  border-radius: 1.875em;
  border: 1px solid rgba(60, 63, 69, 0.2);
  background-color: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(56, 59, 64, 0.1);
}
@media (max-width: 767px) {
  .exchange-calculator__body {
    max-width: 25em;
    margin: 1.75em auto 0;
    padding: 1.1875em 1.625em 2.0625em 1.375em;
  }
}
.exchange-calculator__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25em;
}
.exchange-calculator__inputs {
  flex-grow: 1;
}
.exchange-calculator__btn {
  flex-shrink: 0;
}
.exchange-calculator__btn button {
  cursor: pointer;
  transition: all 0.2s ease-out;
  width: 3.8461538462em;
  height: 3.8461538462em;
}
.exchange-calculator__btn button:hover {
  transform: scale(1.1);
}
.exchange-calculator__btn button:active {
  transform: scale(1);
}
.exchange-calculator__btn button:disabled {
  filter: grayscale(100);
  pointer-events: none;
}
.exchange-calculator__btn button:disabled:hover {
  transform: scale(1);
}
@media (max-width: 767px) {
  .exchange-calculator__btn {
    position: absolute;
    left: 0;
  }
  html[dir=ltr] .exchange-calculator__btn {
    left: unset;
    right: 0;
  }
}
.exchange-calculator__row {
  display: flex;
  gap: 3.75em;
}
.exchange-calculator__row:not(:last-child) {
  margin-bottom: 2.5em;
}
@media (max-width: 767px) {
  .exchange-calculator__row:not(:last-child) {
    margin-bottom: 1.25em;
  }
}
@media (max-width: 767px) {
  .exchange-calculator__row {
    flex-flow: column;
    gap: 1.25em;
  }
  .exchange-calculator__row--bottom {
    flex-flow: column-reverse;
  }
}
.exchange-calculator__col {
  max-width: 18.75em;
  width: 100%;
  margin-top: auto;
}
@media (max-width: 767px) {
  .exchange-calculator__col {
    max-width: unset;
  }
}
.exchange-calculator__label {
  font: 1.125em/1.3333333333 "rubik-medium", sans-serif;
}
.exchange-calculator__label--result {
  color: #a4a4a4;
}
.exchange-calculator__input {
  position: relative;
  border-bottom: 1px solid #000;
  padding-bottom: 0.625em;
}
.exchange-calculator__input input {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  font: 1.25em/1.2 "rubik-reg", sans-serif;
}
.exchange-calculator__input--result {
  border-bottom: 1px solid #a4a4a4;
}
.exchange-calculator__input--result input {
  font: 1.5em/1 "rubik-medium", sans-serif;
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper {
  width: 100%;
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper > input {
  padding: 0;
  height: auto;
  color: #000;
  border-radius: unset;
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper > input:focus {
  border: none;
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper > input:focus::selection {
  background-color: rgba(0, 166, 97, 0.2);
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper > input:focus::placeholder {
  padding: 0;
  font-size: inherit;
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper > input::placeholder {
  color: #000;
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper ul {
  overflow: auto;
  z-index: 10;
  margin-top: 0.75em;
  padding: 0.375em 0;
  max-height: 10.625em;
  box-shadow: 0 0 4px 0 rgba(60, 63, 69, 0.27);
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper ul li {
  font: 1.125em/1.5 "rubik-reg", sans-serif;
  color: #000;
  text-align: initial;
  padding: 0.0555555556em 0.8333333333em;
  margin: 0.1666666667em 0;
  border-radius: 0;
  border: none;
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper ul li mark {
  font-weight: 400;
  font-family: "rubik-bold";
  color: inherit;
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper ul li:hover, .exchange-calculator__input--autocomplete .autoComplete_wrapper ul li[aria-selected=true] {
  background-color: #f0f0f0;
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper ul li:first-child {
  margin-top: 0;
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper ul li:last-child {
  margin-bottom: 0;
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper::after {
  content: "";
  position: absolute;
  inset-inline-end: 0.75em;
  top: 0.8125em;
  width: 1.1875em;
  height: 0.6875em;
  background: url("data:image/svg+xml,%3Csvg width='19px' height='11px' viewBox='0 0 19 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-13.000000, -36.000000)' fill='%2300A661' fill-rule='nonzero'%3E%3Cpath d='M29.4393398,36.4393398 C30.0251263,35.8535534 30.9748737,35.8535534 31.5606602,36.4393398 C32.109835,36.9885146 32.1441584,37.857577 31.6636304,38.4467378 L31.5606602,38.5606602 L23.5606602,46.5606602 C23.0114854,47.109835 22.142423,47.1441584 21.5532622,46.6636304 L21.4393398,46.5606602 L13.4393398,38.5606602 C12.8535534,37.9748737 12.8535534,37.0251263 13.4393398,36.4393398 C13.9885146,35.890165 14.857577,35.8558416 15.4467378,36.3363696 L15.5606602,36.4393398 L22.5,43.379 L29.4393398,36.4393398 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center/cover no-repeat;
  z-index: 1;
  transition: transform 0.2s;
}
@media screen and (max-width: 767px) {
  .exchange-calculator__input--autocomplete .autoComplete_wrapper::after {
    width: 16px;
    background-size: contain;
  }
}
.exchange-calculator__input--autocomplete .autoComplete_wrapper[aria-expanded=true]::after {
  transform: rotateX(180deg);
}
.exchange-calculator__input--autocomplete .label-autocomplete {
  position: absolute;
  z-index: 1;
  inset-inline-start: 0;
  top: 0.25em;
  display: none;
}
@media screen and (max-width: 767px) {
  .exchange-calculator__input--autocomplete .label-autocomplete {
    top: 0.5625em;
  }
}
.exchange-calculator__input--autocomplete .label-autocomplete span {
  font: 1.25em/1 "rubik-reg", sans-serif;
  color: #000;
}
@media screen and (max-width: 767px) {
  .exchange-calculator__input--autocomplete .label-autocomplete span {
    font-size: 1em;
  }
}
.exchange-calculator__input--autocomplete.empty-input .label-autocomplete {
  display: flex;
}
@media (max-width: 767px) {
  .exchange-calculator__input--autocomplete {
    max-width: calc(100% - 4.375em);
  }
}
.exchange-calculator__input--numeric input {
  /* Firefox */
  -moz-appearance: textfield;
  /* Chrome, Safari, Edge, Opera */
}
.exchange-calculator__input--numeric input::-webkit-outer-spin-button, .exchange-calculator__input--numeric input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}