.simple-steps .steps {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subheader-wanted-more {
  font: 400 1.25em/1.6 "rubik-reg", sans-serif;
  color: #3c3f45;
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .subheader-wanted-more {
    font-size: 1em;
    line-height: 1.625;
    color: #000;
  }
}

.simple-steps {
  padding: 4.375em 0 3.125em;
  position: relative;
}
@media screen and (max-width: 767px) {
  .simple-steps {
    padding: 3.75em 0 3.75em;
  }
}
@media screen and (max-width: 767px) {
  .simple-steps .typical-header {
    margin-bottom: 0.4666666667em;
  }
}
.simple-steps .bg-mobile {
  display: none;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .simple-steps .bg-mobile {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.simple-steps .bg {
  position: absolute;
  left: 50%;
  margin-inline-end: -50vw;
  z-index: -1;
  transform: translateY(-97%);
  max-width: none;
}
html[dir=ltr] .simple-steps .bg {
  margin-inline-end: 0;
  margin-inline-start: -50vw;
}

@media screen and (max-width: 767px) {
  .simple-steps .bg {
    display: none;
  }
}
.simple-steps .steps {
  display: flex;
  align-items: flex-start;
  max-width: 1080px;
  margin: 1.5625em auto 0;
  color: #3c3f45;
}
@media screen and (max-width: 767px) {
  .simple-steps .steps {
    display: block;
    max-width: 16.4375em;
    color: #000;
  }
}
.simple-steps .arr {
  font: 4.375em/0.7571428571 "rubik-light";
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1.6428571429em;
}
@media screen and (max-width: 767px) {
  .simple-steps .arr {
    font-size: 1em;
    height: 4.0625em;
    color: #3c3f45;
    text-align: initial;
    align-items: flex-start;
    padding-inline-start: 2.5em;
  }
}
@media screen and (max-width: 767px) {
  .simple-steps .arr span {
    font-size: 2.125em;
    transform: rotate(-90deg);
  }
  html[dir=ltr] .simple-steps .arr span {
    transform: rotate(90deg);
  }
}
.simple-steps .info {
  flex-basis: 8.75em;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .simple-steps .info {
    display: flex;
    align-items: center;
    padding-bottom: 0;
  }
}
.simple-steps .img-wrap {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(60, 63, 69, 0.2);
  box-shadow: 0 2px 10px 0 rgba(56, 59, 64, 0.1);
  display: flex;
  width: 7.1875em;
  height: 7.1875em;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .simple-steps .img-wrap {
    width: 5.625em;
    height: 5.625em;
    flex-shrink: 0;
    margin: 0;
    margin-inline-end: 1.4375em;
  }
}
@media screen and (max-width: 767px) {
  .simple-steps .img-wrap img {
    max-width: 3em;
  }
}
.simple-steps .msg {
  font: 1.25em/1.4 "rubik-reg", sans-serif;
  text-align: center;
  margin-top: 0.75em;
}
@media screen and (max-width: 767px) {
  .simple-steps .msg {
    margin-top: 0;
  }
}