.site-map .links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-map {
  padding: 0.75em 0 7.8125em;
}
@media screen and (max-width: 767px) {
  .site-map {
    padding: 0.5625em 0 5.4375em;
  }
}
.site-map .header-site-map {
  font: 400 6.25em/1.08 "mixtape-reg", sans-serif;
  color: #00a661;
  margin: 0.16em 0 0.48em;
}
html[dir=ltr] .site-map .header-site-map {
  font-family: "mixtape-reg-latin", sans-serif;
}

@media screen and (max-width: 767px) {
  .site-map .header-site-map {
    font-size: 3.75em;
    line-height: 1;
    margin-bottom: 0.3333333333em;
  }
}
.site-map .cat-wrap {
  border-top: 2px solid #00a661;
  padding: 3.125em 0;
  color: #000;
}
@media screen and (max-width: 767px) {
  .site-map .cat-wrap {
    padding: 1.25em 0 1.125em;
  }
}
.site-map .cat-wrap:last-child {
  border-bottom: 2px solid #00a661;
}
.site-map .header {
  font: 1.5em/1.3333333333 "rubik-medium", sans-serif;
  margin: 0 0 0.3333333333em;
}
@media screen and (max-width: 767px) {
  .site-map .header {
    margin-bottom: 5px;
  }
}
.site-map .subheader {
  font: 1.25em/1.6 "rubik-medium", sans-serif;
  margin: 0 0 0.9em;
}
.site-map .links-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12.5em;
  margin-bottom: 3.375em;
}
@media screen and (max-width: 767px) {
  .site-map .links-wrap {
    column-gap: 10.625em;
    margin-bottom: 1.875em;
  }
}
.site-map .links-wrap:last-of-type {
  margin-bottom: 0;
}
.site-map .links a {
  font: 1.125em/1.7777777778 "rubik-medium", sans-serif;
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .site-map .links li:not(:last-child) {
    margin-top: -0.125em;
  }
}