@import url(../../node_modules/slick-carousel/slick/slick.css);

@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "VoxRound-Medium";
  font-display: swap;
  src: url("../fonts/VoxRound-Medium.woff") format("woff"), url("../fonts/VoxRound-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "VoxRound-Bold";
  font-display: swap;
  src: url("../fonts/VoxRound-Bold.woff") format("woff"), url("../fonts/VoxRound-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "VoxRoundWide-Bold";
  font-display: swap;
  src: url("../fonts/VoxRoundWide-Bold.woff") format("woff"), url("../fonts/VoxRoundWide-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "VoxRoundWide-Medium";
  font-display: swap;
  src: url("../fonts/VoxRoundWide-Medium.woff") format("woff"), url("../fonts/VoxRoundWide-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "VoxRound";
  font-display: swap;
  src: url("../fonts/VoxRound.woff") format("woff"), url("../fonts/VoxRound.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "VoxRoundWide";
  font-display: swap;
  src: url("../fonts/VoxRoundWide.woff") format("woff"), url("../fonts/VoxRoundWide.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  color: #323232;
  -webkit-tap-highlight-color: transparent;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.separator {
  color: #E5A132;
  border: none;
  height: 1px;
  background-color: #E5A132;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'VoxRound-Bold';
  text-transform: uppercase;
}

.logo p span {
  color: #E5A132;
}

.burger {
  display: block;
  width: 24px;
  height: 4px;
  background-color: #E5A132;
  position: relative;
}

.burger::after {
  position: absolute;
  content: '';
  display: block;
  top: -10px;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #E5A132;
  -webkit-transition: top .2s linear .2s, -webkit-transform 0.2s ease-in;
  transition: top .2s linear .2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top .2s linear .2s;
  transition: transform 0.2s ease-in, top .2s linear .2s;
  transition: transform 0.2s ease-in, top .2s linear .2s, -webkit-transform 0.2s ease-in;
}

.burger::before {
  position: absolute;
  content: '';
  display: block;
  top: 10px;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #E5A132;
  -webkit-transition: top .2s linear .2s, -webkit-transform 0.2s ease-in;
  transition: top .2s linear .2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top .2s linear .2s;
  transition: transform 0.2s ease-in, top .2s linear .2s;
  transition: transform 0.2s ease-in, top .2s linear .2s, -webkit-transform 0.2s ease-in;
}

.burger.burger-active {
  background-color: transparent;
}

.burger.burger-active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top .2s linear, -webkit-transform 0.2s ease-in .2s;
  transition: top .2s linear, -webkit-transform 0.2s ease-in .2s;
  -o-transition: top .2s linear, transform 0.2s ease-in .2s;
  transition: top .2s linear, transform 0.2s ease-in .2s;
  transition: top .2s linear, transform 0.2s ease-in .2s, -webkit-transform 0.2s ease-in .2s;
}

.burger.burger-active::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top .2s linear, -webkit-transform 0.2s ease-in .2s;
  transition: top .2s linear, -webkit-transform 0.2s ease-in .2s;
  -o-transition: top .2s linear, transform 0.2s ease-in .2s;
  transition: top .2s linear, transform 0.2s ease-in .2s;
  transition: top .2s linear, transform 0.2s ease-in .2s, -webkit-transform 0.2s ease-in .2s;
}

.h-100 {
  height: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 45px;
  padding: 0 20px;
  position: relative;
}

.header__top .logo {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.menu__list-item {
  display: inline-block;
  margin: 0 18px;
}

.menu__list-item:first-child {
  display: none;
}

.menu__link {
  font-family: 'VoxRoundWide-Medium';
  font-size: 14px;
  line-height: 16px;
}

.menu__link::after {
  content: "";
  display: block;
  width: calc(100% + 24px);
  border-bottom: 4px solid #E5A132;
  -webkit-transform: translateY(26px) translateX(-12px) scale(0);
      -ms-transform: translateY(26px) translateX(-12px) scale(0);
          transform: translateY(26px) translateX(-12px) scale(0);
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.menu__link:hover {
  font-family: 'VoxRoundWide-Bold';
  color: #E5A132;
}

.menu__link:hover::after {
  -webkit-transform: translateY(26px) translateX(-12px) scale(1);
      -ms-transform: translateY(26px) translateX(-12px) scale(1);
          transform: translateY(26px) translateX(-12px) scale(1);
}

.menu__link-btn {
  font-family: 'VoxRoundWide-Bold';
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #2068E1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  padding: 15px 15px 15px 58px;
  position: relative;
}

.menu__link-btn::before {
  content: "";
  position: absolute;
  color: #fff;
  background-image: url("../img/login.svg");
  width: 18px;
  height: 18px;
  left: 25px;
}

.menu__link-btn:hover {
  background-color: #2979FF;
}

.main {
  color: #fff;
  height: 780px;
  width: 100%;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.76))), url(../img/main-bg.jpg);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.76) 100%), url(../img/main-bg.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.76) 100%), url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.main__title {
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  padding-top: 220px;
}

.main__title span {
  color: #E5A132;
}

.main__subtitle {
  font-family: 'VoxRoundWide';
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}

.main__subtitle span {
  font-family: 'VoxRoundWide-Bold';
  color: #E5A132;
}

.main__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__btn-orange {
  border-radius: 35px;
  position: relative;
  -webkit-box-shadow: 0px 4px 10px rgba(229, 161, 50, 0.55);
          box-shadow: 0px 4px 10px rgba(229, 161, 50, 0.55);
  background-color: #E5A132;
  font-family: 'VoxRoundWide-Bold';
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  padding: 15px 94px 15px 155px;
  margin-top: 83px;
}

.main__btn-orange::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 35px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  width: 88px;
  height: 46px;
  background-color: #D5952C;
  background-image: url("../img/main-getboost-icon.svg");
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.main__btn-orange:hover {
  background-color: #FCB138;
}

.main__btn-orange:hover::before {
  background-color: #EFA835;
}

.main__btn-blue {
  border-radius: 35px;
  position: relative;
  -webkit-box-shadow: 0px 4px 10px rgba(32, 104, 225, 0.55);
          box-shadow: 0px 4px 10px rgba(32, 104, 225, 0.55);
  background-color: #2068E1;
  font-family: 'VoxRoundWide-Bold';
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  padding: 15px 26px 15px 100px;
  margin-top: 28px;
}

.main__btn-blue::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 35px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  width: 88px;
  height: 46px;
  background-color: #1D5ABF;
  background-image: url("../img/main-shield-icon.svg");
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.main__btn-blue:hover {
  background-color: #2979FF;
}

.main__btn-blue:hover::before {
  background-color: #266CE1;
}

.main__bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(26, 26, 26, 0.68);
}

.main__bottom-link {
  display: inline-block;
  font-family: 'VoxRound-Bold';
  font-size: 14px;
  line-height: 200%;
  padding: 12px 22px;
  margin: 14px 0;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.main__bottom-link:hover {
  background-color: #2068E1;
  -webkit-box-shadow: 0px 4px 10px rgba(32, 104, 225, 0.55);
          box-shadow: 0px 4px 10px rgba(32, 104, 225, 0.55);
  border-radius: 35px;
}

.main__bottom-link__icon {
  padding-right: 12px;
  vertical-align: middle;
}

.safety {
  margin-top: 48px;
}

.safety__inner {
  text-align: center;
  position: relative;
}

.safety__img {
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: -5;
}

.safety__line {
  position: absolute;
  bottom: -40px;
  width: 100%;
  left: 0;
  background-color: #fff;
  height: 50px;
  border-top: 2px solid #E5A132;
  -webkit-transform: skewY(5deg);
      -ms-transform: skewY(5deg);
          transform: skewY(5deg);
  z-index: -1;
}

.safety__title {
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  padding-bottom: 14px;
}

.safety__title span {
  color: #E5A132;
}

.safety__subtitle {
  width: 500px;
  margin: 0 auto;
  border-bottom: 2px solid #E5A132;
}

.safety__subtitle p {
  font-family: 'OpenSans-SemiBold';
  font-size: 14px;
  line-height: 200%;
  padding-bottom: 28px;
}

.safety__rules {
  margin: 0 auto;
  margin-top: 53px;
  width: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
}

.safety__rules-item {
  width: 200px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.safety__rules-item:nth-child(odd) {
  font-size: 30px;
}

.safety__rules-title {
  font-family: VoxRound-Bold;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 15px;
  color: #E5A132;
}

.safety__rules-text {
  text-align: left;
  font-family: OpenSans-SemiBold;
  font-size: 14px;
  line-height: 200%;
}

.safety__rules-icon {
  height: 72px;
  width: 72px;
}

.steps {
  margin-top: 50px;
  text-align: center;
  position: relative;
}

.steps__line {
  position: absolute;
  top: -45px;
  width: 100%;
  left: 0;
  background-color: #e5e5e5;
  height: 90px;
  border-top: 2px solid #E5A132;
  -webkit-transform: skewY(5deg);
      -ms-transform: skewY(5deg);
          transform: skewY(5deg);
  z-index: 1;
}

.steps__title {
  margin-bottom: 50px;
  position: relative;
  z-index: 10;
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.steps__title span {
  color: #E5A132;
}

.steps__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  padding: 0 20px;
}

.steps__item {
  margin-left: 50px;
  width: 20%;
}

.steps__item:first-child {
  margin-left: 0;
}

.steps__item-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
}

.steps__item-title {
  font-family: VoxRound-Bold;
  font-size: 24px;
  line-height: 100%;
  color: #212121;
  margin-bottom: 20px;
}

.steps__item-text {
  font-family: OpenSans-SemiBold;
  font-size: 14px;
  line-height: 155%;
}

.wsb {
  margin-top: 150px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.65)), to(#0F0F0F)), url(../img/why_should_buy-bg.jpg);
  background: -o-linear-gradient(top, rgba(22, 22, 22, 0.65) 0%, #0F0F0F 100%), url(../img/why_should_buy-bg.jpg);
  background: linear-gradient(180deg, rgba(22, 22, 22, 0.65) 0%, #0F0F0F 100%), url(../img/why_should_buy-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.wsb__title {
  padding-top: 50px;
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.wsb__title span {
  color: #E5A132;
}

.wsb__subtitle {
  width: 684px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: OpenSans-SemiBold;
  font-size: 18px;
  line-height: 200%;
  text-align: center;
  margin-bottom: 37px;
}

.wsb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wsb__list-item {
  margin-right: 60px;
  font-family: OpenSans-SemiBold;
  font-size: 18px;
  line-height: 200%;
}

.wsb__list-item span {
  font-family: OpenSans-Bold;
  position: relative;
}

.wsb__list-item span:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #E5A132;
  top: 8px;
  left: -30px;
  border-radius: 50%;
}

.wsb__list-item:last-child {
  margin-right: 0;
}

.wsb__list-item:first-child {
  margin-left: 45px;
}

.wsb__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wsb__btn-orange {
  border-radius: 35px;
  position: relative;
  -webkit-box-shadow: 0px 4px 10px rgba(229, 161, 50, 0.55);
          box-shadow: 0px 4px 10px rgba(229, 161, 50, 0.55);
  background-color: #E5A132;
  font-family: 'VoxRoundWide-Bold';
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  margin-top: 47px;
  margin-bottom: 86px;
  padding: 15px 58px 15px 121px;
}

.wsb__btn-orange::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 35px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  width: 88px;
  height: 46px;
  background-color: #D5952C;
  background-image: url("../img/circle-icon.svg");
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.wsb__btn-orange:hover {
  background-color: #FCB138;
}

.wsb__btn-orange:hover::before {
  background-color: #EFA835;
}

.our-stats {
  margin-top: 64px;
}

.our-stats__title {
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.our-stats__title span {
  color: #E5A132;
}

.our-stats__inner {
  margin-top: 35px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))), url(../img/our-stats-bg.jpg);
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../img/our-stats-bg.jpg);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../img/our-stats-bg.jpg);
  border: 1px solid #E5A132;
  border-radius: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 78px 32px 78px;
}

.our-stats__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-stats__content-icon {
  text-align: center;
  background-image: url(../img/our-stats-item-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 180px 180px;
}

.our-stats__content-icon img {
  width: 70px;
  height: 70px;
  margin: 55px;
}

.our-stats__content-item {
  margin-right: 100px;
  text-align: center;
}

.our-stats__content-item:last-child {
  margin-right: 0;
}

.our-stats__content-title {
  margin-top: 46px;
  font-family: VoxRoundWide-Bold;
  font-size: 36px;
  line-height: 100%;
}

.our-stats__content-subtitle {
  margin-top: 10px;
  font-family: VoxRound;
  font-size: 24px;
  line-height: 122.5%;
}

.service {
  margin-top: 50px;
}

.service__title {
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.service__title span {
  color: #E5A132;
}

.service__inner {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__col {
  width: 70%;
}

.service__col:last-child {
  width: 30%;
  text-align: center;
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__item .logo img {
  width: 95px;
}

.service__item .logo p {
  font-size: 36px;
  line-height: 42px;
  padding-top: 20px;
}

.service__icon {
  margin-right: 18px;
}

.service__text {
  font-family: OpenSans-Regular;
  font-size: 14px;
  line-height: 200%;
  color: #121212;
  padding: 15px 0;
}

.wcu {
  margin-top: 40px;
  height: 352px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../img/choose-bg.jpg") no-repeat;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/choose-bg.jpg") no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/choose-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wcu__title {
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  padding: 30px 0 20px;
}

.wcu__title span {
  color: #E5A132;
}

.wcu__inner {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wcu__item {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
}

.wcu__item:last-child {
  margin-right: 0;
}

.wcu__icon {
  width: 105px;
  height: 105px;
  background: url("../img/choose-icon-bg.png") no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wcu__text {
  text-align: center;
  padding-top: 20px;
}

.wcu__text p {
  font-family: VoxRound-Bold;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #323232;
}

.wcu__text span {
  font-family: OpenSans-Regular;
  font-size: 16px;
  line-height: 130%;
}

.clients__title {
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  padding-top: 34px;
  padding-bottom: 36px;
}

.clients__title span {
  color: #E5A132;
}

.clients__item {
  width: 318px;
  height: 359px;
  padding: 40px;
  border: 1px solid #E5A132;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background: #FAFAFA;
  margin: 0 20px 0 20px;
  color: #323232;
}

.clients__slider {
  padding: 0 30px 0 30px;
}

.clients__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__name {
  padding-left: 20px;
}

.clients__name p {
  font-family: VoxRound-Bold;
  font-size: 18px;
  line-height: 200%;
}

.clients__img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
}

.clients__img img {
  width: 100%;
  height: 100%;
}

.clients__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__rate .icon {
  width: 20px;
  height: 20px;
  fill: #E5A132;
  padding-right: 5px;
}

.clients__rate .icon-grey {
  fill: #bdbdbd;
}

.clients__text {
  margin-top: 10px;
}

.clients__booster-name {
  font-family: VoxRound-Bold;
  font-size: 14px;
  line-height: 200%;
}

.clients__say {
  font-family: OpenSans-Regular;
  font-size: 14px;
  line-height: 200%;
  padding-top: 10px;
}

.clients__date {
  text-align: right;
  padding-top: 20px;
  font-family: OpenSans-Regular;
  font-size: 12px;
  line-height: 200%;
  color: #959595;
}

.wwyc {
  margin-top: 50px;
}

.wwyc__title {
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.wwyc__title span {
  color: #E5A132;
}

.wwyc__subtitle {
  width: 750px;
  margin: 0 auto;
  text-align: center;
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 165%;
  padding-top: 10px;
  padding-bottom: 25px;
}

.wwyc__item {
  height: 380px;
  position: relative;
}

.wwyc__content {
  height: 380px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.wwyc__content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(4.89%, #D5D5D5), color-stop(75.96%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(right, #D5D5D5 4.89%, rgba(255, 255, 255, 0) 75.96%);
  background: linear-gradient(270deg, #D5D5D5 4.89%, rgba(255, 255, 255, 0) 75.96%);
}

.wwyc__content .bg-white {
  background: none;
}

.wwyc__bg {
  position: absolute;
}

.wwyc__text1 {
  padding: 20px 0 20px 0;
  font-family: VoxRound-Bold;
  font-size: 24px;
  line-height: 200%;
}

.wwyc__text2 {
  font-family: OpenSans-Regular;
  font-size: 14px;
  line-height: 200%;
}

.boosters {
  margin-top: 50px;
}

.boosters__title {
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.boosters__title span {
  color: #E5A132;
}

.boosters__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 200%;
}

.boosters__left p {
  padding: 0 45px;
}

.boosters__right-img {
  width: 412px;
  height: 421px;
}

.offers {
  color: #fff;
  margin-top: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 30, 30, 0.83)), to(rgba(30, 30, 30, 0.83))), url("../img/offers_bg.jpg");
  background: -o-linear-gradient(bottom, rgba(30, 30, 30, 0.83), rgba(30, 30, 30, 0.83)), url("../img/offers_bg.jpg");
  background: linear-gradient(0deg, rgba(30, 30, 30, 0.83), rgba(30, 30, 30, 0.83)), url("../img/offers_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offers__title {
  padding-top: 50px;
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.offers__title span {
  color: #E5A132;
}

.offers__content {
  padding: 50px 10px 100px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin-bottom: 20px;
  width: calc((100% / 2) - 25px);
  background: rgba(30, 30, 30, 0.81);
  border: 1px solid #E5A132;
  border-radius: 35px;
}

.offers__item-content {
  padding-left: 20px;
  font-size: 12px;
  line-height: 158.5%;
}

.offers__item-title {
  font-family: OpenSans-Bold;
}

.offers__item-text {
  padding: 30px 0 30px;
  font-family: OpenSans-Regular;
}

.offers__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offers__item-price__text {
  font-family: VoxRound-Bold;
  font-size: 24px;
  line-height: 200%;
  padding-right: 15px;
}

.offers__item-price__btn {
  font-family: 'VoxRoundWide-Bold';
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  background-color: #2068E1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  padding: 15px 35px;
}

.offers__item-price__btn:hover {
  background-color: #2979FF;
}

.about {
  margin-top: 50px;
}

.about .container {
  background: -o-linear-gradient(358deg, #FFFFFF -12.73%, rgba(255, 255, 255, 0.71) 100.03%), url(../img/about-bg.jpg);
  background: linear-gradient(92deg, #FFFFFF -12.73%, rgba(255, 255, 255, 0.71) 100.03%), url(../img/about-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #E5A132;
  border-radius: 35px;
  padding: 40px 70px;
}

.about__title {
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.about__title span {
  color: #E5A132;
}

.about__subtitle {
  padding-top: 30px;
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 200%;
}

.about__item {
  margin-top: 50px;
  line-height: 200%;
}

.about__item-name {
  font-family: OpenSans-Bold;
  font-size: 18px;
  color: #E5A132;
  padding-bottom: 40px;
}

.about__item-text {
  font-family: OpenSans-Regular;
  font-size: 14px;
  padding-bottom: 40px;
}

.faq {
  margin-top: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(32, 32, 32, 0.87)), to(rgba(32, 32, 32, 0.87))), url("../img/faq-bg.jpg");
  background: -o-linear-gradient(bottom, rgba(32, 32, 32, 0.87), rgba(32, 32, 32, 0.87)), url("../img/faq-bg.jpg");
  background: linear-gradient(0deg, rgba(32, 32, 32, 0.87), rgba(32, 32, 32, 0.87)), url("../img/faq-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.faq__title {
  text-align: center;
  font-family: VoxRoundWide-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  padding-top: 40px;
}

.faq__title span {
  color: #E5A132;
}

.faq__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.faq__item {
  width: calc((100% / 2) - 30px);
  margin-bottom: 35px;
  height: 200px;
  margin-left: 2px;
  margin-right: 2px;
}

.faq__item-inner {
  position: relative;
}

.faq__item-title {
  font-family: VoxRound-Bold;
  font-size: 14px;
  line-height: 200%;
  padding: 10px 22px;
  background: #E5A132;
  -webkit-box-shadow: 0px 4px 10px rgba(229, 161, 50, 0.55);
          box-shadow: 0px 4px 10px rgba(229, 161, 50, 0.55);
  border-radius: 35px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.faq__item-title:after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  right: 22px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.faq__item-text {
  font-family: OpenSans-Regular;
  font-size: 14px;
  line-height: 200%;
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0;
  border: 1px solid #E5A132;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 35px 35px;
  padding: 44px 22px 22px;
  background-color: #fff;
  color: #323232;
  z-index: 1;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.footer {
  background: #202020;
  color: #fff;
  font-family: VoxRound;
}

.footer__bottom {
  padding: 20px 100px 50px 100px;
  text-align: center;
  font-size: 14px;
  line-height: 189.4%;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 70px;
}

.footer__logo p {
  font-family: VoxRound-Bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.footer__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu ul {
  border-left: 1px solid #000;
  padding: 20px;
}

.footer__menu li {
  padding: 5px 0;
}

.footer__menu li:first-child {
  font-family: VoxRound-Bold;
  font-size: 24px;
  line-height: 28px;
  padding: 15px 0 20px;
}

.hide {
  opacity: 0;
}

.closed {
  background: #353535;
}

.closed:after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.p-right {
  padding-right: 350px;
}

.p-left {
  padding-left: 380px;
}

.bg1 {
  width: 80vh;
  height: 380px;
  right: 0;
  background: url("../img/why-choose-bg1.jpg") no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  shape-margin: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  z-index: 1;
}

.bg2 {
  width: 80vh;
  height: 380px;
  left: 0;
  background-image: url("../img/why-choose-bg2_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  shape-margin: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  z-index: 1;
}

.bg3 {
  width: 80vh;
  height: 380px;
  right: 0;
  background: url("../img/why-choose-bg3.jpg") no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  shape-margin: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  z-index: 1;
}

.bg4 {
  width: 80vh;
  height: 380px;
  left: 0;
  background-image: url("../img/why-choose-bg4_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  shape-outside: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  shape-margin: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  z-index: 1;
}

.slick-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

@media only screen and (min-width: 992px) {
  .burger {
    display: none;
  }

  .steps__line {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .wcu {
    background-position: center -130px;
  }
}

@media (max-width: 1919px) {
  .safety__img {
    display: none;
  }
}

@media only screen and (max-width: 1919px) {
  .wwyc__content {
    position: relative;
    z-index: 1;
  }

  .wwyc__content .container {
    background: none;
    padding: 0 10px;
  }

  .wwyc__bg {
    display: none;
  }

  .p-right {
    padding-right: 0;
  }

  .p-left {
    padding-left: 0;
  }

  .mob-bg1 {
    background: transparent;
  }

  .mob-bg1 {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))), url("../img/why-choose-bg1.jpg");
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/why-choose-bg1.jpg");
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/why-choose-bg1.jpg");
    background-position: center top;
    background-size: cover;
  }

  .mob-bg2 {
    background: transparent;
  }

  .mob-bg3 {
    background: transparent;
  }

  .mob-bg3 {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))), url("../img/why-choose-bg2.jpg");
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/why-choose-bg2.jpg");
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/why-choose-bg2.jpg");
    background-position: center top;
    background-size: cover;
  }

  .mob-bg4 {
    background: transparent;
  }
}

@media only screen and (max-width: 1140px) {
  .offers__item-img img {
    width: 100px;
    height: auto;
  }

  .about {
    background: #e5e5e5;
    padding-top: 50px;
    margin-top: 0;
  }

  .about .container {
    padding: 20px;
    margin: 0 1px;
  }
}

@media only screen and (max-width: 1024px) {
  .our-stats__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .our-stats__content-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-right: 0;
    margin: 20px 0;
  }

  .service__inner {
    padding: 10px;
  }

  .service__col {
    width: 100%;
  }

  .service__col:last-child {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }

  .header__top {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0 10px;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: -53px;
    top: 80px;
    background: #fff;
    height: 100vh;
    width: 238px;
    z-index: 100;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
  }

  .menu__list-item {
    padding: 20px 0;
    margin-right: 25px;
  }

  .menu__list-item:first-child {
    display: block;
  }

  .menu__list-item:last-child {
    display: none;
  }

  .main__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    padding-top: 100px;
  }

  .main__title span {
    color: #E5A132;
  }

  .main__btn-orange {
    margin-top: 50px;
  }

  .main__btn-blue {
    margin-top: 20px;
  }

  .safety__line {
    display: none;
  }

  .steps {
    background: #e5e5e5;
  }

  .steps__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 20px 50px 20px;
  }

  .wsb {
    margin-top: 0;
  }

  .wsb__subtitle {
    width: calc(100% - 100px);
  }

  .wsb__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wsb__list-item span:after {
    top: 5px;
    left: -20px;
  }

  .wsb__list-item:first-child {
    margin-left: 25px;
  }

  .wsb__list-item {
    width: calc((100% / 2) - 35px);
    margin-right: 0;
    margin-left: 25px;
    font-size: 14px;
    margin-top: 15px;
  }

  .menu-open {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .mob-triangle {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
  }
}

@media only screen and (max-width: 968px) {
  .boosters {
    margin-top: 0;
    background: #e5e5e5;
  }

  .boosters__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .boosters__title span {
    color: #E5A132;
  }

  .boosters__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .boosters__right-img {
    width: 310px;
    height: auto;
  }

  .offers {
    margin-top: 0;
  }

  .offers__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .offers__title span {
    color: #E5A132;
  }

  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__logo {
    padding-right: 0;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 903px) {
  .offers__item {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .safety {
    margin-top: 24px;
  }

  .safety__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 0 10px;
  }

  .safety__title span {
    color: #E5A132;
  }

  .safety__subtitle {
    width: calc(100% - 40px);
  }

  .safety__rules {
    width: 100%;
    margin-top: 40px;
  }

  .safety__rules-item {
    width: 180px;
    margin-left: 20px;
  }

  .safety__rules-title {
    padding: 10px 0;
  }

  .steps__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .steps__title span {
    color: #E5A132;
  }

  .steps__item {
    width: 50%;
    margin-left: 0;
    margin-top: 20px;
  }

  .wsb__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .wsb__title span {
    color: #E5A132;
  }

  .our-stats {
    margin-top: 0;
    background: #e5e5e5;
  }

  .our-stats__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 36px;
    padding-bottom: 42px;
  }

  .our-stats__title span {
    color: #E5A132;
  }

  .our-stats__inner {
    padding: 10px;
    margin: 0 2px;
  }

  .service {
    background: #e5e5e5;
    margin-top: 0;
    padding-top: 50px;
  }

  .service__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .service__title span {
    color: #E5A132;
  }

  .wcu {
    margin-top: 0;
    height: auto;
  }

  .wcu__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .wcu__title span {
    color: #E5A132;
  }

  .wcu__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
  }

  .wcu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-right: 0;
    margin: 10px 0;
  }

  .clients {
    background: #e5e5e5;
  }

  .clients__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .clients__title span {
    color: #E5A132;
  }

  .clients__item {
    padding: 20px;
  }

  .wwyc {
    background: #e5e5e5;
    margin-top: 0;
  }

  .wwyc__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 50px;
  }

  .wwyc__title span {
    color: #E5A132;
  }

  .wwyc__subtitle {
    width: 100%;
    padding: 20px;
  }

  .wwyc__item {
    height: auto;
  }

  .wwyc__content {
    height: auto;
  }

  .wwyc__text2 {
    padding-bottom: 20px;
  }

  .about__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .about__title span {
    color: #E5A132;
  }

  .faq {
    margin-top: 0;
  }

  .faq__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .faq__title span {
    color: #E5A132;
  }

  .faq__item {
    width: 100%;
    height: 220px;
  }

  .faq__item-title {
    padding: 10px 10px;
    font-size: 12px;
  }

  .faq__item-title:after {
    right: 10px;
  }

  .faq__item-text {
    height: 220px;
  }

  .footer__bottom {
    padding: 20px;
  }

  .footer__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__menu ul {
    width: 100%;
    border: none;
    text-align: center;
  }
}

@media only screen and (max-width: 440px) {
  .offers__item {
    padding: 5px;
  }
}

@media only screen and (max-width: 414px) {
  .safety__rules-item {
    width: 150px;
    margin-left: 20px;
  }

  .steps__item {
    width: 100%;
  }

  .boosters__left p {
    padding: 0 15px;
  }

  .offers__item-content {
    padding-left: 10px;
  }

  .offers__item-text {
    padding: 30px 0 30px;
  }
}

@media only screen and (max-width: 413px) {
  .our-stats__content-icon {
    background-size: 145px 145px;
  }

  .our-stats__content-item {
    width: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .our-stats__content-icon img {
    margin: 50px;
  }

  .offers__item-price {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 10px;
  }

  .offers__item-price__btn {
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 320px) {
  .main {
    height: 100vh;
  }

  .main__title {
    text-align: center;
    font-family: VoxRoundWide-Bold;
    font-size: 32px;
    line-height: 46px;
    text-transform: uppercase;
    padding-top: 30px;
  }

  .main__title span {
    color: #E5A132;
  }

  .main__subtitle {
    font-size: 22px;
    line-height: 28px;
  }

  .main__btn-orange {
    margin-top: 20px;
    padding: 15px 94px 15px 140px;
  }

  .main__btn-blue::before {
    width: 70px;
  }

  .main__btn-blue {
    padding: 15px 26px 15px 80px;
  }

  .main__bottom-link {
    padding: 12px 10px;
  }

  .safety__rules-item {
    width: 140px;
    margin-left: 10px;
    line-height: 20px;
  }

  .our-stats__content-icon img {
    margin: 35px;
  }

  .our-stats__content-title {
    font-size: 30px;
  }

  .offers__item-price__text {
    font-size: 18px;
  }
}