$blue: #0000ff;
$yellow: #fbff00;

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	font-family: "Lato", sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: 73.125rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 auto;
	
}

.timer {
	&__block {
		p {
			font-weight: 700;
			margin: 0 0 0.9375rem;
			font-size: 2.5rem;
			text-align: center;
		}
	}
}

.timer {
	display: flex;
	justify-content: center;
	gap: 0.625rem;

	&__item {
		display: flex;
		flex-flow: column;
		align-items: center;
		font-size: 1.25rem;

		.count {
			display: flex;
			gap: 0.1875rem;
		}

		.text {
			margin-top: 0.625rem;
			font-size: 1.125rem;
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.3125rem 0.5rem;
			background-color: $blue;
			color: $yellow;
			font-weight: 700;
			font-size: 3rem;
		}
	}
}
