.block__hero {
  position: relative;
  display: flex;
  height: 80vh;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.block__hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(89.83deg, #2f2e2e 30%, rgba(47, 46, 46, 0) 94.44%);
}
.block__hero .container {
  position: relative;
  z-index: 2;
}
.block__hero .btn {
  position: relative;
  display: inline-block;
  background: linear-gradient(180deg, #760112 0%, #be0c26 100%);
  border: 1px solid #be0c26;
  box-sizing: border-box;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 43px;
  color: #ffffff;
  width: 200px !important;
  padding: 9px 0 !important;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  z-index: 1;
}
.block__hero .btn span {
  position: relative;
  z-index: 2;
  color: #fff;
}
.block__hero .btn::after {
  content: none !important;
}
.block__hero .btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background: linear-gradient(0deg, #760112 0%, #be0c26 100%);
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.block__hero .btn:hover::before {
  opacity: 1;
}
.block__hero-wrapper {
  display: flex;
  flex-flow: column;
  gap: 87px;
  max-width: 294px;
  color: #fff;
}
.block__hero-wrapper p {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.block__services .container {
  padding: 125px 0 90px;
  border-bottom: 1px solid rgba(47, 46, 46, 0.8);
}
@media (max-width: 991px) {
  .block__services .container {
    padding: 20px 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .block__services .container {
    margin-bottom: 20px;
  }
}
.block__services ul,
.block__services li {
  list-style: none;
}
.block__services ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 0;
  gap: 16px;
}
.block__services li {
  width: calc(16.6666666667% - 16px);
}
.block__services li svg {
  width: 90px;
  height: 90px;
}
.block__services li svg path {
  transition: all 0.2s ease-out;
}
.block__services li a {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
}
.block__services li a:hover svg path {
  stroke: #000;
}
.block__services li a:hover span {
  color: #be0c26;
}
.block__services li span {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  transition: all 0.2s ease-out;
}
@media (max-width: 768px) {
  .block__services li span {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .block__services li span {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .block__services li {
    width: calc(33.3333333333% - 16px);
  }
}
@media (max-width: 768px) {
  .block__services li svg {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 480px) {
  .block__services li svg {
    width: 80px;
    height: 80px;
  }
}
.block__services--product-page {
  padding: 50px 0;
}
.block__services--product-page ul {
  gap: 10px;
}
@media (max-width: 480px) {
  .block__services--product-page ul li span {
    font-size: 10px;
  }
}
.block__services-accordeon-list {
  padding: 120px 0;
}
.block__services-accordeon-list .btn {
  position: relative;
  display: inline-block;
  background: linear-gradient(180deg, #760112 0%, #be0c26 100%);
  border: 1px solid #be0c26;
  box-sizing: border-box;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: auto;
  color: #ffffff;
  width: 200px !important;
  padding: 9px 0 !important;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  z-index: 1;
}
.block__services-accordeon-list .btn span {
  position: relative;
  z-index: 2;
  color: #fff;
}
.block__services-accordeon-list .btn::after {
  content: none !important;
}
.block__services-accordeon-list .btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background: linear-gradient(0deg, #760112 0%, #be0c26 100%);
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.block__services-accordeon-list .btn:hover::before {
  opacity: 1;
}
@media (max-width: 991px) {
  .block__services-accordeon-list {
    padding: 20px 0;
  }
}
.block__description {
  padding: 40px 0;
}
@media (max-width: 768px) {
  .block__description {
    padding: 20px;
  }
}

.head {
  transition: all 0.2s ease-out;
}

.product-page--custom .instruction h5 {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #8d8f91;
}
.product-page--custom .instruction ul,
.product-page--custom .instruction li {
  list-style: none;
  padding: 0;
}
.product-page--custom .instruction ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 991px) {
  .product-page--custom .instruction ul {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .product-page--custom .attributes {
    padding: 0;
  }
}
.product-page--custom #review,
.product-page--custom form#form-review {
  box-shadow: none;
}
.product-page--custom #tab-review {
  box-shadow: 0px 4px 30px rgba(9, 44, 86, 0.15);
}
@media (max-width: 991px) {
  .product-page--custom #tab-review {
    box-shadow: none;
  }
}
.product-page--custom #review {
  margin-top: 26px;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-color: #be0c26 #ebeff2;
  scrollbar-width: thin;
  padding-bottom: 0;
}
.product-page--custom #review::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .product-page--custom #review::-webkit-scrollbar {
    width: 5px;
  }
}
.product-page--custom #review::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #ebeff2, #ebeff2), #ebeff2;
  border-radius: 1100px;
}
.product-page--custom #review::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #be0c26, #be0c26), #be0c26;
  border-radius: 1100px;
}
.product-page--custom #review .review-item {
  border-bottom: none;
  background: #EBEFF2;
  border-collapse: collapse;
  border-radius: 5px;
  margin-bottom: 22px;
}
.product-page--custom #review .review-item:nth-last-child(2) {
  margin-bottom: 0;
}
.product-page--custom #review .review-item td hr {
  border-top: 1px solid #8D8F91;
}
@media (max-width: 991px) {
  .product-page--custom #review {
    max-height: 366px;
    padding-right: 10px;
  }
}
.product-page--custom .tabs-wrap .nav-tabs li a {
  margin-right: 0;
}
.product-page--custom .tabs-wrap .nav-tabs li:not(:last-child) {
  margin-right: 76px;
}
.product-page--custom .tabs-wrap .nav-tabs li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -36px;
  width: 3px;
  height: 100%;
  background: #EBEFF2;
}

.item--custom a {
  display: block !important;
}
.item--custom .item__info {
  margin-right: -25px;
  margin-left: -25px;
}
@media (max-width: 991px) {
  .item--custom .item__info {
    margin-right: 0;
    margin-left: 0;
  }
}
.item--custom .item__price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  padding: 0 5px 25px;
  margin-top: -40px;
  gap: 10px;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 1229px) {
  .item--custom .item__price {
    flex-flow: column;
  }
}
@media (max-width: 991px) {
  .item--custom .item__price {
    margin-top: -20px;
  }
}
.item--custom .item__price .regular {
  font-size: 28px;
  color: #be0c26;
}
@media (max-width: 991px) {
  .item--custom .item__price .regular {
    font-size: 22px;
  }
}
.item--custom .item__price .old-price {
  font-size: 16px;
  color: #8d8f91;
  text-decoration: line-through;
}
.item--custom .item__btn {
  position: relative;
  display: inline-block;
  background: linear-gradient(180deg, #760112 0%, #be0c26 100%);
  border: 1px solid #be0c26;
  box-sizing: border-box;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 43px;
  color: #ffffff;
  width: 200px !important;
  padding: 9px 0 !important;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  z-index: 1;
}
.item--custom .item__btn span {
  position: relative;
  z-index: 2;
  color: #fff;
}
.item--custom .item__btn::after {
  content: none !important;
}
.item--custom .item__btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background: linear-gradient(0deg, #760112 0%, #be0c26 100%);
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.item--custom .item__btn:hover::before {
  opacity: 1;
}
@media (max-width: 991px) {
  .item--custom .item__btn {
    margin-bottom: 20px;
  }
}
.item--custom .info {
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
}
.item--custom .info svg {
  display: block;
}
.item--custom .info__row {
  display: flex;
  align-items: center;
  color: #000;
}
.item--custom .info__row:not(:last-child) {
  margin-bottom: 8px;
}
.item--custom .info__group {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.item--custom .info__group::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed rgba(141, 143, 145, 0.8);
}
.item--custom .info__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.item--custom .info__icon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1229px) {
  .item--custom .info__icon {
    display: none;
  }
}
@media (max-width: 480px) {
  .item--custom .info__icon {
    display: flex;
  }
}
.item--custom .info__name {
  position: relative;
  flex-grow: 1;
  display: inline;
  text-align: left;
}
.item--custom .info__name span {
  position: relative;
  z-index: 2;
  padding: 2px 2px 2px 0;
  background: #fff;
}
.item--custom .info__value {
  position: relative;
  z-index: 2;
  text-align: right;
}
.item--custom .info__value span {
  padding: 2px 0 2px 2px;
  background: #fff;
}

.accordeon__item {
  padding: 26px 0;
  border-bottom: 1px solid rgba(47, 46, 46, 0.5);
}
.accordeon__item:first-child {
  border-top: 1px solid rgba(47, 46, 46, 0.5);
}
.accordeon__item.active .accordeon__title::after {
  transform: rotate(45deg);
}
@media (max-width: 500px) {
  .accordeon__item {
    padding: 16px 0;
  }
}
.accordeon__title {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding-right: 100px;
}
.accordeon__title::after {
  content: "";
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.8125 3.90205C23.8125 2.10803 22.3582 0.653687 20.5642 0.653687C18.7702 0.653687 17.3158 2.10803 17.3158 3.90205L17.3158 17.4053L3.81257 17.4053C2.01855 17.4053 0.564209 18.8596 0.564209 20.6536C0.564209 22.4476 2.01855 23.902 3.81257 23.902L17.3158 23.902V37.4053C17.3158 39.1993 18.7702 40.6537 20.5642 40.6537C22.3582 40.6537 23.8125 39.1993 23.8125 37.4053V23.902H37.3158C39.1099 23.902 40.5642 22.4476 40.5642 20.6536C40.5642 18.8596 39.1099 17.4053 37.3158 17.4053L23.8125 17.4053L23.8125 3.90205ZM20.5642 2.0974C19.5675 2.0974 18.7595 2.90537 18.7595 3.90205V18.849H3.81257C2.81589 18.849 2.00793 19.6569 2.00793 20.6536C2.00793 21.0274 2.12155 21.3746 2.31613 21.6626C2.12157 21.3746 2.00797 21.0274 2.00797 20.6537C2.00797 19.657 2.81594 18.849 3.81261 18.849L18.7596 18.849V3.90209C18.7596 2.90541 19.5675 2.09745 20.5642 2.09745C20.9112 2.09745 21.2354 2.19537 21.5105 2.36512C21.2354 2.19535 20.9112 2.0974 20.5642 2.0974ZM22.3689 18.849V18.849H37.3159C37.4831 18.849 37.645 18.8717 37.7987 18.9143C37.645 18.8717 37.4831 18.849 37.3158 18.849L22.3689 18.849ZM18.9014 38.1078C18.81 37.8919 18.7596 37.6545 18.7596 37.4054L18.7596 22.4583H18.7595L18.7595 37.4053C18.7595 37.6545 18.81 37.8919 18.9014 38.1078Z' fill='url(%23paint0_linear_84_1431)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_84_1431' x1='20.5642' y1='0.653687' x2='20.5642' y2='40.6537' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23760112'/%3E%3Cstop offset='1' stop-color='%23BE0C26'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.2s ease-out;
}
@media (max-width: 991px) {
  .accordeon__title::after {
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 991px) {
  .accordeon__title {
    padding-right: 50px;
  }
}
@media (max-width: 500px) {
  .accordeon__title {
    flex-flow: column;
  }
}
.accordeon__caption {
  width: 30%;
}
.accordeon__caption h3 {
  max-width: 314px;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: #2f2e2e;
  margin: 0;
  text-align: left;
}
@media (max-width: 991px) {
  .accordeon__caption h3 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .accordeon__caption h3 {
    margin-bottom: 20px;
  }
  .accordeon__caption h3 br {
    display: none;
  }
}
@media (max-width: 768px) {
  .accordeon__caption {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .accordeon__caption {
    width: 100%;
  }
}
.accordeon__title-img {
  position: relative;
  height: 168px;
  width: 70%;
  overflow: hidden;
}
.accordeon__title-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.accordeon__title-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(3.83deg, #2f2e2e 5.75%, rgba(217, 217, 217, 0) 96.79%);
  background-blend-mode: multiply;
}
@media (max-width: 768px) {
  .accordeon__title-img {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .accordeon__title-img {
    width: 100%;
    height: 80px;
  }
}
.accordeon__content {
  display: none;
  margin-top: 45px;
  padding-right: 100px;
}
@media (max-width: 991px) {
  .accordeon__content {
    padding-right: 50px;
  }
}
@media (max-width: 768px) {
  .accordeon__content {
    margin-top: 20px;
    padding-right: 0;
  }
}
.accordeon__content-body {
  padding-left: 30%;
}
@media (max-width: 768px) {
  .accordeon__content-body {
    padding-left: 0;
  }
}
.accordeon__form {
  margin-top: 50px;
}
.accordeon__form .form__body {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
}
@media (max-width: 768px) {
  .accordeon__form .form__body {
    gap: 15px;
  }
}
.accordeon__form .form__group--select {
  min-width: 172px;
}
@media (max-width: 768px) {
  .accordeon__form .form__group--select {
    flex-grow: 1;
  }
}
.accordeon__form .form__group--input {
  min-width: 245px;
}
@media (max-width: 768px) {
  .accordeon__form .form__group--input {
    flex-grow: 1;
  }
}
.accordeon__form .form__group--btn p {
  margin-top: 12px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2f2e2e;
}
@media (max-width: 676px) {
  .accordeon__form .form__group--btn {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .accordeon__form {
    margin-top: 20px;
  }
}

.popup {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  padding: 10px;
  z-index: 10000;
}
.popup .mfp-close {
  display: none;
}
.popup .btn {
  position: relative;
  display: inline-block;
  background: linear-gradient(180deg, #760112 0%, #be0c26 100%);
  border: 1px solid #be0c26;
  box-sizing: border-box;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: auto;
  color: #ffffff;
  width: 200px !important;
  padding: 9px 0 !important;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  z-index: 1;
}
.popup .btn span {
  position: relative;
  z-index: 2;
  color: #fff;
}
.popup .btn::after {
  content: none !important;
}
.popup .btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  background: linear-gradient(0deg, #760112 0%, #be0c26 100%);
  z-index: 1;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.popup .btn:hover::before {
  opacity: 1;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.popup__close svg {
  transition: all 0.2s ease-out;
}
.popup__close:hover svg {
  stroke: #be0c26;
}
.popup__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  min-height: calc(100% - 3.5rem);
}
.popup__content {
  position: relative;
  display: flex;
  flex-flow: column;
  max-width: 390px;
  margin: 0 auto;
  width: 100%;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(235, 239, 242, 0.5);
  animation: modal-show 0.2s ease-in-out;
}
@media (max-width: 619px) {
  .popup__content {
    padding: 20px;
  }
}
.popup__title {
  margin-bottom: 24px;
  text-align: center;
  font-size: 24px;
  line-height: 120%;
}
.popup__footer h3 {
  font-size: 20px;
  line-height: 120%;
}
.popup__footer p {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
}
.popup__footer a {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
}
.popup__footer a:hover {
  color: #be0c26;
}
.popup .form__body {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.popup .form__body textarea.form-control {
  height: 132px;
  resize: none;
}
.popup .form__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.popup .form__group {
  width: 100%;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .popup .form__group {
    margin-bottom: 16px;
  }
}
.popup .form__label {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
}
.popup .form__radio-group {
  display: flex;
  flex-flow: wrap;
  gap: 8px;
}
.popup .form__radio-label {
  cursor: pointer;
}
.popup .form__radio-label input {
  display: none;
}
.popup .form__radio-label input:checked + span {
  border: 1px solid #be0c26;
}
.popup .form__radio-label span {
  display: block;
  padding: 7px 14px;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #2f2e2e;
  border: 1px solid #8d8f91;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}
.popup .form__radio-label.fixed-width {
  width: 57px;
  text-align: center;
}

.user-login {
  padding-top: 4px;
  font-weight: 300;
  font-size: 13px;
}
.user-login a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
}
@media (max-width: 991px) {
  .user-login {
    padding-top: 18px;
  }
}
@media (max-width: 768px) {
  .user-login {
    padding-top: 13px;
  }
}

#ocd_multilang .dropdown-menu {
  left: unset;
  right: 0;
}
@media (max-width: 991px) {
  #ocd_multilang {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  #ocd_multilang {
    margin-top: 5px;
  }
}/*# sourceMappingURL=new-style.css.map */