<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__left">
				<div class="footer__logo-wrapper">
					<div class="footer__logo">
						<img src="img/logo-white-pink.png" alt="Logo" />
					</div>
					<span>Odesa</span>
				</div>
				<div class="footer__copyright">© 2021–2025, MissOdesa — проект, созданный для удобного поиска массажисток по всей Украине</div>
			</div>
			<ul class="footer__menu">
				<li>
					<ul>
						<li><a href="#">О проекте</a></li>
						<li><a href="#">Реклама на сайте</a></li>
						<li><a href="#">Метро</a></li>
						<li><a href="#">Районы</a></li>
						<li><a href="#">Шоссе</a></li>
						<li><a href="#">Города</a></li>
						<li><a href="#">Блог</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li><a href="#">Пользовательское соглашение для клиентов</a></li>
						<li><a href="#">Пользовательское соглашение для рекламодателей</a></li>
						<li><a href="#">Политика конфиденциальности</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Новости</a></li>
					</ul>
				</li>
			</ul>
			<div class="footer__right">
				<a href="#" class="btn btn--purple-mountains-majesty">
					<i class="icon icon--telegram"></i>
					<span>Telegram</span>
				</a>
				<a href="#" class="btn btn--white btn--numbers">+18</a>
			</div>
		</div>
	</div>
</footer>
