<div class="girl__item">
	<a href="#" class="girl__name"></a>
	<div class="girl__main-info">
		<div class="left-side">
			<div class="girl__photo">
				<a href="#"></a>
				<div class="girl__photo-image">
					<img decoding="async" src="" alt="" />
				</div>
			</div>
			<div class="girl__badges">
			</div>
			<div class="girl__state">
  			</div>
		</div>
		<div class="right-side">
			<div class="girl__details">
				<div class="girl__location">
					<h4></h4>
					<p></p>
				</div>
				<div class="girl__dimensions">
				</div>
				<div class="girl__tags">
					
				</div>
			</div>
		</div>
	</div>
	<div class="girl__contacts">
		<div class="girl__messenger-list">
  		</div>

		<div class="girl__phone">
			<button class="btn btn--primary">Показать телефон</button>
		</div>
	</div>
	<ul class="girl__features">
	</ul>
	<div class="girl__description"></div>
</div>
