<section class="section section--girls-slider">
	<div class="container">
		<h2 class="title"></h2>
		<div class="girls-slider">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="girl__item">
							<a href="#" class="girl__name">Ксюша</a>
							<div class="girl__main-info">
								<div class="left-side">
									<div class="girl__photo">
										<a href="#"></a>
										<div class="girl__photo-image">
											<img decoding="async" src="img/girls/08.webp" alt="Ксюша" />
										</div>
									</div>
									<div class="girl__badges">
										<div class="girl__badge" style="--color-badge-bg: var(--cinnabar)">Новая</div>
									</div>
									<div class="girl__state">
										<button class="girl__video">
											<i class="icon icon--play"></i>
										</button>
										 
										<div class="girl__photo-status">Фото проверенно</div>
										 
										<div class="girl__network girl__network--online">
											<span>Сейчас онлайн</span>
											<span></span>
										</div>
						
									</div>
									<div class="girl__comment">
										<i class="icon icon--comments"></i>
										<span>12</span>
									</div>
								</div>
								<div class="right-side">
									<div class="girl__details">
										<div class="girl__location">
											<h4>Одесса</h4>
											<p>Центр</p>
										</div>
										<div class="girl__dimensions">
											<div class="dim-row">
												<div class="dim-name">Возраст:</div>
												<div class="dim-value">21</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Грудь:</div>
												<div class="dim-value">2</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Вес:</div>
												<div class="dim-value">51</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Рост:</div>
												<div class="dim-value">160</div>
											</div>
										</div>
										<div class="girl__tags">
											  					<div class="girl__tag" style="--color-tag-bg: var(--finn);">Индивидуалка</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">МБР</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">Фетиш</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">Секс классический</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--finn);">VIP</div>
											  
										</div>
									</div>
								</div>
							</div>
							<div class="girl__contacts">
								<div class="girl__messenger-list">
									<a class="btn btn--curious-blue" href="https://t.me/nikname">
										<i class="icon icon--telegram"></i>
									</a>
									 
									<a class="btn btn--emerald" href="https://wa.me/380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
									 
									<a class="btn btn--studio" href="viber://chat?number&#x3D;%2B380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
								</div>
						
								<div class="girl__phone">
									<button class="btn btn--primary">Показать телефон</button>
								</div>
							</div>
							<ul class="girl__features">
						
								<li>
									<span class="f-icon">
										<img src="img/1hour.webp" alt="" />
									</span>
									<span class="f-name">Час 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/2hours.webp" alt="" />
									</span>
									<span class="f-name">Часa 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/moon.webp" alt="" />
									</span>
									<span class="f-name">Ночь 12000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/clock.webp" alt="" />
									</span>
									<span class="f-name">Экспресс</span>
								</li>
						
							</ul>
							<div class="girl__description">Яркая красотка с аппетитной фигуройи горячимтемпераментом! Буду самой изысканной, развратной и ненасытной!</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="girl__item">
							<a href="#" class="girl__name">Кристина</a>
							<div class="girl__main-info">
								<div class="left-side">
									<div class="girl__photo">
										<a href="#"></a>
										<div class="girl__photo-image">
											<img decoding="async" src="img/girls/01.webp" alt="Кристина" />
										</div>
									</div>
									<div class="girl__badges">
									</div>
									<div class="girl__state">
										<button class="girl__video">
											<i class="icon icon--play"></i>
										</button>
										 
										<div class="girl__photo-status">Фото проверенно</div>
										 
										<div class="girl__network girl__network--online">
											<span>Сейчас онлайн</span>
											<span></span>
										</div>
						
									</div>
								</div>
								<div class="right-side">
									<div class="girl__details">
										<div class="girl__location">
											<h4>Одесса</h4>
											<p>Центр</p>
										</div>
										<div class="girl__dimensions">
											<div class="dim-row">
												<div class="dim-name">Возраст:</div>
												<div class="dim-value">22</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Грудь:</div>
												<div class="dim-value">3</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Вес:</div>
												<div class="dim-value">51</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Рост:</div>
												<div class="dim-value">160</div>
											</div>
										</div>
										<div class="girl__tags">
											  					<div class="girl__tag" style="--color-tag-bg: var(--finn);">Индивидуалка</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">Секс классический</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--finn);">VIP</div>
											  
										</div>
									</div>
								</div>
							</div>
							<div class="girl__contacts">
								<div class="girl__messenger-list">
									<a class="btn btn--curious-blue" href="https://t.me/nikname">
										<i class="icon icon--telegram"></i>
									</a>
									 
									<a class="btn btn--emerald" href="https://wa.me/380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
									 
									<a class="btn btn--studio" href="viber://chat?number&#x3D;%2B380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
								</div>
						
								<div class="girl__phone">
									<button class="btn btn--primary">Показать телефон</button>
								</div>
							</div>
							<ul class="girl__features">
						
								<li>
									<span class="f-icon">
										<img src="img/1hour.webp" alt="" />
									</span>
									<span class="f-name">Час 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/2hours.webp" alt="" />
									</span>
									<span class="f-name">Часa 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/moon.webp" alt="" />
									</span>
									<span class="f-name">Ночь 12000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/clock.webp" alt="" />
									</span>
									<span class="f-name">Экспресс</span>
								</li>
						
							</ul>
							<div class="girl__description">Яркая красотка </div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="girl__item">
							<a href="#" class="girl__name">Anna</a>
							<div class="girl__main-info">
								<div class="left-side">
									<div class="girl__photo">
										<a href="#"></a>
										<div class="girl__photo-image">
											<img decoding="async" src="img/girls/03.webp" alt="Anna" />
										</div>
									</div>
									<div class="girl__badges">
									</div>
									<div class="girl__state">
						 
										<div class="girl__photo-status">Фото проверенно</div>
										 
										<div class="girl__network girl__network--online">
											<span>Сейчас онлайн</span>
											<span></span>
										</div>
						
									</div>
								</div>
								<div class="right-side">
									<div class="girl__details">
										<div class="girl__location">
											<h4>Одесса</h4>
											<p>Центр</p>
										</div>
										<div class="girl__dimensions">
											<div class="dim-row">
												<div class="dim-name">Возраст:</div>
												<div class="dim-value">21</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Грудь:</div>
												<div class="dim-value">2</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Вес:</div>
												<div class="dim-value">51</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Рост:</div>
												<div class="dim-value">160</div>
											</div>
										</div>
										<div class="girl__tags">
											  					<div class="girl__tag" style="--color-tag-bg: var(--finn);">Индивидуалка</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">МБР</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">Фетиш</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">Секс классический</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--finn);">VIP</div>
											  
										</div>
									</div>
								</div>
							</div>
							<div class="girl__contacts">
								<div class="girl__messenger-list">
									<a class="btn btn--curious-blue" href="https://t.me/nikname">
										<i class="icon icon--telegram"></i>
									</a>
									 
									<a class="btn btn--emerald" href="https://wa.me/380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
									 
									<a class="btn btn--studio" href="viber://chat?number&#x3D;%2B380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
								</div>
						
								<div class="girl__phone">
									<button class="btn btn--primary">Показать телефон</button>
								</div>
							</div>
							<ul class="girl__features">
						
								<li>
									<span class="f-icon">
										<img src="img/1hour.webp" alt="" />
									</span>
									<span class="f-name">Час 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/2hours.webp" alt="" />
									</span>
									<span class="f-name">Часa 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/moon.webp" alt="" />
									</span>
									<span class="f-name">Ночь 12000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/clock.webp" alt="" />
									</span>
									<span class="f-name">Экспресс</span>
								</li>
						
							</ul>
							<div class="girl__description">Яркая красотка с аппетитной фигуройи горячимтемпераментом! Буду самой изысканной, развратной и ненасытной!</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="girl__item">
							<a href="#" class="girl__name">Ксюша</a>
							<div class="girl__main-info">
								<div class="left-side">
									<div class="girl__photo">
										<a href="#"></a>
										<div class="girl__photo-image">
											<img decoding="async" src="img/girls/02.webp" alt="Ксюша" />
										</div>
									</div>
									<div class="girl__badges">
									</div>
									<div class="girl__state">
						 
										<div class="girl__photo-status">Фото проверенно</div>
										 
										<div class="girl__network girl__network--online">
											<span>Сейчас онлайн</span>
											<span></span>
										</div>
						
									</div>
								</div>
								<div class="right-side">
									<div class="girl__details">
										<div class="girl__location">
											<h4>Одесса</h4>
											<p>Центр</p>
										</div>
										<div class="girl__dimensions">
											<div class="dim-row">
												<div class="dim-name">Возраст:</div>
												<div class="dim-value">21</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Грудь:</div>
												<div class="dim-value">2</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Вес:</div>
												<div class="dim-value">51</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Рост:</div>
												<div class="dim-value">160</div>
											</div>
										</div>
										<div class="girl__tags">
											  					<div class="girl__tag" style="--color-tag-bg: var(--finn);">Индивидуалка</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">МБР</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">Фетиш</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">Секс классический</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--finn);">VIP</div>
											  
										</div>
									</div>
								</div>
							</div>
							<div class="girl__contacts">
								<div class="girl__messenger-list">
									<a class="btn btn--curious-blue" href="https://t.me/nikname">
										<i class="icon icon--telegram"></i>
									</a>
									 
									<a class="btn btn--emerald" href="https://wa.me/380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
									 
									<a class="btn btn--studio" href="viber://chat?number&#x3D;%2B380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
								</div>
						
								<div class="girl__phone">
									<button class="btn btn--primary">Показать телефон</button>
								</div>
							</div>
							<ul class="girl__features">
						
								<li>
									<span class="f-icon">
										<img src="img/1hour.webp" alt="" />
									</span>
									<span class="f-name">Час 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/2hours.webp" alt="" />
									</span>
									<span class="f-name">Часa 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/moon.webp" alt="" />
									</span>
									<span class="f-name">Ночь 12000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/clock.webp" alt="" />
									</span>
									<span class="f-name">Экспресс</span>
								</li>
						
							</ul>
							<div class="girl__description">Яркая красотка с аппетитной фигуройи горячимтемпераментом! Буду самой изысканной, развратной и ненасытной!</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="girl__item">
							<a href="#" class="girl__name">Ангелина</a>
							<div class="girl__main-info">
								<div class="left-side">
									<div class="girl__photo">
										<a href="#"></a>
										<div class="girl__photo-image">
											<img decoding="async" src="img/girls/09.webp" alt="Ангелина" />
										</div>
									</div>
									<div class="girl__badges">
									</div>
									<div class="girl__state">
										<button class="girl__video">
											<i class="icon icon--play"></i>
										</button>
										  			</div>
								</div>
								<div class="right-side">
									<div class="girl__details">
										<div class="girl__location">
											<h4>Одесса</h4>
											<p>Киевский</p>
										</div>
										<div class="girl__dimensions">
											<div class="dim-row">
												<div class="dim-name">Возраст:</div>
												<div class="dim-value">23</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Грудь:</div>
												<div class="dim-value">3</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Вес:</div>
												<div class="dim-value">53</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Рост:</div>
												<div class="dim-value">160</div>
											</div>
										</div>
										<div class="girl__tags">
											  					<div class="girl__tag" style="--color-tag-bg: var(--finn);">Менеджер</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">Анал</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">МБР</div>
											  
										</div>
									</div>
								</div>
							</div>
							<div class="girl__contacts">
								<div class="girl__messenger-list">
									<a class="btn btn--curious-blue" href="https://t.me/nikname">
										<i class="icon icon--telegram"></i>
									</a>
									 
									<a class="btn btn--emerald" href="https://wa.me/380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
									 		</div>
						
								<div class="girl__phone">
									<button class="btn btn--primary">Показать телефон</button>
								</div>
							</div>
							<ul class="girl__features">
						
								<li>
									<span class="f-icon">
										<img src="img/1hour.webp" alt="" />
									</span>
									<span class="f-name">Час 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/2hours.webp" alt="" />
									</span>
									<span class="f-name">Часa 4000грн</span>
								</li>
						
							</ul>
							<div class="girl__description">Яркая красотка с аппетитной фигуройи горячимтемпераментом! Буду самой изысканной, развратной и ненасытной!</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="girl__item">
							<a href="#" class="girl__name">Ангелина</a>
							<div class="girl__main-info">
								<div class="left-side">
									<div class="girl__photo">
										<a href="#"></a>
										<div class="girl__photo-image">
											<img decoding="async" src="img/girls/04.webp" alt="Ангелина" />
										</div>
									</div>
									<div class="girl__badges">
									</div>
									<div class="girl__state">
										<button class="girl__video">
											<i class="icon icon--play"></i>
										</button>
										  			</div>
								</div>
								<div class="right-side">
									<div class="girl__details">
										<div class="girl__location">
											<h4>Одесса</h4>
											<p>Киевский</p>
										</div>
										<div class="girl__dimensions">
											<div class="dim-row">
												<div class="dim-name">Возраст:</div>
												<div class="dim-value">23</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Грудь:</div>
												<div class="dim-value">3</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Вес:</div>
												<div class="dim-value">53</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Рост:</div>
												<div class="dim-value">160</div>
											</div>
										</div>
										<div class="girl__tags">
											  					<div class="girl__tag" style="--color-tag-bg: var(--finn);">Менеджер</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">Анал</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">МБР</div>
											  
										</div>
									</div>
								</div>
							</div>
							<div class="girl__contacts">
								<div class="girl__messenger-list">
						 
									<a class="btn btn--emerald" href="https://wa.me/380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
									 
									<a class="btn btn--studio" href="viber://chat?number&#x3D;%2B380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
								</div>
						
								<div class="girl__phone">
									<button class="btn btn--primary">Показать телефон</button>
								</div>
							</div>
							<ul class="girl__features">
						
								<li>
									<span class="f-icon">
										<img src="img/1hour.webp" alt="" />
									</span>
									<span class="f-name">Час 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/2hours.webp" alt="" />
									</span>
									<span class="f-name">Часa 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/car.webp" alt="" />
									</span>
									<span class="f-name">Только выезд</span>
								</li>
						
							</ul>
							<div class="girl__description">Яркая красотка с аппетитной фигуройи горячимтемпераментом! Буду самой изысканной, развратной и ненасытной!</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="girl__item">
							<a href="#" class="girl__name">Ангелина</a>
							<div class="girl__main-info">
								<div class="left-side">
									<div class="girl__photo">
										<a href="#"></a>
										<div class="girl__photo-image">
											<img decoding="async" src="img/girls/05.webp" alt="Ангелина" />
										</div>
									</div>
									<div class="girl__badges">
									</div>
									<div class="girl__state">
										<button class="girl__video">
											<i class="icon icon--play"></i>
										</button>
										  			</div>
								</div>
								<div class="right-side">
									<div class="girl__details">
										<div class="girl__location">
											<h4>Одесса</h4>
											<p>Киевский</p>
										</div>
										<div class="girl__dimensions">
											<div class="dim-row">
												<div class="dim-name">Возраст:</div>
												<div class="dim-value">23</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Грудь:</div>
												<div class="dim-value">3</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Вес:</div>
												<div class="dim-value">53</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Рост:</div>
												<div class="dim-value">160</div>
											</div>
										</div>
										<div class="girl__tags">
											  					<div class="girl__tag" style="--color-tag-bg: var(--finn);">Менеджер</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">Анал</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">МБР</div>
											  
										</div>
									</div>
								</div>
							</div>
							<div class="girl__contacts">
								<div class="girl__messenger-list">
						  
									<a class="btn btn--studio" href="viber://chat?number&#x3D;%2B380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
								</div>
						
								<div class="girl__phone">
									<button class="btn btn--primary">Показать телефон</button>
								</div>
							</div>
							<ul class="girl__features">
						
								<li>
									<span class="f-icon">
										<img src="img/1hour.webp" alt="" />
									</span>
									<span class="f-name">Час 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/2hours.webp" alt="" />
									</span>
									<span class="f-name">Часa 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/apt.webp" alt="" />
									</span>
									<span class="f-name">Только у меня</span>
								</li>
						
							</ul>
							<div class="girl__description">Яркая красотка с аппетитной фигуройи горячимтемпераментом! Буду самой изысканной, развратной и ненасытной!</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="girl__item">
							<a href="#" class="girl__name">Ангелина</a>
							<div class="girl__main-info">
								<div class="left-side">
									<div class="girl__photo">
										<a href="#"></a>
										<div class="girl__photo-image">
											<img decoding="async" src="img/girls/06.webp" alt="Ангелина" />
										</div>
									</div>
									<div class="girl__badges">
									</div>
									<div class="girl__state">
										<button class="girl__video">
											<i class="icon icon--play"></i>
										</button>
										  			</div>
								</div>
								<div class="right-side">
									<div class="girl__details">
										<div class="girl__location">
											<h4>Одесса</h4>
											<p>Киевский</p>
										</div>
										<div class="girl__dimensions">
											<div class="dim-row">
												<div class="dim-name">Возраст:</div>
												<div class="dim-value">23</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Грудь:</div>
												<div class="dim-value">3</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Вес:</div>
												<div class="dim-value">53</div>
											</div>
											<div class="dim-row">
												<div class="dim-name">Рост:</div>
												<div class="dim-value">160</div>
											</div>
										</div>
										<div class="girl__tags">
											  					<div class="girl__tag" style="--color-tag-bg: var(--finn);">Менеджер</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">Анал</div>
											    					<div class="girl__tag" style="--color-tag-bg: var(--orchid);">МБР</div>
											  
										</div>
									</div>
								</div>
							</div>
							<div class="girl__contacts">
								<div class="girl__messenger-list">
						 
									<a class="btn btn--emerald" href="https://wa.me/380XXXXXXXXX">
										<i class="icon icon--whatsapp"></i>
									</a>
									 		</div>
						
								<div class="girl__phone">
									<button class="btn btn--primary">Показать телефон</button>
								</div>
							</div>
							<ul class="girl__features">
						
								<li>
									<span class="f-icon">
										<img src="img/1hour.webp" alt="" />
									</span>
									<span class="f-name">Час 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/2hours.webp" alt="" />
									</span>
									<span class="f-name">Часa 4000грн</span>
								</li>
						
						
								<li>
									<span class="f-icon">
										<img src="img/apt.webp" alt="" />
									</span>
									<span class="f-name">Только у меня</span>
								</li>
						
							</ul>
							<div class="girl__description">Яркая красотка с аппетитной фигуройи горячимтемпераментом! Буду самой изысканной, развратной и ненасытной!</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>