<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<div class="header__logo-wrapper">
				<a href="index.html" class="header__logo">
					<img src="img/logo-white-pink.png" alt="Logo" />
				</a>
				<span>Odesa</span>
			</div>
			<div class="header__center-block">
				<div class="header__top">
					<button class="header__menu">
						<i class="icon icon--burger"></i>
					</button>
					<div class="header__search">
						<input type="text" class="header__search-input" placeholder="Search" />

						<button class="header__search-btn">
							<img src="img/search.png" alt="search" />
						</button>
					</div>

					<a class="btn btn--white" href="#">Смотреть на карте</a>
				</div>
				<nav class="header__nav-desktop-wrapper">
					<ul class="header__nav-desktop">
						<li>
							<a href="#">Все анкеты</a>
						</li>
						<li>
							<a href="#">Жду звонка </a>
						</li>
						<li>
							<a href="#">Жду звонка </a>
						</li>
						<li>
							<a href="#">Новые анкеты </a>
						</li>
						<li>
							<a href="#">Фото проверенно </a>
						</li>
						<li>
							<a href="#">Анкеты с видео </a>
						</li>
						<li>
							<a href="#">Недорого</a>
						</li>
						<li>
							<a href="#">VIP</a>
						</li>
						<li>
							<a href="#">Отзывы</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header__actions">
				<a href="#" class="btn btn--primary">Добавить анкету</a>
				<div class="header__actions-bottom">
					<a href="#">
						<img src="img/login.png" alt="" />
						<span>Войти</span>
					</a>
					<a href="#">
						<img src="img/location.png" alt="" />
						<span>Города</span>
					</a>
				</div>
			</div>
			<nav class="header__nav-mobile-wrapper">
				<ul class="header__nav-mobile">
					<li>
						<a href="#">Новые</a>
					</li>
					<li>
						<a href="#">Дешевые </a>
					</li>
					<li>
						<a href="#">Элитные </a>
					</li>
					<li>
						<a href="#">Проверенные </a>
					</li>
					<li>
						<a href="#">Фото проверенно </a>
					</li>
					<li>
						<a href="#">Анкеты с видео </a>
					</li>
					<li>
						<a href="#">Недорого</a>
					</li>
					<li>
						<a href="#">VIP</a>
					</li>
					<li>
						<a href="#">Отзывы</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
