<section class="section">
	<div class="container">
		<div class="tags__list">
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#" style="--color-tag-bg: var(--hot-pink)">#Хештег</a>
			<a class="tags__item" href="#" style="--color-tag-bg: var(--studio)">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
			<a class="tags__item" href="#">#Хештег</a>
		</div>
	</div>
</section>