<div class="fixed bg-white h-[60vh] w-[30vw] z-[99999] right-0 bottom-0 shadow-modal-shadow rounded-tl-[1.0625rem] min-h-[20rem] p-[1rem] xxlg:w-[40vw] lg:w-[50vw] md:w-[80vw] lw:w-[90vw]">
	<button class="group absolute left-[-1rem] z-10 top-[-1rem] rounded-[50%] border-white border-[0.0625rem]">
		<svg class="h-10 w-10" width="105" height="107" viewBox="0 0 105 107" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path class="duration-300 ease-out group-hover:fill-indigo-500 dark:fill-black" d="M52.5 107C81.4949 107 105 83.0472 105 53.5C105 23.9528 81.4949 0 52.5 0C23.505 0 0 23.9528 0 53.5C0 83.0472 23.505 107 52.5 107Z" fill="black" />
			<path class="duration-300 ease-out group-hover:fill-indigo-500 dark:fill-black" d="M70 36L35 71L70 36ZM35 36L70 71L35 36Z" fill="black" />
			<path class="dark:stroke-white" d="M70 36L35 71M35 36L70 71" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
	</button>
	<div class="max-h-[calc(100%-7rem)] overflow-y-auto pr-[1rem] pb-[1rem]">
		<div class="flex max-w-[90%] items-center gap-[1rem] rounded-[1.1875rem] p-[0.5rem] text-[1rem] leading-[115%] shadow-message bg-blue-100 md:flex-col md:items-start">
			<p>02/03/2020</p>
			<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
		</div>
		<div class="mt-[1rem] flex flex-row-reverse">
			<div class="flex max-w-[90%] items-center gap-[1rem] rounded-[1.1875rem] p-[0.5rem] text-[1rem] leading-[115%] shadow-message bg-orange-100 md:flex-col md:items-start">
				<p>02/03/2020</p>
				<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
			</div>
		</div>

		<div class="mt-[1rem] flex max-w-[90%] items-center gap-[1rem] rounded-[1.1875rem] p-[0.5rem] text-[1rem] leading-[115%] shadow-message bg-blue-100 md:flex-col md:items-start">
			<p>02/03/2020</p>
			<p>Amet minim mollit non deserunt ullamco est </p>
		</div>

		<div class="mt-[1rem] flex flex-row-reverse">
			<div class="flex max-w-[90%] items-center gap-[1rem] rounded-[1.1875rem] p-[0.5rem] text-[1rem] leading-[115%] shadow-message bg-orange-100 md:flex-col md:items-start">
				<p>02/03/2020</p>
				<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
			</div>
		</div>
		<div class="mt-[1rem] flex flex-row-reverse">
			<div class="flex max-w-[90%] items-center gap-[1rem] rounded-[1.1875rem] p-[0.5rem] text-[1rem] leading-[115%] shadow-message bg-orange-100 md:flex-col md:items-start">
				<p>02/03/2020</p>
				<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
			</div>
		</div>

	</div>


	<div class="absolute bottom-0 left-0 h-28 w-full rounded-tl-[3.125rem] rounded-tr-[3.125rem] bg-white pb-1 pl-8 pr-[6rem] pt-8 shadow-custom">
		<textarea class="h-full w-full resize-none border-none bg-transparent placeholder-silver-chalice shadow-transparent outline-none active:shadow-transparent" placeholder="Message" name="message"></textarea>
		<button class="absolute right-[2.5rem] top-[40%]">
			<svg class="w-10 h-10" width="55" height="53" viewBox="0 0 55 53" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M0 26.5C0 27.5039 0.362124 28.4666 1.00671 29.1764C1.65129 29.8862 2.52554 30.285 3.43712 30.285H43.2595L28.5006 46.5304C27.8552 47.2411 27.4926 48.2051 27.4926 49.2102C27.4926 50.2153 27.8552 51.1793 28.5006 51.89C29.146 52.6007 30.0213 53 30.934 53C31.8468 53 32.7221 52.6007 33.3675 51.89L53.9902 29.1798C54.3103 28.8282 54.5643 28.4105 54.7375 27.9507C54.9108 27.4908 55 26.9979 55 26.5C55 26.0021 54.9108 25.5092 54.7375 25.0493C54.5643 24.5895 54.3103 24.1718 53.9902 23.8202L33.3675 1.11001C32.7221 0.399281 31.8468 0 30.934 0C30.0213 0 29.146 0.399281 28.5006 1.11001C27.8552 1.82074 27.4926 2.78469 27.4926 3.78981C27.4926 4.79493 27.8552 5.75888 28.5006 6.46961L43.2595 22.715H3.43712C2.52554 22.715 1.65129 23.1137 1.00671 23.8236C0.362124 24.5334 0 25.4961 0 26.5Z" fill="#232532" />
			</svg>
		</button>
	</div>

</div>